<!-- Loop the categories -->
<% @content.each do |cat| %>

    <div class="wl-widget-item">
    
        <h3><%= cat['title'] %></h3>     
        <div class="css-content">
        <% cat['content']['selectors'].each do |selector| %>
        
            <% if selector['type'] == "description" %>
                <p class="description"><%= selector['value'] %></p>
            <% else %>
                <pre class="selector"><%= selector['value'] %></pre>
            <% end %>
                
        <% end %>            
        </div>
          
    </div>
<% end %>       
