<link href=""></link>

<% content_for :title do %> - SDK - Style guide &amp; endpoints<% end %>
<div id="reusable-css" class="widgetsdk_container">
    <h1>Reusable CSS pieces/templates</h1>
    
    <!-- Check if object isn't emtpy -->
    <% if !@content.blank? %>

        <!-- Render the categories -->    
        <%= render :partial => "sdk/style-guide/reusable-css-categories",  :locals => { :content => @content }%>
                       
    <% else %>
        <p>No results</p>
    <% end %>   
    <hr class="wl-push wl-hidden"/>
</div>
