<link href=""></link>

<% content_for :title do %> - SDK - Style guide &amp; endpoints<% end %>
<div id="reusable-css" class="widgetsdk_container">
    <h1>Reusable CSS pieces/templates</h1>
    
    <!-- Versions -->
    <% if !@versions.blank? %>
        <select name="versions" id="dpdVersions">
        <% @versions.each do |version| %>
            <option value="<%= version %>"<% if version == @version %> selected="selected"<% end %>><%= version %></option>
        <% end %>
        </select>
        
        <!-- Render the categories -->    
        <%= render :partial => "sdk/style-guide/versions/" + @version,  :locals => { :content => @content }%>
                       
    <% else %>
        <p>No results</p>
    <% end %>   
    <hr class="wl-push wl-hidden"/>
</div>
