<% content_for :head do %>
    <%= stylesheet_link_tag "allcategories" %>
<% end %>

<div id="allcategories_sorty_by">
    Sort by <a href="#" title="Sort by" class="wl-regular-link"><span id="allcategories_sort_method">Most Popular</span> <span id="allcategories_sort_down_arrow">&#9660</span></a>
</div>
<h1>All categories 1-20 of 22</h1>
<div class="wl-widget-item">
    <img src="images/default_widget_icon.png" alt="Facebook" class="wl-widget-item-icon"/>
    <a href="#" title="Facebook" class="wl-regular-link wl-bold wl-widget-item_widgetname">Facebook</a>
    by <a href="#" title="by Stuart Freeman" class="wl-regular-link">Stuart Freeman</a>
    <div class="wl-rating-container">
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon"></div>
        <a href="#" title="42 Ratings" class="wl-regular-link wl-number-of-ratings">42 Ratings</a>
    </div>
</div>
<div class="wl-widget-item">
    <img src="images/default_widget_icon.png" alt="Twitter" class="wl-widget-item-icon"/>
    <a href="#" title="Twitter" class="wl-regular-link wl-bold wl-widget-item_widgetname">Twitter</a>
    by <a href="#" title="by Maarten Bressinck" class="wl-regular-link">Maarten Bressinck</a>
    <div class="wl-rating-container">
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <a href="#" title="12 Ratings" class="wl-regular-link wl-number-of-ratings">12 Ratings</a>
    </div>
</div>
<div class="wl-widget-item">
    <img src="images/default_widget_icon.png" alt="Yahoo Weather" class="wl-widget-item-icon"/>
    <a href="#" title="Yahoo Weather" class="wl-regular-link wl-bold wl-widget-item_widgetname">Yahoo Weather</a>
    by <a href="#" title="by Anne-Sophie De Baets" class="wl-regular-link">Anne-Sophie De Baets</a>
    <div class="wl-rating-container">
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <a href="#" title="89 Ratings" class="wl-regular-link wl-number-of-ratings">89 Ratings</a>
    </div>
</div>
<div class="wl-widget-item">
    <img src="images/default_widget_icon.png" alt="Last.FM" class="wl-widget-item-icon"/>
    <a href="#" title="Last.FM" class="wl-regular-link wl-bold wl-widget-item_widgetname">Last.FM</a>
    by <a href="#" title="by Nicolaas Matthijs" class="wl-regular-link">Nicolaas Matthijs</a>
    <div class="wl-rating-container">
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <a href="#" title="25 Ratings" class="wl-regular-link wl-number-of-ratings">25 Ratings</a>
    </div>
</div>
<div class="wl-widget-item">
    <img src="images/default_widget_icon.png" alt="Youtube" class="wl-widget-item-icon"/>
    <a href="#" title="Youtube" class="wl-regular-link wl-bold wl-widget-item_widgetname">Youtube</a>
    by <a href="#" title="by Chris Roby" class="wl-regular-link">Chris Roby</a>
    <div class="wl-rating-container">
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon"></div>
        <a href="#" title="2 Ratings" class="wl-regular-link wl-number-of-ratings">2 Ratings</a>
    </div>
</div>
<div class="wl-widget-item">
    <img src="images/default_widget_icon.png" alt="Vimeo" class="wl-widget-item-icon"/>
    <a href="#" title="Vimeo" class="wl-regular-link wl-bold wl-widget-item_widgetname">Vimeo</a>
    by <a href="#" title="by James Sloane" class="wl-regular-link">James Sloane</a>
    <div class="wl-rating-container">
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <a href="#" title="11 Ratings" class="wl-regular-link wl-number-of-ratings">11 Ratings</a>
    </div>
</div>
<div class="wl-widget-item">
    <img src="images/default_widget_icon.png" alt="Tic Tac Toe" class="wl-widget-item-icon"/>
    <a href="#" title="Tic Tac Toe" class="wl-regular-link wl-bold wl-widget-item_widgetname">Tic Tac Toe</a>
    by <a href="#" title="by Dave Roma" class="wl-regular-link">Dave Roma</a>
    <div class="wl-rating-container">
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <a href="#" title="65 Ratings" class="wl-regular-link wl-number-of-ratings">65 Ratings</a>
    </div>
</div>
<div class="wl-widget-item">
    <img src="images/default_widget_icon.png" alt="Pastebin" class="wl-widget-item-icon"/>
    <a href="#" title="Pastebin" class="wl-regular-link wl-bold wl-widget-item_widgetname">Pastebin</a>
    by <a href="#" title="by Bert Pareyn" class="wl-regular-link">Bert Pareyn</a>
    <div class="wl-rating-container">
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <a href="#" title="42 Ratings" class="wl-regular-link wl-number-of-ratings">42 Ratings</a>
    </div>
</div>
<div class="wl-widget-item">
    <img src="images/default_widget_icon.png" alt="Twitter" class="wl-widget-item-icon"/>
    <a href="#" title="Twitter" class="wl-regular-link wl-bold wl-widget-item_widgetname">Twitter</a>
    by <a href="#" title="by Maarten Bressinck" class="wl-regular-link">Maarten Bressinck</a>
    <div class="wl-rating-container">
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <a href="#" title="12 Ratings" class="wl-regular-link wl-number-of-ratings">12 Ratings</a>
    </div>
</div>
<div class="wl-widget-item">
    <img src="images/default_widget_icon.png" alt="Yahoo Weather" class="wl-widget-item-icon"/>
    <a href="#" title="Yahoo Weather" class="wl-regular-link wl-bold wl-widget-item_widgetname">Yahoo Weather</a>
    by <a href="#" title="by Anne-Sophie De Baets" class="wl-regular-link">Anne-Sophie De Baets</a>
    <div class="wl-rating-container">
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <a href="#" title="89 Ratings" class="wl-regular-link wl-number-of-ratings">89 Ratings</a>
    </div>
</div>
<div class="wl-widget-item">
    <img src="images/default_widget_icon.png" alt="Last.FM" class="wl-widget-item-icon"/>
    <a href="#" title="Last.FM" class="wl-regular-link wl-bold wl-widget-item_widgetname">Last.FM</a>
    by <a href="#" title="by Nicolaas Matthijs" class="wl-regular-link">Nicolaas Matthijs</a>
    <div class="wl-rating-container">
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <a href="#" title="25 Ratings" class="wl-regular-link wl-number-of-ratings">25 Ratings</a>
    </div>
</div>
<div class="wl-widget-item">
    <img src="images/default_widget_icon.png" alt="Youtube" class="wl-widget-item-icon"/>
    <a href="#" title="Youtube" class="wl-regular-link wl-bold wl-widget-item_widgetname">Youtube</a>
    by <a href="#" title="by Chris Roby" class="wl-regular-link">Chris Roby</a>
    <div class="wl-rating-container">
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon"></div>
        <a href="#" title="2 Ratings" class="wl-regular-link wl-number-of-ratings">2 Ratings</a>
    </div>
</div>
<div class="wl-widget-item">
    <img src="images/default_widget_icon.png" alt="Vimeo" class="wl-widget-item-icon"/>
    <a href="#" title="Vimeo" class="wl-regular-link wl-bold wl-widget-item_widgetname">Vimeo</a>
    by <a href="#" title="by James Sloane" class="wl-regular-link">James Sloane</a>
    <div class="wl-rating-container">
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <a href="#" title="11 Ratings" class="wl-regular-link wl-number-of-ratings">11 Ratings</a>
    </div>
</div>
<div class="wl-widget-item">
    <img src="images/default_widget_icon.png" alt="Tic Tac Toe" class="wl-widget-item-icon"/>
    <a href="#" title="Tic Tac Toe" class="wl-regular-link wl-bold wl-widget-item_widgetname">Tic Tac Toe</a>
    by <a href="#" title="by Dave Roma" class="wl-regular-link">Dave Roma</a>
    <div class="wl-rating-container">
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <a href="#" title="65 Ratings" class="wl-regular-link wl-number-of-ratings">65 Ratings</a>
    </div>
</div>
<div class="wl-widget-item">
    <img src="images/default_widget_icon.png" alt="Pastebin" class="wl-widget-item-icon"/>
    <a href="#" title="Pastebin" class="wl-regular-link wl-bold wl-widget-item_widgetname">Pastebin</a>
    by <a href="#" title="by Bert Pareyn" class="wl-regular-link">Bert Pareyn</a>
    <div class="wl-rating-container">
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <a href="#" title="42 Ratings" class="wl-regular-link wl-number-of-ratings">42 Ratings</a>
    </div>
</div>
<div class="wl-widget-item">
    <img src="images/default_widget_icon.png" alt="Facebook" class="wl-widget-item-icon"/>
    <a href="#" title="Facebook" class="wl-regular-link wl-bold wl-widget-item_widgetname">Facebook</a>
    by <a href="#" title="by Stuart Freeman" class="wl-regular-link">Stuart Freeman</a>
    <div class="wl-rating-container">
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon"></div>
        <a href="#" title="42 Ratings" class="wl-regular-link wl-number-of-ratings">42 Ratings</a>
    </div>
</div>