<h1>Featured</h1>
<div class="wl-widget-item-container">
    <div class="wl-widget-item">
        <img src="images/default_widget_icon.png" alt="Facebook" class="wl-widget-item-icon"/>
        <a href="#" title="Facebook" class="wl-regular-link wl-bold wl-widget-item_widgetname">Facebook</a>
        by <a href="#" title="by Stuart Freeman" class="wl-regular-link">Stuart Freeman</a>
        <div class="wl-rating-container">
            <div class="wl-rating-icon filled"></div>
            <div class="wl-rating-icon filled"></div>
            <div class="wl-rating-icon filled"></div>
            <div class="wl-rating-icon filled"></div>
            <div class="wl-rating-icon"></div>
            <a href="#" title="42 Ratings" class="wl-regular-link wl-number-of-ratings">42 Ratings</a>
        </div>
        <a href="#" title="65 users" class="wl-regular-link wl-number-of-users">65 users</a>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Maecenas faucibus...</p>
    </div>
    <div class="wl-widget-item">
        <img src="images/default_widget_icon.png" alt="Twitter" class="wl-widget-item-icon"/>
        <a href="#" title="Twitter" class="wl-regular-link wl-bold wl-widget-item_widgetname">Twitter</a>
        by <a href="#" title="by Maarten Bressinck" class="wl-regular-link">Maarten Bressinck</a>
        <div class="wl-rating-container">
            <div class="wl-rating-icon filled"></div>
            <div class="wl-rating-icon filled"></div>
            <div class="wl-rating-icon"></div>
            <div class="wl-rating-icon"></div>
            <div class="wl-rating-icon"></div>
            <a href="#" title="12 Ratings" class="wl-regular-link wl-number-of-ratings">12 Ratings</a>
        </div>
        <a href="#" title="15 users" class="wl-regular-link wl-number-of-users">15 users</a>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Maecenas faucibus...</p>
    </div>
    <div class="wl-widget-item">
        <img src="images/default_widget_icon.png" alt="Yahoo Weather" class="wl-widget-item-icon"/>
        <a href="#" title="Yahoo Weather" class="wl-regular-link wl-bold wl-widget-item_widgetname">Yahoo Weather</a>
        by <a href="#" title="by Anne-Sophie De Baets" class="wl-regular-link">Anne-Sophie De Baets</a>
        <div class="wl-rating-container">
            <div class="wl-rating-icon filled"></div>
            <div class="wl-rating-icon filled"></div>
            <div class="wl-rating-icon filled"></div>
            <div class="wl-rating-icon"></div>
            <div class="wl-rating-icon"></div>
            <a href="#" title="89 Ratings" class="wl-regular-link wl-number-of-ratings">89 Ratings</a>
        </div>
        <a href="#" title="120 users" class="wl-regular-link wl-number-of-users">120 users</a>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Maecenas faucibus...</p>
    </div>
</div>