<nav id="lhnavigation_container">
    <% if display && display[:nav_context].eql?("browse") %>
        <h1 class="wl-bold">Browse Widgets</h1>
        <hr class="wl-split-line"/>
        <ul>
            <li class="selected wl-bold"><div><a href="#" title="All categories">All categories</a></div></li>
            <li><div><a href="#" title="Games">Games</a></div></li>
            <li><div><a href="#" title="Quizzes">Quizzes</a></div></li>
            <li><div><a href="#" title="Feeds, News + Blogging">Feeds, News + Blogging</a></div></li>
            <li><div><a href="#" title="Social + Communication">Social + Communication</a></div></li>
            <li><div><a href="#" title="Video + images">Video + images</a></div></li>
            <li><div><a href="#" title="Graphing">Graphing</a></div></li>
            <li><div><a href="#" title="Utilities">Utilities</a></div></li>
            <li><div><a href="#" title="Other">Other</a></div></li>
        </ul>
    <% elsif display[:nav_context].eql?("mywidgets") %>
        <h1 class="wl-bold">My Widgets</h1>
        <hr class="wl-split-line"/>
        <ul>
            <li class="selected wl-bold"><div><a href="#" title="All categories">All categories</a></div></li>
            <li><div><a href="#" title="Accepted">Accepted (10)</a></div></li>
            <li><div><a href="#" title="Pending">Pending (4)</a></div></li>
            <li><div><a href="#" title="Declined">Declined (1)</a></div></li>
        </ul>
        <%= render :partial => "pagewidgets/submitwidget" %>
    <% elsif display[:nav_context].eql?("developer") %>
        <h1 class="wl-bold">Sakai OAE Widget SDK</h1>
        <ul>
            <li <% if params[:action].eql?("developwidget")%>class="selected"<% end %>><div><a href="/developer/developwidget" title="How to develop a widget">How to develop a widget</a></div></li>

            <ul class="subnav">
                <li <% if params[:action].eql?("learnbasics")%>class="selected"<% end %>><div><a href="#" title="Learn the basics, 'Hello World' tutorial">Learn the basics, 'Hello World' tutorial</a><hr class="wl-split-line"/></div></li>
                <li <% if params[:action].eql?("codingstandards")%>class="selected"<% end %>><div><a href="#" title="Coding standards">Coding standards</a><hr class="wl-split-line"/></div></li>
                <li <% if params[:action].eql?("quickdev")%>class="selected"<% end %>><div><a href="#" title="Quick development environment setup">Quick development environment setup</a><hr class="wl-split-line"/></div></li>
                <li <% if params[:action].eql?("fulldev")%>class="selected"<% end %>><div><a href="#" title="Full development environment setup">Full development environment setup</a><hr class="wl-split-line"/></div></li>
                <li <% if params[:action].eql?("widgetbuilder")%>class="selected"<% end %>><div><a href="/developer/developwidget/widgetbuilder" title="Widget template builder">Widget template builder</a></div></li>
            </ul>

            <li <% if params[:action].eql?("examples")%>class="selected"<% end %>><div><a href="#" title="Examples">Examples</a></div></li>
            <li <% if params[:action].eql?("widgetdesignandstyle")%>class="selected"<% end %>><div><a href="/developer/widgetdesignandstyle" title="Widget design and style guide">Widget design and style guide</a></div></li>

            <ul class="subnav">
                <li <% if params[:action].eql?("typography")%>class="selected"<% end %>><div><a href="/developer/widgetdesignandstyle/typography" title="Typography">Typography</a><hr class="wl-split-line"/></div></li>
                <li <% if params[:action].eql?("colorpalette")%>class="selected"<% end %>><div><a href="/developer/widgetdesignandstyle/colorpalette" title="Color palette">Color palette</a><hr class="wl-split-line"/></div></li>
                <li <% if params[:action].eql?("widgetexamples01")%>class="selected"<% end %>><div><a href="/developer/widgetdesignandstyle/widgetexamples01" title="Widget Example 01">Widget Examples 01</a><hr class="wl-split-line"/></div></li>
                <li <% if params[:action].eql?("widgetexamples02")%>class="selected"<% end %>><div><a href="/developer/widgetdesignandstyle/widgetexamples02" title="Widget Example 02">Widget Examples 02</a><hr class="wl-split-line"/></div></li>
                <li <% if params[:action].eql?("forms")%>class="selected"<% end %>><div><a href="/developer/widgetdesignandstyle/forms" title="Forms">Forms</a><hr class="wl-split-line"/></div></li>
                <li <% if params[:action].eql?("navigationalitems")%>class="selected"<% end %>><div><a href="/developer/widgetdesignandstyle/navigationalitems" title="Navigation, Button usage and Link language">Navigation, Button usage and Link language</a><hr class="wl-split-line"/></div></li>
                <li <% if params[:action].eql?("iconography")%>class="selected"<% end %>><div><a href="/developer/widgetdesignandstyle/iconography" title="Iconography">Iconography</a><hr class="wl-split-line"/></div></li>
                <li <% if params[:action].eql?("interactionmodels")%>class="selected"<% end %>><div><a href="/developer/widgetdesignandstyle/interactionmodels" title="Interaction models">Interaction models</a></div></li>
            </ul>

            <li <% if params[:action].eql?("backendfeed")%>class="selected"<% end %>><div><a href="#" title="Back-end feed and UI API documentation">Back-end feed and UI API documentation</a></div></li>
            <li <% if params[:action].eql?("faq")%>class="selected"<% end %>><div><a href="#" title="FAQs">FAQs</a></div></li>
            <li <% if params[:action].eql?("gettinghelp")%>class="selected"<% end %>><div><a href="#" title="Getting help">Getting help</a></div></li>
        </ul>
    <% end %>
</nav>