<div id="widgetlibrary_mostpopular">
    <h1>Most Popular</h1>
    <div class="mostpopular_item">
        <img src="images/default_widget_icon.png" alt="Facebook" class="mostpopular_item_icon"/>
        <a href="#" title="Facebook" class="wl-regular-link wl-bold mostpopular_item_widgetname">Facebook</a>
        by <a href="#" title="by Stuart Freeman" class="wl-regular-link">Stuart Freeman</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon"></div>
            <a href="#" title="42 Ratings" class="wl-regular-link rating_number_of_ratings">42 Ratings</a>
        </div>
    </div>
    <div class="mostpopular_item">
        <img src="images/default_widget_icon.png" alt="Twitter" class="mostpopular_item_icon"/>
        <a href="#" title="Twitter" class="wl-regular-link wl-bold mostpopular_item_widgetname">Twitter</a>
        by <a href="#" title="by Maarten Bressinck" class="wl-regular-link">Maarten Bressinck</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <a href="#" title="12 Ratings" class="wl-regular-link rating_number_of_ratings">12 Ratings</a>
        </div>
    </div>
    <div class="mostpopular_item">
        <img src="images/default_widget_icon.png" alt="Yahoo Weather" class="mostpopular_item_icon"/>
        <a href="#" title="Yahoo Weather" class="wl-regular-link wl-bold mostpopular_item_widgetname">Yahoo Weather</a>
        by <a href="#" title="by Anne-Sophie De Baets" class="wl-regular-link">Anne-Sophie De Baets</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <a href="#" title="89 Ratings" class="wl-regular-link rating_number_of_ratings">89 Ratings</a>
        </div>
    </div>
    <div class="mostpopular_item">
        <img src="images/default_widget_icon.png" alt="Last.FM" class="mostpopular_item_icon"/>
        <a href="#" title="Last.FM" class="wl-regular-link wl-bold mostpopular_item_widgetname">Last.FM</a>
        by <a href="#" title="by Nicolaas Matthijs" class="wl-regular-link">Nicolaas Matthijs</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <a href="#" title="25 Ratings" class="wl-regular-link rating_number_of_ratings">25 Ratings</a>
        </div>
    </div>
    <div class="mostpopular_item">
        <img src="images/default_widget_icon.png" alt="Youtube" class="mostpopular_item_icon"/>
        <a href="#" title="Youtube" class="wl-regular-link wl-bold mostpopular_item_widgetname">Youtube</a>
        by <a href="#" title="by Chris Roby" class="wl-regular-link">Chris Roby</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon"></div>
            <a href="#" title="2 Ratings" class="wl-regular-link rating_number_of_ratings">2 Ratings</a>
        </div>
    </div>
    <div class="mostpopular_item">
        <img src="images/default_widget_icon.png" alt="Vimeo" class="mostpopular_item_icon"/>
        <a href="#" title="Vimeo" class="wl-regular-link wl-bold mostpopular_item_widgetname">Vimeo</a>
        by <a href="#" title="by James Sloane" class="wl-regular-link">James Sloane</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <a href="#" title="11 Ratings" class="wl-regular-link rating_number_of_ratings">11 Ratings</a>
        </div>
    </div>
    <div class="mostpopular_item">
        <img src="images/default_widget_icon.png" alt="Tic Tac Toe" class="mostpopular_item_icon"/>
        <a href="#" title="Tic Tac Toe" class="wl-regular-link wl-bold mostpopular_item_widgetname">Tic Tac Toe</a>
        by <a href="#" title="by Dave Roma" class="wl-regular-link">Dave Roma</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <a href="#" title="65 Ratings" class="wl-regular-link rating_number_of_ratings">65 Ratings</a>
        </div>
    </div>
    <div class="mostpopular_item">
        <img src="images/default_widget_icon.png" alt="Pastebin" class="mostpopular_item_icon"/>
        <a href="#" title="Pastebin" class="wl-regular-link wl-bold mostpopular_item_widgetname">Pastebin</a>
        by <a href="#" title="by Bert Pareyn" class="wl-regular-link">Bert Pareyn</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <a href="#" title="42 Ratings" class="wl-regular-link rating_number_of_ratings">42 Ratings</a>
        </div>
    </div>
    <div class="mostpopular_item">
        <img src="images/default_widget_icon.png" alt="Twitter" class="mostpopular_item_icon"/>
        <a href="#" title="Twitter" class="wl-regular-link wl-bold mostpopular_item_widgetname">Twitter</a>
        by <a href="#" title="by Maarten Bressinck" class="wl-regular-link">Maarten Bressinck</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <a href="#" title="12 Ratings" class="wl-regular-link rating_number_of_ratings">12 Ratings</a>
        </div>
    </div>
    <div class="mostpopular_item">
        <img src="images/default_widget_icon.png" alt="Yahoo Weather" class="mostpopular_item_icon"/>
        <a href="#" title="Yahoo Weather" class="wl-regular-link wl-bold mostpopular_item_widgetname">Yahoo Weather</a>
        by <a href="#" title="by Anne-Sophie De Baets" class="wl-regular-link">Anne-Sophie De Baets</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <a href="#" title="89 Ratings" class="wl-regular-link rating_number_of_ratings">89 Ratings</a>
        </div>
    </div>
    <div class="mostpopular_item">
        <img src="images/default_widget_icon.png" alt="Last.FM" class="mostpopular_item_icon"/>
        <a href="#" title="Last.FM" class="wl-regular-link wl-bold mostpopular_item_widgetname">Last.FM</a>
        by <a href="#" title="by Nicolaas Matthijs" class="wl-regular-link">Nicolaas Matthijs</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <a href="#" title="25 Ratings" class="wl-regular-link rating_number_of_ratings">25 Ratings</a>
        </div>
    </div>
    <div class="mostpopular_item">
        <img src="images/default_widget_icon.png" alt="Youtube" class="mostpopular_item_icon"/>
        <a href="#" title="Youtube" class="wl-regular-link wl-bold mostpopular_item_widgetname">Youtube</a>
        by <a href="#" title="by Chris Roby" class="wl-regular-link">Chris Roby</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon"></div>
            <a href="#" title="2 Ratings" class="wl-regular-link rating_number_of_ratings">2 Ratings</a>
        </div>
    </div>
    <div class="mostpopular_item">
        <img src="images/default_widget_icon.png" alt="Vimeo" class="mostpopular_item_icon"/>
        <a href="#" title="Vimeo" class="wl-regular-link wl-bold mostpopular_item_widgetname">Vimeo</a>
        by <a href="#" title="by James Sloane" class="wl-regular-link">James Sloane</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <a href="#" title="11 Ratings" class="wl-regular-link rating_number_of_ratings">11 Ratings</a>
        </div>
    </div>
    <div class="mostpopular_item">
        <img src="images/default_widget_icon.png" alt="Tic Tac Toe" class="mostpopular_item_icon"/>
        <a href="#" title="Tic Tac Toe" class="wl-regular-link wl-bold mostpopular_item_widgetname">Tic Tac Toe</a>
        by <a href="#" title="by Dave Roma" class="wl-regular-link">Dave Roma</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <a href="#" title="65 Ratings" class="wl-regular-link rating_number_of_ratings">65 Ratings</a>
        </div>
    </div>
    <div class="mostpopular_item">
        <img src="images/default_widget_icon.png" alt="Pastebin" class="mostpopular_item_icon"/>
        <a href="#" title="Pastebin" class="wl-regular-link wl-bold mostpopular_item_widgetname">Pastebin</a>
        by <a href="#" title="by Bert Pareyn" class="wl-regular-link">Bert Pareyn</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <a href="#" title="42 Ratings" class="wl-regular-link rating_number_of_ratings">42 Ratings</a>
        </div>
    </div>
    <div class="mostpopular_item">
        <img src="images/default_widget_icon.png" alt="Facebook" class="mostpopular_item_icon"/>
        <a href="#" title="Facebook" class="wl-regular-link wl-bold mostpopular_item_widgetname">Facebook</a>
        by <a href="#" title="by Stuart Freeman" class="wl-regular-link">Stuart Freeman</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon"></div>
            <a href="#" title="42 Ratings" class="wl-regular-link rating_number_of_ratings">42 Ratings</a>
        </div>
    </div>
    <hr class="wl-push wl-hidden"/>
    <button class="wl-button wl-large-button" id="show_more">Show more</button>
</div>