<div class="wl-rating-container">
    <div class="wl-rating-icon wl-rating-icon-<%= round_to_fraction(widget.average_rating).to_s.delete(".") %>"></div>
    <% if display[:num_ratings] %>
        <a href="#" class="wl-regular-link wl-number-of-ratings"><%= widget.ratings.length %> Ratings</a>
    <% end %>
    <% if display[:rate_widget] %>
        <span>Rate this widget</span>
    <% end %>
</div>
