<div class="wl-rating-container">
    <div class="wl-rating-icon filled"></div>
    <div class="wl-rating-icon filled"></div>
    <div class="wl-rating-icon filled"></div>
    <div class="wl-rating-icon filled"></div>
    <div class="wl-rating-icon"></div>
    <% if display && display[:num_ratings] %>
        <a href="#" title="42 Ratings" class="wl-regular-link wl-number-of-ratings">42 Ratings</a>
    <% end %>
    <% if display && display[:rate_widget] %>
        <span>Rate this widget</span>
    <% end %>
</div>
<% if display && display[:avg_rating] %>
    <a href="#" title="Average rating (13)" class="wl-regular-link" id="widget_average_rating">Average rating (13)</a>
<% end %>