<div class="wl-rating-container">
    <span class="wl-rating-inline">
    <ul class="wl-rating-icon">
        <% widget_rating = get_rating(stars.to_f) %>
        <li class="wl-rating-current <% if display[:rate_widget] %>wl-rating-modifiable<% end %>" style="width:<%= widget_rating %>%;"><%= pluralize(get_stars(widget_rating), 'star') %> out of 5</li>
        <% if display[:rate_widget] %>
            <li><button title="1 star out of 5" class="wl-rating-icon-1" data-rating="1"></button></li>
            <li><button title="2 stars out of 5" class="wl-rating-icon-2" data-rating="2"></button></li>
            <li><button title="3 stars out of 5" class="wl-rating-icon-3" data-rating="3"></button></li>
            <li><button title="4 stars out of 5" class="wl-rating-icon-4" data-rating="4"></button></li>
            <li><button title="5 stars out of 5" class="wl-rating-icon-5" data-rating="5"></button></li>
        <% end %>
    </ul>
    </span>
    <% if display[:num_ratings] %>
        <a href="#" class="wl-regular-link wl-number-of-ratings"><%= num_ratings %> Ratings</a>
    <% end %>
    <% if display[:rate_widget] %>
        <span>Rate this widget</span>
    <% end %>
</div>
