<div class="wl-rating-container">
    <div class="wl-rating-icon wl-rating-icon-<%= get_rating(stars.to_f) %>"></div>
    <% if display[:num_ratings] %>
        <a href="#" class="wl-regular-link wl-number-of-ratings"><%= num_ratings %> Ratings</a>
    <% end %>
    <% if display[:rate_widget] %>
        <span>Rate this widget</span>
    <% end %>
</div>
