<div id="widgetlibrary_recentlyadded">
    <h1>Recently Added</h1>
    <div class="recentlyadded_item">
        <img src="images/default_widget_icon.png" alt="Facebook" class="recentlyadded_item_icon"/>
        <a href="#" title="Facebook" class="wl-regular-link wl-bold recentlyadded_item_widgetname">Facebook</a>
        added 3 August
    </div>
    <div class="recentlyadded_item">
        <img src="images/default_widget_icon.png" alt="Twitter" class="recentlyadded_item_icon"/>
        <a href="#" title="Twitter" class="wl-regular-link wl-bold recentlyadded_item_widgetname">Twitter</a>
        added 1 August
    </div>
    <div class="recentlyadded_item">
        <img src="images/default_widget_icon.png" alt="Yahoo Weather" class="recentlyadded_item_icon"/>
        <a href="#" title="Yahoo Weather" class="wl-regular-link wl-bold recentlyadded_item_widgetname">Yahoo Weather</a>
        added 25 July
    </div>
    <div class="recentlyadded_item">
        <img src="images/default_widget_icon.png" alt="Last.FM" class="recentlyadded_item_icon"/>
        <a href="#" title="Last.FM" class="wl-regular-link wl-bold recentlyadded_item_widgetname">Last.FM</a>
        added 22 July
    </div>
    <div class="recentlyadded_item">
        <img src="images/default_widget_icon.png" alt="Youtube" class="recentlyadded_item_icon"/>
        <a href="#" title="Youtube" class="wl-regular-link wl-bold recentlyadded_item_widgetname">Youtube</a>
        added 11 July
    </div>
</div>