<div id="widgetlibrary_recentlyadded" class="wl-inset-shadow-container wl-content-145">
    <h1>Recently Added</h1>
    <% 5.times do %>
        <%= render :partial => "core/widget_small", :locals => {:include_rating => false, :include_author => false, :include_number_of_ratings => false, :include_date_of_adding => true, :include_description => false, :include_users => false} %>
    <% end %>
    <hr class="wl-push wl-hidden">
</div>