<div id="widgetlibrary_relatedwidgets" class="wl-inset-shadow-container">
    <h1>Related widgets</h1>
    <% 5.times do %>
        <%= render :partial => "core/widget_small", :locals => {:include_rating => true, :include_author => true, :include_number_of_ratings => true, :include_date_of_adding => false, :include_description => false, :include_users => false} %>
    <% end %>
    <hr class="wl-push wl-hidden"/>
</div>