<div id="widgetlibrary_submitwidget">
    <div id="widgetlibrary_submitwidget_description">Once you have created a Widget it can be uploaded here for approval.</div>
    <button class="wl-button wl-overlay-button">Submit new widget</button>
</div>