<div id="submitwidget">
    <div id="submitwidget_description">Once you have created a Widget it can be uploaded here for approval.</div>
    <a class="wl-button wl-overlay-button" href="/submit">Submit new widget</a>
</div>
