<div id="widgetlibrary_toprated">
    <h1>Top Rated</h1>
    <div class="toprated_item">
        <img src="images/default_widget_icon.png" alt="Facebook" class="toprated_item_icon"/>
        <a href="#" title="Facebook" class="wl-regular-link wl-bold toprated_item_widgetname">Facebook</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
        </div>
    </div>
    <div class="toprated_item">
        <img src="images/default_widget_icon.png" alt="Twitter" class="toprated_item_icon"/>
        <a href="#" title="Twitter" class="wl-regular-link wl-bold toprated_item_widgetname">Twitter</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon"></div>
        </div>
    </div>
    <div class="toprated_item">
        <img src="images/default_widget_icon.png" alt="Yahoo Weather" class="toprated_item_icon"/>
        <a href="#" title="Yahoo Weather" class="wl-regular-link wl-bold toprated_item_widgetname">Yahoo Weather</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon"></div>
        </div>
    </div>
    <div class="toprated_item">
        <img src="images/default_widget_icon.png" alt="Last.FM" class="toprated_item_icon"/>
        <a href="#" title="Last.FM" class="wl-regular-link wl-bold toprated_item_widgetname">Last.FM</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
        </div>
    </div>
    <div class="toprated_item">
        <img src="images/default_widget_icon.png" alt="Youtube" class="toprated_item_icon"/>
        <a href="#" title="Youtube" class="wl-regular-link wl-bold toprated_item_widgetname">Youtube</a>
        <div class="rating_container">
            <div class="rating_icon filled"></div>
            <div class="rating_icon filled"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
            <div class="rating_icon"></div>
        </div>
    </div>
</div>