<div id="widgetdetails_container">
    <div id="widgetdetails_tabs">
        <div class="widgetdetail_tab selected">Screenshots</div>
        <div class="widgetdetail_tab">Reviews</div>
        <div class="widgetdetail_tab">Uploaded versions</div>
    </div>
    <div id="widgetdetails_tabcontent_container">
        <div id="widgetdetails_screenshots" class="widgetdetails_tabcontent_content">
            <div id="widgetdetails_newestreviews">
                <h1>Latest reviews</h1>
                <div class="widgetdetails_newestreviews_review">
                    <a href="#" title="Cara McMann" class="wl-regular-link wl-bold">Cara McMann</a>
                    <p>"Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet."</p>
                    <div class="wl-rating-container">
                        <div class="wl-rating-icon filled"></div>
                        <div class="wl-rating-icon filled"></div>
                        <div class="wl-rating-icon filled"></div>
                        <div class="wl-rating-icon"></div>
                        <div class="wl-rating-icon"></div>
                    </div>
                </div>
                <div class="widgetdetails_newestreviews_review">
                    <a href="#" title="Cara McMann" class="wl-regular-link wl-bold">Cara McMann</a>
                    <p>"Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet."</p>
                    <div class="wl-rating-container">
                        <div class="wl-rating-icon filled"></div>
                        <div class="wl-rating-icon"></div>
                        <div class="wl-rating-icon"></div>
                        <div class="wl-rating-icon"></div>
                        <div class="wl-rating-icon"></div>
                    </div>
                </div>
                <div class="widgetdetails_newestreviews_review">
                    <a href="#" title="Cara McMann" class="wl-regular-link wl-bold">Cara McMann</a>
                    <p>"Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet."</p>
                    <div class="wl-rating-container">
                        <div class="wl-rating-icon filled"></div>
                        <div class="wl-rating-icon filled"></div>
                        <div class="wl-rating-icon filled"></div>
                        <div class="wl-rating-icon filled"></div>
                        <div class="wl-rating-icon filled"></div>
                    </div>
                </div>
                <hr class="wl-push wl-hidden"/>
                <a target="_blank" class="wl-button wl-header-button" href="#">Write a review</a>
            </div>

            <div id="widgetdetails_screenshot_container">
                <img src="../images/widget_screenshot1.png" alt="Activity Plus Screenshot" id="widgetdetails_main_screenshot"/>
                <div id="widgetdetails_screenshots_thumbs">
                    <div class="widgetdetails_screenshots_thumb">
                        <img src="../images/widget_screenshot_small1.png" alt="Activity Plus Screenshot" class="selected"/>
                        <div></div>
                    </div>
                    <div class="widgetdetails_screenshots_thumb">
                        <img src="../images/widget_screenshot_small2.png" alt="Activity Plus Screenshot"/>
                        <div></div>
                    </div>
                    <div class="widgetdetails_screenshots_thumb">
                        <img src="../images/widget_screenshot_small3.png" alt="Activity Plus Screenshot"/>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="widgetdetails_reviews" class="widgetdetails_tabcontent_content">

        </div>
        <div id="widgetdetails_uploadedversions" class="widgetdetails_tabcontent_content">

        </div>
    </div>
    <hr class="wl-push wl-hidden">
</div>