<div id="widget_list_header">
  <div id="widget_list_sort_by">
      <label for="sort">Sort by</label>
      <select id="sort_by">
        <option data-sortby="average_rating" data-direction="desc" selected>Highest Rated</option>
        <option data-sortby="average_rating" data-direction="asc">Lowest Rated</option>
        <option data-sortby="popularity" data-direction="desc">Most Popular</option>
        <option data-sortby="title" data-direction="asc">A-Z</option>
        <option data-sortby="title" data-direction="desc">Z-A</option>
      </select>
  </div>
  <div class="page_info"><%= page_entries_info @widgets %></div>
</div>
<div id="widget_list">
  <%= render :partial => "core/widget", :locals => {:display => {:rating => true, :author => true, :num_ratings => true, :status => false, :title_length => "medium"}}, :collection => @widgets %>
  <hr class="wl-push wl-hidden"/>
  <%= will_paginate @widgets %>
</div>
