<div id="widgetdetails_container">
    <div id="widgetdetails_tabs">
        <div class="widgetdetail_tab selected">Screenshots</div>
        <div class="widgetdetail_tab">Reviews</div>
        <div class="widgetdetail_tab">Uploaded versions</div>
    </div>
    <hr class="wl-push wl-hidden">
</div>