<nav id="widgetlibrary_navigation">
    <ul class="wl-bold">
        <li class="navigation_item<% if params[:action].eql?("widgets") %> selected<% end %>"><%= link_to "Widget Review", admin_path %></li>
        <% if is_admin? %>
            <li class="navigation_item<% if ["users", "adminusers"].include?(params[:action]) %> selected<% end %>"><%= link_to "Users", admin_users_path %></li>
            <li class="navigation_item<% if ["options", "edit_language", "categories", "edit_category", "save_category", "save_language"].include?(params[:action]) %> selected<% end %>"><%= link_to "Widget Options", admin_options_path %></li>
            <li class="navigation_item<% if params[:action].eql?("statistics")%> selected<% end %>"><%= link_to "Statistics", admin_statistics_path %></li>
        <% end %>
    </ul>
</nav>
