<h2>Available Categories</h2>
<%= render :partial => 'admin_table', :results => @results, :items_used => @items_used, :config => @config %> <hr />
<h2>Add New Category</h2>
    <%= render :partial => "add_edit_items", :config => @config, :locals => { :add_new => true, :id => nil, :existing_entry => nil } %>