<h2>Available Languages</h2>
    <%= render :partial => 'admin_table', :results => @results, :item => @item, :items_used => @items_used, :config => @config %> <hr />
<h2>Add New Language</h2>
    <%= render :partial => "add_edit_items", :config => @config, :locals => { :add_new => true, :id => nil, :existing_entry => nil } %>