@import "mixins";


/******************/
/* GENERAL MARKUP */
/******************/
* {
  margin: 0;
  padding: 0;
}

html, textarea {
  font: 13px/1.231 Arial, Helvetica, sans-serif;
}

body {
  background: url("../images/body_bg.png") repeat-x top left #f2f2f2;
  font-size: 13px;
}

body > #top-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #676767;
  z-index: 0;
}

h1 {
  color: #333;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 9px 10px;
}

.wl-bold {
  font-weight: bold;
}

.wl-push {
  clear: both;
}

.wl-hidden {
  margin: 0;
  visibility: hidden;
  border: none;
  clear: both;
  height: 0;
}

.wl-left {
  float: left
}

.wl-right {
  float: right;
}

.wl-regular-link {
  color: #2683bc;
  text-decoration: none
}

.wl-regular-link:hover {
  text-decoration: underline;
}

.wl-split-line {
  background-color: none;
  border: medium none;
  border-top: 1px dotted #d4d4d4;
  height: 1px;
  margin: 8px 0;
}

.wl-split-line.full-line {
  border-top: 1px solid #d4d4d4;
}

/* Main container*/
.wl-page-container {
  background-color: #fff;
  width: 916px;
  min-height: 320px;
  position: relative;
  z-index: 1;
  padding: 0 22px;
  padding-bottom: 20px;
	.wl-container-shadow-left, .wl-container-shadow-right {
	  background: url("../images/container_shadow_left.png") no-repeat scroll 0 0 transparent;
	  height: 346px;
	  margin-left: -32px;
	  position: absolute;
	  width: 10px;
	  margin-top: -5px;
	}
	.wl-container-shadow-right {
	  background: url("../images/container_shadow_right.png") no-repeat scroll 0 0 transparent;
	  float: right;
	  margin-left: 938px;
	}
}

.wl-centered {
  margin: 0 auto; }

.wl-content-container {
  margin-top: 25px;
  padding-top: 20px; }

.wl-padding-15-0 {
  padding-top: 15px;
  padding-bottom: 15px; }

.wl-padding-0-10 {
  padding-left: 10px;
  padding-right: 10px; }

.wl-content-145 {
  width: 145px; }

.wl-content-165 {
  width: 165px; }

.wl-content-185 {
  width: 185px; }

.wl-content-710 {
  width: 710px; }

.wl-content-730 {
  width: 730px; }

/* Inset Shadow containers*/
.wl-inset-shadow-container {
  background: url("../images/inset_shadow_container_bg.png") repeat-x top left #fefefe;
  @include border-radius($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px);
  @include box-shadow($h-shadow: 0, $v-shadow: 0, $blur: 12px, $spread: -4px, $color: #888, $outerinner: inset);
  margin-top: 20px;
  padding: 8px 10px 10px; }


/* Ratings */
.wl-rating-container {
  padding-top: 10px;
	.wl-rating-icon {
	  background: url("../images/rating_icon.png") no-repeat scroll left -14px transparent;
	  width: 15px;
	  height: 15px;
	  float: left;
	}
	.wl-rating-icon.filled {
	  background: url("../images/rating_icon.png") no-repeat left top transparent;
	}
	.wl-number-of-ratings {
	  margin-left: 7px;
	}
}

/* Small widget representation */
.wl-widget-item, .wl-widget-item-container {
  background-color: #fff;
  margin: 0 3px 3px 0;
  float: left;
  @include border-radius($topLeft: 4px, $topRight: 4px, $bottomRight: 4px, $bottomLeft: 4px);
  @include box-shadow($h-shadow: 0, $v-shadow: 1px, $blur: 1px, $spread: 0, $color: #bbb, $outerinner: "");
  padding: 15px 13px 11px;
  font-size: 11px;
  color: #666; }

.wl-widget-item-container {
  clear: both;
  width: 690px;
  margin-bottom: 20px;
  padding: 15px 8px 11px;
	.wl-widget-item {
	  margin: 0;
	  width: 220px;
	  height: auto;
	  background: none;
	  @include box-shadow($h-shadow: "", $v-shadow: "", $blur: "", $spread: "", $color: "", $outerinner: "");
	  padding: 0 5px;
	}
}

.wl-widget-item {
  width: 148px;
  height: 78px;
	a.wl-widget-item_widgetname {
	  display: block;
	}
	.wl-widget-item-icon {
	  height: 50px;
	  width: 50px;
	  float: left;
	  padding-right: 10px;
	}
	.wl-number-of-users {
	  clear: both;
	  display: block;
	  padding-top: 5px;
	}
}

/* Buttons */
a.wl-button {
  text-decoration: none;
}

.wl-button {
  @include border-radius($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px);
  color: #666;
  height: 27px;
  padding: 0 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  margin-right: 5px;
  border: none;
}

/* Link buttons */
.wl-link-button {
    margin:0;
    padding:0;
    background: none;
    border: none;
    color:#2683bc;
    font-family: Arial,Helvetica,sans-serif;
    font-size:13px;
    display: inline-block;
    text-align:left;
    font-size:11px;
}

.wl-link-button:hover {
    cursor:pointer;
    text-decoration:none;
    color:#999;
}

.wl-link-button::-moz-focus-inner {
    padding:0;
    margin:0;
    border:0;
}

/* Overlay buttons */
.wl-button.wl-overlay-button {
  background: url("../images/button_overlay_default.png") repeat-x scroll left top transparent;
  border: 1px solid #E0E3E5;
  font-size: 11px;
  font-weight: bold;
  height: 24px;
  margin-left: 15px;
  @include box-shadow($h-shadow: 0, $v-shadow: 1px, $blur: 1px, $spread: 0, $color: #999, $outerinner: "");
  text-shadow: 0 2px 3px #fff;
  color: #2683bc;
	&:hover {
	  background: url("../images/button_overlay_hover.png") repeat-x scroll left top transparent;
	}
}

.wl-button.wl-overlay-button[disabled] {
  color: #ccc; }

.wl-button.wl-overlay-button[disabled]:hover {
  background: url("../images/button_overlay_default.png") repeat-x scroll left top transparent;
  cursor: auto; }

/* Large in-page buttons */
.wl-button.wl-large-button {
  background: url("../images/button_large_default.png") repeat-x scroll left top transparent;
  height: 31px;
  padding: 0 7px;
  border: 1px solid #e0e3e5;
  color: #2683bc;
  @include box-shadow($h-shadow: 0, $v-shadow: 1px, $blur: 1px, $spread: 0, $color: #999, $outerinner: "");
  text-shadow: 0 2px 3px #fff;
  font-size: 13px;
	&:hover {
	  background: url("../images/button_large_hover.png") repeat-x scroll left top transparent;
	  color: #999;
	}
}

/* Header buttons */
.wl-button.wl-header-button {
  background: #fff;
  @include box-shadow($h-shadow: 0, $v-shadow: 0, $blur: 4px, $spread: -2px, $color: #a8a8a8, $outerinner: inset);
  border: 1px solid #e0e3e5;
	&:hover {
	  background: url("../images/button_header_hover.png") repeat-x scroll left -1px transparent;
	  border: 1px solid #E0E3E5;
	  @include box-shadow($h-shadow: "", $v-shadow: "", $blur: "", $spread: "", $color: "", $outerinner: "");
	}
}

.wl-button.wl-header-button[disabled] {
  background: #fff;
  cursor: auto;
  color: #ccc;
}

.wl-button.wl-header-button[disabled]:hover {
  background: #fff;
  @include box-shadow($h-shadow: 0, $v-shadow: 0, $blur: 6px, $spread: -2px, $color: #a8a8a8, $outerinner: inset);
  border: 1px solid #e0e3e5;
}

a.wl-button.wl-header-button {
  height: 24px;
  line-height: 24px;
  display: inline-block;
}

/* Link buttons */
.wl-link-button {margin:0;padding:0;background: none repeat scroll 0 0 transparent;border: medium none;color:#2683bc;font-family: Arial,Helvetica,sans-serif;font-size:13px;display: inline-block;text-align:left;font-size:11px;}
.wl-link-button:hover {cursor:pointer;text-decoration:none;color:#999;}
.wl-link-button::-moz-focus-inner {padding:0;margin:0;border:0;}


/****************/
/* INPUT FIELDS */
/****************/

input {
    border: 1px solid #D4D4D4;
    height: 11px;
    padding: 5px;
}
textarea {
    border:1px solid #d4d4d4;
    padding:5px;
    resize:none;
}


/**********/
/* FOOTER */
/**********/
#footer_container {
  width: 950px;
  padding: 15px 5px 5px;
  margin-bottom: 20px;
  color: #454a4f;
  font-size: 11px;
  background: url("../images/footer_shadow.png") no-repeat scroll center top transparent;
  position: relative;
  z-index: 2;
	#footer_logo {
	  background: url("../images/footer_logo.png") no-repeat scroll 0 3px transparent;
	  width: 43px;
	  height: 28px;
	  float: left;
	  margin-right: 15px;
	  float: left;
	}
	#footer_menu {
	  float: right;
	  margin-top: 12px;
		a {
		  margin-left: 40px;
		}
	}
	#footer_misc a, #footer_locale a:first-child {
	  margin-right: 40px;
	}
	#footer_locale {
	  float: right;
	}
}

/************************/
/* USER ACTIONS TOP BAR */
/************************/
#widgetlibrary_useractions {
  background-color: #333;
  height: 6px;
  width: 960px;
  position: relative;
  z-index: 2;
	#useractions_container {
	  background-color: #333;
	  position: absolute;
	  right: 0;
	  padding: 0 10px 0;
	  @include border-radius($topLeft: 0, $topRight: 0, $bottomRight: 5px, $bottomLeft: 5px);
	  margin-right: 24px;
		ul {
		  list-style-type: none;
		  font-size: 11px;
			li {
			display:inline-block;
			margin-right: 2px;
		  	  > a {
		        padding: 9px 22px;
		        color: #ccc;
		        text-decoration: none;
		        display:block;
		      }
			}
			li.selected {
              background: url("../images/navigation_item_selected.png") repeat-x top left transparent;
              a {
                  color: #FFF;
              }
            }
		}
		#useractions_arrow_down {
		  background: url("../images/arrow_down.png") no-repeat top left transparent;
		  width: 10px;
		  height: 10px;
		  float: right;
		  margin: 2px 0 0 9px;
		}
		#useractions_login_fields {
		    width:200px;
		    @include border-radius($topLeft: 0, $topRight: 0, $bottomRight: 5px, $bottomLeft: 5px);
            margin-left: -113px;
            margin-top: 0;
            position: absolute;
            z-index: 11000;
            #useractions_login_button_login {
                float:right;
            }
            #useractions_login_fields_password {
                margin-bottom: 14px;
            }
            .wl-split-line {
                margin: 15px 0;
            }
            #useractions_login_button_signing_in {
                float: right;
            }
		}
	}
}


/******************/
/* DROPDOWN LISTS */
/******************/
.wl-dropdown-menu:hover, .wl-dropdown-menu.opened {
    background: url("../images/navigation_item_selected.png") repeat-x scroll left top transparent;
    > a {
        color:#fff !important;
    }
}
.wl-dropdown-menu-content-container {
    margin:0;
    padding: 10px 7px;
    display:block;
    background-color: #F3F3F3;
    color:#666;
    @include border-radius($topLeft: 2px, $topRight: 2px, $bottomRight: 2px, $bottomLeft: 2px);
    input {
        width:97%;
        margin: 5px 0 9px;
    }
}
.wl-dropdown-container {
    background:url("../images/dropdown_list_bg.png") repeat-x scroll left top #0c4e79;
    @include box-shadow($h-shadow: 0, $v-shadow: 10px, $blur: 10px, $spread: -3px, $color: #333, $outerinner: "");
    position:absolute;
    z-index:999;
    min-width:140px;
    padding:5px;
    cursor:auto;
}


/*******************/
/* HEADER BRANDING */
/*******************/
#widgetlibrary_header_branding {
  background: url("../images/header_branding.png") no-repeat bottom left transparent;
  height: 60px;
  width: 100%; }


/**************/
/* NAVIGATION */
/**************/
#widgetlibrary_navigation {
  background: url("../images/navigation_bg.png") repeat-x top left transparent;
  height: 36px;
  width: 100%;
  margin-top: 7px;
	ul {
	  margin: 0;
		li a {
		  color: #fff;
		  font-size: 13px;
		  text-decoration: none;
		  padding: 15px 5px 6px 10px;
		  display: block;
		  width: 95px;
		}
		li.navigation_item, li.navigation_item.selected {
		  background: url("../images/navigation_item_bg.png") repeat-x top left transparent;
		  height: 36px;
		  list-style-type: none;
		  display: inline-block;
		  width: 110px;
		  border-right: 2px solid #fff;
		  float: left;
		}
		li.navigation_item.selected, li.navigation_item:hover {
		  background: url("../images/navigation_item_selected.png") repeat-x top left transparent;
		}
	}
	#search_widgets {
	  background: url("../images/search_icon.png") no-repeat scroll 6px center white;
	  border: 1px solid #D6D4D4;
	  @include border-radius($topLeft: 4px, $topRight: 4px, $bottomRight: 4px, $bottomLeft: 4px);
	  float: right;
	  height: 24px;
	  margin: 6px 8px 0 0;
	  padding: 0 10px 0 30px;
	  width: 232px;
	  color: #666;
	  font-size: 12px;
	}
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #7c7b7b;
  font-style: italic;
  font-size: 11px;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #7c7b7b;
  font-style: italic;
  font-size: 11px;
}