// A SASS Stylesheet, using SASS's scss format

// Variables
// Define colors and other constants here
$ltBlue: #e0eff6;

// mixins
// Define CSS-functions here for convenience

// border-radius mixin
// usage: @include border-radius($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px);
@mixin border-radius($topLeft, $topRight, $bottomRight, $bottomLeft) {
    border-radius: $topLeft $topRight $bottomRight $bottomLeft;
    -moz-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
    -webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}

// Core Styles
html {
    font: 13px/1.231 Arial, Helvetica, sans-serif;
}
