@import "mixins";


/* Index */
.wl-content-container#index_container {
  background: url("../images/container_bg.png") no-repeat scroll center top transparent;
  @include border-radius($topLeft: 12px, $topRight: 12px, $bottomRight: 0, $bottomLeft: 0);
}

/************/
/* CAROUSEL */
/************/
#widgetlibrary_carousel {
  background: url("../images/carousel_bg.png") repeat-x bottom left #f0f0f0;
  width: 730px;
  height: 368px;
  .slides_container {
      width: 730px;
	  height: 318px;
  }
  .widgetlibrary_homecarousel_pane{
      display: block;
      width: 730px;
      height: 318px;
 	  @include border-radius($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px);
  }
  #carousel_state1 {
      background: url("../images/carousel_state1_bg.jpg") no-repeat top left transparent;
      h2 {
          padding-top: 155px;
      }
  }
  #carousel_state2 {
      background: url("../images/carousel_state2_bg.jpg") no-repeat top left transparent;
      h2 {
          padding-top: 15px;
      }
  }
  #carousel_state3 {
      background: url("../images/carousel_state3_bg.jpg") no-repeat top left transparent;
      h1 {
          margin-top: 0;
          padding-top: 0;
      }
      h1.size-30 {
          font-size:30px;
          padding-top:20px;
          margin-bottom: 0;
      }
      h2 {
          padding-top: 120px;
          width:500px;
      }
      .wl-link-button {
          margin-top:15px;
      }
  }
  .carousel_choice {
      display: block;
      float: left;
      height: 50px;
      line-height: 50px;
      text-align: center;
      width: 243px;
      a {
    	  color: #6E6E6E;
    	  display: block;
    	  text-decoration: none;
    	  font-size: 16px;
      }
}
	.carousel_choice_arrow {
	  background: url("../images/carousel_arrow_down.png") no-repeat scroll center top transparent;
	  height: 50px;
	  width: 243px;
	  position: absolute;
	}
	h1 {
	  color: #e4e3e3;
	  display: block;
	  font-size: 24px;
	  font-weight: normal;
	  margin-left: auto;
	  margin-right: auto;
	  padding-top: 20px;
	  text-align: center;
	  width: 600px;
	  text-shadow: 0px 1px 1px #333;
	}
	h2 {
	  color: #434343;
	  display: block;
	  font-size: 14px;
	  font-weight: normal;
	  margin-left: auto;
	  margin-right: auto;
	  text-align: center;
	  text-shadow: 0 0 1px #bbb;
	  width: 430px;
	}
}

/****************/
/* MOST POPULAR */
/****************/
#widgetlibrary_mostpopular .wl-widget-item a.wl-widget-item_widgetname {
  font-size: 12px;
}

#widgetlibrary_mostpopular .wl-widget-item .wl-rating-container {
  clear: both; }

#widgetlibrary_mostpopular #show_more {
  display: block;
  margin: 5px auto 5px; }

/******************/
/* RECENTLY ADDED */
/******************/
#widgetlibrary_recentlyadded {
    margin-top:0;
    .wl-widget-item {
      width: 130px;
      height: 40px;
      background-color: #fff;
      padding: 8px;
    }
    .wl-widget-item-icon {
      height: 40px;
      width: 40px;
    }
}

/*************/
/* TOP RATED */
/*************/
#widgetlibrary_toprated .wl-widget-item {
  width: 130px;
  height: 40px;
  background-color: #fff;
  padding: 8px; }

#widgetlibrary_toprated .wl-widget-item-icon {
  height: 40px;
  width: 40px; }