#lhnavigation_container {
    h1 {
      color: #666;
      font-size: 16px;
      margin-left: 12px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li a {
          display: block;
          text-decoration: none;
          padding: 5px 0 7px 5px;
          font-size: 13px;
          color: #333;
      }
      li.selected {
          background: url("../images/lhnav_selected_item_bg.png") repeat-x scroll left top transparent;
          font-weight: bold;
          a {
              color: #fff;
          }
          .wl-split-line {
              visibility: hidden;
          }
      }
      li div {
          padding: 3px 12px 2px 15px;
          font-size: 14px;
      }
      .wl-split-line {
          margin: 0;
      }
      .subnav li {
          padding-left:20px;
      }
    }
}