@import "mixins";

.wl-page-container {
    padding: 0 22px 0;
}

.wl-content-container {
    background: url("../images/library_bg.png") repeat-x scroll center top transparent;
    padding-top: 0;
    color: #666;
    font-size:14px;
        h1, .wl-widget-item h2 {
            border-bottom: 1px solid #E2E2E2;
            color: #666666;
            font-size: 20px;
            padding-bottom: 5px;
            margin-bottom:17px;
            margin-top: 10px;
        }
        p {
            margin-bottom:10px;
        }
        .wl-widget-item {
            width: 96%;
            height: auto;
            margin-top: 5px;
            font-size:13px;
            h2 {
                border-bottom: medium none;
                font-size: 18px;
                font-weight: normal;
                margin-bottom: 5px;
            }
            p {
                font-size:14px;
            }
            .descriptive_icon {
                float: left;
                height: 72px;
                width: 72px;
            }
            .descriptive_text {
                overflow: auto;
                padding-left: 15px;
            }
            #widgetbuilder_category_dropdown {
                margin-left: 25px;
            }
            #widgetbuilder_description {
                width: 450px;
                height: 70px;
                margin-bottom:10px;
            }
            #widgetbuilder_options {
                input {
                    float: left;
                    margin: 3px 7px 0 0;
                }
                label {
                    display:block;
                    font-size: 14px;
                    margin-bottom: 7px;
                }
                + .wl-split-line {
                    margin: 20px 0 15px;
                }
            }
        }
        .wl-widget-item.first {
            margin-top: 20px;
        }
        .widgetsdk_split_container {
            width:330px;
            float:left;
            padding-bottom: 15px;
            input {
                width: 96%;
            }
        }
        .widgetsdk_split_container.last {
            margin-left:20px;
        }
}

#widgetbuilder_create {
    float:right;
    margin-bottom: 10px;
}

#widgetbuilder_widgetloading, #widgetbuilder_downloadwidget {
    h1 {
        text-align: center;
        margin-bottom: 12px;
    }
    #widgetbuilder_loader, #widgetbuilder_built {
        height: 70px;
        margin:12px 0 15px;
        img {
            height: 20px;
            margin: 26px 0 0 146px;
            width: 188px;
        }
    }
    #widgetbuilder_built {
        text-align: center;
        img {
            width:17px;
            height:17px;
            margin: 0 12px 0 0;
            float: left;
        }
        p {
            background: url("../images/tick_icon_small.png") no-repeat scroll left top transparent;
            display: inline-block;
            line-height: 19px;
            margin-top: 25px;
            padding-left: 24px;
            text-align: left;
        }
    }
    button.jqmClose {
        font-size: 13px;
    }
    p {
        color: #666666;
        font-size: 13px;
        text-align: center;
    }
}

.wl-content-container {
    .style_fontsize {
        background: url("../images/blue_circle_35x35.png") no-repeat scroll left top transparent;
        color: #FFFFFF;
        display: block;
        font-size: 12px;
        font-weight: bold;
        height: 24px;
        padding-top: 11px;
        text-align: center;
        width: 35px;
        float: left;
        margin-right: 10px;
    }
    .style_container {
        display: block;
        height: 50px;
        margin-top: 10px;
    }
    #typography_headerstyling {
        h1.heading1, h2, h3, h4, h5, h6 {
            height: 40px;
            margin-bottom: 0 !important;
            margin-top: 0 !important;
        }
        h1.header1 {
            font-weight:normal;
            font-size:24px;
            color:#666;
            border: none;
        }
        h2.header2 {
            font-weight:normal;
            font-size:20px;
            color:#666;
            border: none;
        }
        h3.header3 {
            font-weight:normal;
            font-size:18px;
            color:#666;
            border: none;
        }
        h4.header4 {
            font-weight:bold;
            font-size:14px;
            color:#666;
            border: none;
        }
        h5.header5 {
            font-weight:bold;
            font-size:12px;
            color:#666;
            border: none;
        }
        h6.header6 {
            font-weight:bold;
            font-size:11px;
            color:#666;
            border: none;
        }
        span.header_style {
            margin-left: 300px;
            margin-top: -43px;
            position: absolute;
        }
        span.header_color {
            margin-left: 450px;
            margin-top: -43px;
            position: absolute;
        }
        span {
            margin-left: 45px;
            margin-top: -20px;
            position: absolute;
        }
    }
    #typography_bodystyling {
        span.header_style {
            margin-left: 300px;
            margin-top: -25px;
            position: absolute;
        }
        span.header_color {
            margin-left: 450px;
            margin-top: -25px;
            position: absolute;
        }
        p.statementtext {
            color: #333333;
            font-size: 14px !important;
        }
        p.mainbodytext {
            color: #333333;
            font-size: 12px !important;
        }
        p.systemmessagetext {
            color: #999999;
            font-size: 12px !important;
            font-style: italic;
        }
        p.rhcmodulestext {
            color: #666666;
            font-size: 11px !important;
        }
    }
    #typography_linkstyling {
        #typography_linkstyling_greycontainer {
            background-color: #f6f5f5;
        }
        #typography_linkstyling_blackcontainer {
            background: url("../images/navigation_item_bg.png") repeat-x scroll left top #222;
        }
        .typography_linkstyling_container {
            float: left;
            height: 45px;
            margin-top: 5px;
            padding: 5px 10px;
            width: 205px;
            span {
                display:block;
                + span {
                    margin-top: 10px;
                }
            }
            .linkstyle_linkonwhite, .linkstyle_hoveronwhite, .linkstyle_linkongrey,.linkstyle_hoverongrey {
                color: #2683BC;
                display: block;
            }
            .linkstyle_hoveronwhite, .linkstyle_hoverongrey {
                text-decoration: underline;
            }
            .linkstyle_linkondark, .linkstyle_hoverondark {
                color:#00c6ff;
            }
            .linkstyle_hoverondark {
                margin-top: 10px;
                text-decoration: underline;
                color:#fff;
            }
        }
    }
    #iconography_styling {
        h1 {
            margin-top: 30px;
        }
        h1.first {
            margin-top:10px;
        }
        #iconography_container {
            background-color: #F8F8FA;
            padding: 20px;
        }
        .wl-button {
            margin: 0 15px 10px 0;
        }
        .widget-narrow-column {
            width: 170px;
            float: left;
            span {
                display: block;
            }
            h3 {
                font-weight:normal;
            }
            ul {
                list-style: none;
                margin-top: 10px;
                li {
                    line-height: 30px;
                    img.person_icon{
                        width: 26px;
                        margin-right: 5px;
                    }
                }
                img {
                    float:left;
                    width: 20px;
                    height: 20px;
                    margin: 4px 10px 0 0;
                }
            }
            a {
                display:block;
            }
            .widget-narrow-column-subcolumn {
                width:75px;
                float:left;
                margin-top: 7px;
                span {
                    font-size:12px;
                    margin-top:5px;
                }
                img {
                    margin:0 auto;
                }
                span {
                    display:block;
                }
                img.large {
                    width:50px;
                    height:50px;
                }
                img.small {
                    width:35px;
                    height:35px;
                }
            }
        }
        #iconography_entity_details {
            font-size: 11px;
            margin-top: 5px;
            > span {
                color: #424242;
                display: inline-block;
                margin-left: 10px;
            }
            > span.first {
                margin-left: 0;
            }
        }
    }
    #widgetexamples02, #widgetexamples01 {
        h2 {
            border-bottom: 1px dotted #E2E2E2;
            color: #666;
            font-size: 17px;
            font-weight: normal;
            margin-bottom: 17px;
            margin-top: 10px;
            padding-bottom: 5px;
        }
        h2.halfpage_float {
            display:inline;
            float:left;
            width: 325px;
            margin-top:25px;
        }
        h2.halfpage_float {
            font-size: 15px;
        }
        h2.halfpage_float.first {
            margin-right: 20px;
        }
        #dashboard_widgets_screenshot {
            float: left;
            margin-right: 15px;
        }
        #dashboard_1_description {
            margin: 10px 0 0 345px;
            width: 250px;
        }
        img {
            margin: 10px 0;
        }
    }
    #widgetexamples01 {
        h2.halfpage_float {
            font-size: 15px;
            display:inline;
            float:left;
            width: 275px;
            margin-top:25px;
        }
        h2.halfpage_float.first {
            margin-right: 20px;
            width: 385px;
        }
    }
    #interactionmodels {
        img {
            margin-bottom: 25px;
        }
        h4 {
            margin-bottom:12px;
        }
        h4.halfpage_float {
            display:inline;
            float:left;
            width: 325px;
        }
        h4.halfpage_float.first {
            width: 250px;
        }
        #interactionmodels_systemmessages {
            margin-left: -25px;
            margin-top: 160px;
            position: absolute;
        }
        #interactionmodels_userlibrary, #interactionmodels_basicmessagedropdown {
            width: 220px;
            + h4 {
                width: auto;
            }
        }
        #interactionmodels_uploadfile {
            padding: 15px;
            margin-bottom: 15px;
            background-color: #fafafa;
            input {
                margin-right: 12px;
            }
        }
    }
}