<div class="wl-widget-item">
    <%= image_tag "developer_sad_smiley_icon.png", :alt => "Sad smiley", :class => "wl-left" %>
    <h3 class="widgetsdk_header_icon_text">Check out our <%= link_to "FAQ", "/sdk/help/faq", :class => "wl-regular-link" %> if you didn’t find what you were looking for on this page.</h3>
</div>