<% content_for :title do %> - SDK - API &amp; endpoints<% end %>
<div class="widgetsdk_container">
    <h1>API &amp; endpoints</h1>
    <p>There is already a lot of functionality build into Sakai OAE.<br />We show you how you can use that and how you can communicate with the server.</p>

    <div class="wl-widget-item">
        <%= image_tag "developer_fulldev_icon.png", :alt => "Front-end API", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>Front-end API</h2>
            <p>Use the build-in JavaScript functionality of Sakai OAE.</p>
            <%= link_to "View", "/sdk/api/frontend", :class => "wl-link-button wl-button wl-header-button blue"%>
        </div>
    </div>

    <div class="wl-widget-item">
        <%= image_tag "developer_quickdev_icon.png", :alt => "Back-end endpoints", :class => "descriptive_icon" %>
        <div class="descriptive_text">
            <h2>Back-end endpoints</h2>
            <p>Communicate with the OAE back-end.</p>
            <%= link_to "View", "/sdk/api/backend", :class => "wl-link-button wl-button wl-header-button blue"%>
        </div>
    </div>

    <hr class="wl-push wl-hidden"/>
</div>