<% content_for :title do %> - SDK - API &amp; endpoints<% end %>
<div class="widgetsdk_container">
    <h1>API</h1>
    <% if !@content.blank? %>
        <%= render :partial => "apimodulesnav",  :locals => { :content => @content }%>
    <% elsif %>
        <p>No results</p>
    <% end %>
    <hr class="wl-push wl-hidden"/>
</div>