<% content_for :title do %> - SDK - Back-end endpoints<% end %>
<div id="backend" class="widgetsdk_container">
    <h1>Back-end endpoints</h1>
    <p>Apereo OAE has a number of API functions available that your widgets should use to communicate with the Apereo OAE server. A full list of API functions will be coming soon, but documentation on some of the most used backend Widget API functions are provided below.</p>
    <p>If you are looking for API functions to build the interface of your widgets, check out the <%= link_to "front-end API", "/sdk/api/frontend", :class => "wl-regular-link" %>.</p>

    <div class="wl-widget-item">
        <h2>Back-end endpoints</h2>
        <p>More documentation will be added in the future. For now we recommend to run nakamura and go to <%= link_to "http://localhost:8080/system/doc", "http://localhost:8080/system/doc", :class => "wl-regular-link" %>.</p>
        <p>If you can't run nakamura locally, you can go to any of the <%= link_to "Apereo OAE QA servers", "https://confluence.sakaiproject.org/display/QA/QA+Servers+-+Sakai+OAE", :class => "wl-regular-link" %> and add <em>/system/doc</em> to the URL.</p>
    </div>
    <%= render :partial => "sdk/feedback" %>
</div>
