<% content_for :title do %> - SDK - Back-end endpoints<% end %>
<div id="backend" class="widgetsdk_container">
    <h1>Back-end endpoints</h1>
    <p>Sakai OAE has a number of API functions available that your widgets should use to communicate with the Sakai OAE server. A full list of API functions will be coming soon, but documentation on some of the most used backend Widget API functions are provided below.</p>
    <p>If you are looking for API functions to build the interface of your widgets, check out the <%= link_to "front-end API", "/sdk/api/frontend", :class => "wl-regular-link" %>.</p>

    <div class="wl-widget-item">
        <h2>Widgets</h2>
        <p>Many widgets need to save and retrieve settings or data about the work that they do for the user. The following two functions allow any instance of a widget to save and load data about itself to and from the server.</p>
    </div>
    <div class="wl-widget-item">
        <h2>Groups</h2>
        <p>Many widgets run within the context of a Sakai OAE Group. Groups contain members and managers that your widget may want to know about. Your widgets may also want to limit the functionality or data available to these different types of users.</p>
    </div>
    <div class="wl-widget-item">
        <h2>More back-end endpoints</h2>
        <p>When nakamura is running, you can find a list of the back-end enpoints at <%= link_to "http://localhost:8080/system/doc", "http://localhost:8080/system/doc", :class => "wl-regular-link" %></p>
    </div>
    <%= render :partial => "sdk/feedback" %>
</div>