<% content_for :title do %> - SDK - Back-end services<% end %>
<div id="backend" class="widgetsdk_container">
    <h1>Back-end services</h1>
    <p>Sakai OAE has a number of API functions available that your widgets should use to communicate with the Sakai OAE server. A full list of API functions will be coming soon, but documentation on some of the most used backend Widget API functions are provided below.</p>
    <p>If you are looking for API functions to build the interface of your widgets, check out the Frontend Services page.</p>
    
    <h3 class="wl-normal">Categories 
        <button type="button" class="wl-link-button wl-regular-link wl-bold wl-right expand_all_link" data-expanded="false">
            <span>Expand all &or;</span>
            <span style="display:none;">Collapse all &and;</span>
        </button>
    </h3>
    <div class="wl-widget-item">
        <h3 class="wl-regular-link no_decoration wl-normal">Widgets 
            <button type="button" class="wl-link-button wl-regular-link wl-bold wl-right expand_link" data-expanded="false">
                <span>Expand &or;</span>
                <span style="display:none;">Collapse &and;</span>
            </button>
        </h3>
        <p>Many widgets need to save and retrieve settings or data about the work that they do for the user. The following two functions allow any instance of a widget to save and load data about itself to and from the server.</p>
        <div class="expandable_container" style="display:none;"></div>
    </div>
    <div class="wl-widget-item">
        <h3 class="wl-regular-link no_decoration wl-normal">Groups 
            <button type="button" class="wl-link-button wl-regular-link wl-bold wl-right expand_link" data-expanded="false">
                <span>Expand &or;</span>
                <span style="display:none;">Collapse &and;</span>
            </button>
        </h3>
        <p>Many widgets run within the context of a Sakai OAE Group. Groups contain members and managers that your widget may want to know about. Your widgets may also want to limit the functionality or data available to these different types of users.</p>
        <div class="expandable_container" style="display:none;"></div>
    </div>
    <div class="wl-widget-item">
        <h3 class="wl-regular-link no_decoration wl-normal">More Backend Services 
            <button type="button" class="wl-link-button wl-regular-link wl-bold wl-right expand_link" data-expanded="false">
                <span>Expand &or;</span>
                <span style="display:none;">Collapse &and;</span>
            </button>
        </h3>
        <p>here are other backend API functions that can be found in the various sakai.api JavaScript files located at: /dev/lib/sakai</p>
        <div class="expandable_container" style="display:none;"></div>
    </div>
</div>