<% content_for :title do %> - SDK - Code best practices<% end %>
<div id="codingstandards" class="widgetsdk_container">
    <h1>Code best practices</h1>
    <p>Follow these simple few rules and you will be creating your own widgets for others to use on their Sakai platform.</p>
    <div class="wl-widget-item first">
        <h3>A more in-depth guid on Sakai OAE Widget SDK coding standards will be coming soon.</h3>
        <p>If you:</p>
        <ul class="inline_list">
            <li>start all your widgets using the template files provided in the <i>3akai-ux/devwidgets/_template</i> directory,</li>
            <li>follow the namespacing standards below and,</li>
            <li>follow the patterns mentioned in the <%= link_to "Hello World Tutorial", "/sdk/developwidget/learnbasics", :class => "wl-regular-link" %>,</li>
        </ul>
        <p>you should be just fine. The guidelines in the above resources should be considered the most up-to-date, but you may reference the older Development Guidelines if you are looking for further information. If you have any questions about coding standards, please feel free to comment on this page or contact the Sakai OAE developers.</p>
        <h2>Name spacing</h2>
        <p>It is very important to remember that widgets are designed to be embedded within other pages. A page that includes widget X may contain other widgets and may even contain multiple instances of widget X itself. For this reason, it is important to take certain measures to prevent naming clashes with other widgets. If you look at the Hello World Tutorial you will find that:</p>

        <ul class="inline_list">
            <li>All HTML element classes and ids begin with the widget's id: <i>myhelloworld</i>:</li>
        </ul>

        <div class="navigationalitems_codesnippit_container">
            <div class="navigationalitems_codesnippit_header"><h4>Properly namespacing HTML element classes and IDs</h4></div>

<pre>
<span class="blue">&lt;div class=</span><span class="green">"myhelloworld_widget"</span><span class="blue">&gt;</span>
    ...
   <span class="blue"> &lt;div id=</span><span class="green">"myhelloworld_main"</span><span class="blue">&gt;</span>
        ...
    <span class="blue">&lt;/div&gt;</span>

    <span class="blue">&lt;div id=</span><span class="green">"myhelloworld_settings"</span><span class="blue">&gt;</span>
        ...
   <span class="blue"> &lt;/div&gt;</span>
    ...
<span class="blue">&lt;/div&gt;</span>
</pre>
        </div>

        <ul class="inline_list">
            <li>all JavaScript references to HTML elements are constrained to the unique container of the widget (all instances of a widget, even instances of the same widget, are provided with unique ids):</li>
        </ul>

        <div class="navigationalitems_codesnippit_container">
            <div class="navigationalitems_codesnippit_header"><h4>Properly selecting elements in JavaScript</h4></div>
<pre class="black">
<span class="grey">// tuid is passed in as this widget's unique id</span>

<span class="grey">// unique container for each widget instance</span>
<span class="blue">var $rootel</span> = $(<span class="green">"#"</span> + tuid);

<span class="grey">// jQuery's search for the element with an id of myhelloworld_main is</span>
<span class="grey">// limited to within the $rootel container:</span>
<span class="blue">var $mainContainer</span> = $(<span class="green">"#myhelloworld_main"</span>, $rootel);

<span class="grey">// more jQuery HTML elements</span>
<span class="blue">var $settingsContainer</span> = $(<span class="green">"#myhelloworld_settings"</span>, $rootel);
<span class="blue">var $settingsForm</span> = $(<span class="green">"#myhelloworld_settings_form"</span>, $rootel);
<span class="blue">var $colorPicker</span> = $(<span class="green">"#myhelloworld_color"</span>, $rootel);
<span class="blue">var $usernameContainer</span> = $(<span class="green">"#myhelloworld_username"</span>, $rootel);
</pre>
        </div>
    </div>
    <div class="wl-widget-item">
        <%= image_tag "developer_sad_smiley_icon.png", :alt => "Visit the FAQ", :class => "wl-left" %><h3 class="widgetsdk_header_icon_text">Check out our <%= link_to "FAQ", "/sdk/faq", :class => "wl-regular-link" %> or add a comment below if you didn’t find what you were looking for on this page.</h3>
    </div>
</div>