<% content_for :title do %> - SDK - Development environment setup<% end %>
<div class="widgetsdk_container">
    <div id="development-environment-setup">
        <div class="wl-widget-item">
        <%= @content %>
        </div>
    </div>
    <hr class="wl-push wl-hidden"/>
</div>
