<% content_for :title do %> - SDK - Development environment setup<% end %>
<div class="widgetsdk_container">
    <div id="development-environment-setup">
        <div class="wl-widget-item">
        <% if !@content.blank? %>    
            <%= raw @content.gsub(/\r/, '<br />') %>
        <% else %>
            <h1>Open Academic Environment (OAE Project)</h1>
            <p>No results</p>       
        <% end %>    
        </div>
    </div>
    <hr class="wl-push wl-hidden"/>
</div>
