<% content_for :title do %> - SDK - OAE-Builder setup<% end %>
<div class="widgetsdk_container">
    <h1>OAE-Builder setup</h1>

    <p>The OAE has a tool called OAE builder to help set up a development environment.<br />It will build the back-end, get the latest code and add test data.</p>

    <div class="wl-widget-item first">
        <div class="widgetsdk_warning_box">
            <h4>Note for Lion XCode Users</h4>
            <p>Please note that the third command in the section below ("<%= link_to "Install ruby via rvm", "#install_ruby_rvm", :class => "wl-regular-link" %>") won't work with Lion XCode due to an issue with the gcc that comes with it. If you're using Lion XCode, replace line 3 below with:</p>
            <div class="navigationalitems_codesnippit_container">
<pre class="prettyprint">
rvm install 1.9.3 --with-gcc=clang
</pre>
            </div>
        </div>

        <div class="navigationalitems_codesnippit_container">
            <div class="navigationalitems_codesnippit_header">
                <h4 id="install_ruby_rvm">Install ruby via rvm (once per machine, you can skip this if you already have ruby and rvm installed)</h4>
            </div>
<pre class="prettyprint">
bash -s stable &lt; &lt;(curl -s https://raw.github.com/wayneeseguin/rvm/master/binscripts/rvm-installer)

source $HOME/.bash_profile

rvm install 1.9.3

rvm use 1.9.3

rvm gemset create default

rvm use --default 1.9.3@default
</pre>
        </div>

        <div class="navigationalitems_codesnippit_container">
            <div class="navigationalitems_codesnippit_header">
                <h4>Set up OAE-Builder (only need to do this once per machine &amp; you can use any folder you want)</h4>
            </div>
<pre class="prettyprint">
mkdir /opt/sakai

cd /opt/sakai

git clone git://github.com/sakaiproject/OAE-Builder.git

cd OAE-Builder

gem install bundler

bundle install --without mysql
</pre>
        </div>

        <div class="navigationalitems_codesnippit_container">
            <div class="navigationalitems_codesnippit_header">
                <h4>Create a file called settings.rb in the current folder</h4>
            </div>
<pre class="prettyprint">
num_users_groups = 25
update_ui = false
</pre>
        </div>
        <div class="navigationalitems_codesnippit_container navigationalitems_codesnippit_container_intended">
            <div class="navigationalitems_codesnippit_header">
                <h4>If you'll be working on the front-end code, change the repository to your own 3akai-ux repo.</h4>
            </div>
<pre class="prettyprint">
ui = {"path" => "../3akai-ux", "repository" => "git@github.com:&lt;your GitHub username here&gt;/3akai-ux.git", "branch" => "master", "localbranch" => "master", "remote" => "origin"}
</pre>
        </div>

        <div class="navigationalitems_codesnippit_container few_lines">
            <div class="navigationalitems_codesnippit_header">
                <h4>Clone all the projects locally (only do this once)</h4>
            </div>
<pre class="prettyprint">
cd /opt/sakai/OAE-Builder
rake bld:clone
</pre>
        </div>

        <div class="navigationalitems_codesnippit_container few_lines">
            <div class="navigationalitems_codesnippit_header">
                <h4>Build all the projects and start the server (you'll do this every day)</h4>
            </div>
<pre class="prettyprint">
rake
</pre>
        </div>

        <div class="navigationalitems_codesnippit_container few_lines">
            <div class="navigationalitems_codesnippit_header">
                <h4>When finished, create a bunch of users and groups, send some messages and set up fsresource</h4>
            </div>
<pre class="prettyprint">
rake setup
</pre>
        </div>

        <p>To verify everything is working, go to <%= link_to "http://localhost:8080", "http://localhost:8080", :class => "wl-regular-link" %> in a web browser and log in with user1:test. During development, make sure you disable the cache in your browser to ensure you're always getting the latest code from the server</p>
    </div>

    <%= render :partial => "sdk/feedback" %>
</div>
