<% content_for :title do %> - SDK - Examples of existing widgets<% end %>
<div id="examples" class="widgetsdk_container">
    <h1>Examples of existing widgets</h1>
    <p>This section of the Widget SDK is to help you quickly get started with developing Sakai OAE widgets. Sakai OAE widgets are built using frontend web technologies including HTML, CSS and JavaScript. It is assumed that you have a grasp on these technologies throughout this documentation</p>
    <div class="wl-widget-item">
        <%= image_tag "developer_worlddashboard_example.jpg", :alt => "World dashboard widget", :class => "wl-left" %>
        <div class="descriptive_text">
            <h2>World dashboard widget</h2>
            <p>Dashboard widgets are those that appear on dashboards within Sakai OAE. For example, My Groups, My Profile, My recent contacts and My recent content are all dashboard widgets that appear on a World Dashboard:</p>
            <%= link_to "View example", "/sdk/examples/worlddashboard", :class => "wl-button wl-link-button wl-header-button"%>
        </div>
        <hr class="wl-push wl-hidden"/>
    </div>

    <div class="wl-widget-item">
        <%= image_tag "developer_pagewidget_example.jpg", :alt => "Page widget", :class => "wl-left" %>
        <div class="descriptive_text">
            <h2>Page widget</h2>
            <p>Page widgets are those that appear on user or group pages (not dashboard pages) within Sakai OAE. For example, Googlemaps and Comments are page widgets that appear on a user's page.</p>
            <%= link_to "View example", "/sdk/examples/pagewidget", :class => "wl-button wl-link-button wl-header-button"%>
        </div>
        <hr class="wl-push wl-hidden"/>
    </div>
</div>