<% content_for :title do %> - SDK - FAQs<% end %>
<div id="faq" class="widgetsdk_container">
    <h1>FAQs about Sakai OAE Widget development</h1>

    <h3 class="wl-normal">
        <button type="button" class="wl-link-button wl-regular-link wl-bold wl-right expand_all_link" data-expanded="false">
            <span>Expand all &or;</span>
            <span style="display:none;">Collapse all &and;</span>
        </button>
    </h3>
    <div class="wl-widget-item">
        <h3 class="wl-regular-link no_decoration wl-normal">Development Questions 
            <button type="button" class="wl-link-button wl-regular-link wl-bold wl-right expand_link" data-expanded="false">
                <span>Expand &or;</span>
                <span style="display:none;">Collapse &and;</span>
            </button>
        </h3>
        <h3 class="wl-normal">What kinds of technologies do I need to know to develop Sakai OAE widgets? How much experience will I need?</h3>
        <div class="expandable_container" style="display:none;">
            <p>Sakai OAE widgets use frontend web technologies such as HTML (for widget layout), CSS (for widget styling), JavaScript (for widget behavior) and JSON (for widget data management). jQuery is a major JavaScript library used throughout Sakai OAE widgets. Sakai OAE has been designed to make widget development very easy and the architecture of a Sakai OAE widget is relatively simple.</p>
            <p>If you are comfortable (but by no means an expert) with HTML, CSS, JavaScript/jQuery and JSON, you should have no problem at all in developing Sakai OAE widgets.</p>
            <p>If you are new to any of the above technologies, you can expect a bit of a ramp up period to get up-to-speed, but because Sakai OAE widgets have a relatively simple architecture, you will be able to quickly learn from other simple widgets within the codebase as examples.</p>
            <p>For example widgets that have been heavily documented in this Widget SDK documentation, see the Widget Examples page.</p>
        </div>

        <h3 class="wl-normal">How do I get and install Sakai OAE?</h3>
        <div class="expandable_container" style="display:none;">
            <p>Depending on what you want to do with Sakai OAE, there are different methods for getting and installing Sakai OAE:</p>
            <ul class="inline_list">
                <li>for building, deploying and developing for Sakai OAE on your own machine, follow the instructions on the Quick development environment set up page.</li>
                <li>for simply running and experimenting with the latest Sakai OAE release on your own machine, you can download a one-click installer from the Sakai OAE release page. This will not allow you to see or change any of the Sakai OAE code.</li>
                <li>if you have trouble with the one-click installer, you may also download the binary package from the Sakai OAE release page and run the server yourself. This option will also not allow you to see or change any of the Sakai OAE code.</li>
            </ul>
        </div>

        <h3 class="wl-normal">Where do I find detailed documentation on the services that are available for use in my widgets?</h3>
        <div class="expandable_container" style="display:none;">
            <p>The Widget API section of this documentation contains information on Frontend Services, Backend Services and 3rd Party Services available to Sakai OAE widgets. If you are unable to find information on the service you are looking for, there may be additional locations that would be worthwhile to search:</p>
            <div class="widgetsdk_treelist">
                <ul>
                    <li>All Sakai OAE Widget API functions can be found in the various sakai.api JavaScript files located in the /dev/lib/sakai directory</li>
                    <li>For information on services provided directly by the Sakai OAE server, check out these locations:
                        <ul>
                            <li>Nakamura Documentation Wiki</li>
                            <li>Your local Sakai OAE server's built in documentation: <%= link_to "localhost:8080/system/doc", "http://localhost:8080/system/doc", :class => "wl-regular-link" %></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <p>If you cannot find what you are looking for, please feel free to contact the Sakai OAE developers.</p>
        </div>
    </div>

    <div class="wl-widget-item">
        <h3 class="wl-regular-link no_decoration wl-normal">Contributing to Sakai OAE 
            <button type="button" class="wl-link-button wl-regular-link wl-bold wl-right expand_link" data-expanded="false">
                <span>Expand &or;</span>
                <span style="display:none;">Collapse &and;</span>
            </button>
        </h3>
        <h3 class="wl-normal">How do I report a bug?</h3>
        <div class="expandable_container" style="display:none;"></div>
        <h3 class="wl-normal">How do I suggest a feature?</h3>
        <div class="expandable_container" style="display:none;"></div>
        <h3 class="wl-normal">What is the best git workflow to use?</h3>
        <div class="expandable_container" style="display:none;"></div>
    </div>

    <div class="wl-widget-item">
        <h3 class="wl-regular-link no_decoration wl-normal">Sakai OAE Background information 
            <button type="button" class="wl-link-button wl-regular-link wl-bold wl-right expand_link" data-expanded="false">
                <span>Expand &or;</span>
                <span style="display:none;">Collapse &and;</span>
            </button>
        </h3>
        <h3 class="wl-normal">How does Sakai OAE relate to Sakai CLE (the previous version of Sakai)?</h3>
        <div class="expandable_container" style="display:none;"></div>
        <h3 class="wl-normal">What releases of Sakai OAE are currently available?</h3>
        <div class="expandable_container" style="display:none;"></div>
        <h3 class="wl-normal">What platform(s) does Sakai OAE run on?</h3>
        <div class="expandable_container" style="display:none;"></div>
        <h3 class="wl-normal">How is Sakai OAE licensed?</h3>
        <div class="expandable_container" style="display:none;"></div>
        <h3 class="wl-normal">Do I need to buy or pay anything to create Sakai OAE widgets?</h3>
        <div class="expandable_container" style="display:none;"></div>
        <h3 class="wl-normal">Where can I find working versions of Sakai OAE to experiment with or share with colleagues?</h3>
        <div class="expandable_container" style="display:none;"></div>
    </div>
</div>