<% content_for :title do %> - SDK - How to display a form<% end %>
<div id="forms" class="widgetsdk_container">
    <h1>Forms</h1>
    <p>A detailed explanation on how to display forms within your widgets</p>

    <div class="wl-widget-item first">
        <h2>A basic form within a widget showing spacing</h2>
        <div class="form_container">
            <div style="position: absolute; font-size: 10px; font-family: arial; color: #999999;">
                <div style="margin-left: 118px; margin-top: 7px; position: absolute;">Arial 12pt, #333333</div>
                <div style="margin-left: 483px; margin-top: 9px;">30 px</div>
                <div style="margin-left: 483px; margin-top: 29px;">10 px</div>
                <div style="margin-left: 483px; margin-top: 20px;">10 px</div>
                <div style="margin-left: 483px; margin-top: 20px;">10 px</div>
                <div style="margin-left: 483px; margin-top: 20px;">10 px</div>
                <div style="margin-left: 483px; margin-top: 20px;">10 px</div>
                <div style="margin-left: 483px; margin-top: 20px;">10 px</div>
                <div style="margin-left: 483px; margin-top: 20px;">10 px</div>
                <div style="margin-left: 483px; margin-top: 20px;">10 px</div>
                <div>Arial 12pt, #666666</div>
                <div style="margin-left: 483px;">20 px</div>
                <div style="margin-left: 483px; margin-top: 95px;">10 px</div>
                <div style="margin-left: 483px; margin-top: 26px;">20 px</div>
                <div style="margin-top: 20px; margin-left: 119px;">Arial 12pt, #333333, leading 14pt</div>
            </div>
            <%= image_tag "widgetexample_form_1.png", :alt => "Basic form with spacing" %>
        </div>

        <h2>A basic form within a widget showing error states</h2>
        <div class="form_container">
            <div style="position: absolute; font-size: 10px; font-family: arial; color: #999999;">
                <div style="margin-left: 480px; margin-top: 6px;">Arial 12pt, #FFFFFF</div>
                <div style="margin-left: 479px; margin-top: 151px;">Background color: #CC0000</div>
                <div style="margin-top: 79px;">Arial 12pt, #666666</div>
            </div>
            <%= image_tag "widgetexample_form_2.png", :alt => "Basic form with spacing" %>
        </div>
    </div>
    <%= render :partial => "sdk/feedback" %>
</div>