<% content_for :title do %> - SDK - Full development environment setup<% end %>
<div id="fulldevsetup" class="widgetsdk_container">
    <h1>Full development environment setup</h1>
    <p>The OAE has a tool called OAE builder to help set up a development environment. The OAE Builder fetches all the latest code from the different repositories and stores it on your local machine. If you don't want this take a look at the <%= link_to "Quick Development Envirionment Setup", "/sdk/developwidget/quickdevsetup", :class => "wl-regular-link" %>.</p>

    <div class="wl-widget-item first">
        <div class="navigationalitems_codesnippit_container">
            <div class="navigationalitems_codesnippit_header">
                <h4>Install ruby via rvm (once per machine, you can skip this if you already have ruby and rvm installed)</h4>
            </div>
<pre class="prettyprint">
bash &lt; &lt;(curl -s https://raw.github.com/wayneeseguin/rvm/master/binscripts/rvm-installer)

echo -e '\n[[ -s "$HOME/.rvm/scripts/rvm" ]] &amp;&amp; . "$HOME/.rvm/scripts/rvm" # Load RVM function' &gt;&gt; ~/.bash_profile

source $HOME/.bash_profile

rvm install 1.9.3

rvm use 1.9.3

rvm gemset create default

rvm use --default 1.9.3@default
</pre>
        </div>

        <div class="navigationalitems_codesnippit_container">
            <div class="navigationalitems_codesnippit_header">
                <h4>Set up OAE-Builder (only need to do this once per machine)</h4>
            </div>
<pre class="prettyprint">
mkdir /opt/sakai

cd /opt/sakai

git clone git://github.com/sakaiproject/OAE-Builder.git

cd OAE-Builder

gem install bundler

bundle install --without mysql
</pre>
        </div>

        <div class="navigationalitems_codesnippit_container">
            <div class="navigationalitems_codesnippit_header">
                <h4>Create a file called settings.rb in the current folder</h4>
            </div>
<pre class="prettyprint">
num_users_groups = 25
update_ui = false

ui = {
    "path" => "../3akai-ux",
    "repository" => "https://github.com/sakaiproject/3akai-ux.git",
    "branch" => "master",
    "localbranch" => "master",
    "remote" => "sakaiproject"
}
sparse = {
    "path" => "../sparsemapcontent",
    "repository" => "https://github.com/sakaiproject/sparsemapcontent.git",
    "branch" => "master",
    "localbranch" => "master",
    "remote" => "sakaiproject"
}
solr = {
    "path" => "../solr",
    "repository" => "https://github.com/sakaiproject/solr.git",
    "branch" => "master",
    "localbranch" => "master",
    "remote" => "sakaiproject"
}
nakamura = {
    "path" => "../nakamura",
    "repository" => "https://github.com/sakaiproject/nakamura.git",
    "branch" => "master",
    "localbranch" => "master",
    "port" => "8080",
    "remote" => "sakaiproject"
}
</pre>
        </div>

        <div class="navigationalitems_codesnippit_container few_lines">
            <div class="navigationalitems_codesnippit_header">
                <h4>Clone all the projects locally (only do this once)</h4>
            </div>
<pre class="prettyprint">
cd /opt/sakai/OAE-Builder
rake clone
</pre>
        </div>

        <div class="navigationalitems_codesnippit_container few_lines">
            <div class="navigationalitems_codesnippit_header">
                <h4>Build all the projects and start the server (you'll do this every day)</h4>
            </div>
<pre class="prettyprint">
rake
</pre>
        </div>

        <div class="navigationalitems_codesnippit_container few_lines">
            <div class="navigationalitems_codesnippit_header">
                <h4>When finished, create a bunch of users and groups, send some messages and set up fsresource</h4>
            </div>
<pre class="prettyprint">
rake setup
</pre>
        </div>

        <p>To verify everything is working, go to http://localhost:8080 in a web browser and log in with user1:test during development, make sure you disable the cache in your browser to ensure you're always getting the latest code from the server</p>
    </div>
    
    <div class="wl-widget-item">
        <%= image_tag "developer_sad_smiley_icon.png", :alt => "Visit the FAQ", :class => "wl-left" %><h3 class="widgetsdk_header_icon_text">Check out our <%= link_to "FAQ", "/sdk/faq", :class => "wl-regular-link" %> or add a comment below if you didn’t find what you were looking for on this page.</h3>
    </div>
</div>
