<% content_for :title do %> - SDK - Page widget<% end %>
<div id="pagewidget" class="widgetsdk_container">
    <h1>Page widget</h1>
    <p>Page widgets are those that appear on pages like a Sakai document. For example, content comments, embed content, Google maps and discussions are all page widgets that appear in a Sakai document:</p>
    <%= image_tag "developer_pagewidget_1.jpg", :alt => "Page widget", :class => "wl-left wl-margin-right-15" %>

    <hr class="wl-hidden wl-push"/>
    <p class="wl-push">A dashboard widget can be added, removed or moved within its containing page. Another special characteristic of a page widget is that its settings have a separate overlay dialog. This settings dialog can be accessed through the page editor.</p>
    <%= image_tag "developer_pagewidget_2.png", :alt => "Page widget", :class => "wl-left wl-margin-right-15" %>
</div>