<% content_for :title do %> - SDK - API &amp; endpoints<% end %>
<div class="widgetsdk_container">
    <h1>Development environment setup</h1>
    <p>Parse README.md</p>
    <hr class="wl-push wl-hidden"/>
</div>