<% content_for :title do %> - SDK - Typography<% end %>
<div id="typography" class="widgetsdk_container">
    <h1>Typography</h1>
    <p>The main font used in Sakai OAE is ‘<strong>Arial</strong>’, which can be used in all weights (Regular, Bold and Italic). See the <%= link_to "widget examples", "/sdk/widgetdesignandstyle/widgetexamples01", :class => "wl-regular-link" %> for font usage.</p>

    <div class="wl-widget-item first" id="typography_headerstyling">
        <h1>Heading (Arial - Link color: 2683BC, Hover: 2383BC underline):</h1>
        <div class="style_container">
            <div class="style_fontsize">24pt</div>
            <h1 class="header1">Heading 01</h1>
            <span class="header_style">- Regular,</span><span class="header_color">Colour: 666666</span>
            <span>Usage: Main page headings (Used in headers of pages)</span>
        </div>

        <div class="style_container">
            <div class="style_fontsize">20pt</div>
            <h2 class="header2">Heading 02</h2>
            <span class="header_style">- Regular,</span><span class="header_color">Colour: 666666</span>
            <span>Usage: Overlay main headings</span>
        </div>

        <div class="style_container">
            <div class="style_fontsize">18pt</div>
            <h3 class="header3">Heading 03</h3>
            <span class="header_style">- Regular,</span><span class="header_color">Colour: 666666</span>
            <span>Usage: Overlay secondary heading</span>
        </div>

        <div class="style_container">
            <div class="style_fontsize">14pt</div>
            <h4 class="header4">Heading 04</h4>
            <span class="header_style">- Bold,</span><span class="header_color">Colour: 666666</span>
            <span>Usage: Secondary heading within a full page widget</span>
        </div>

        <div class="style_container">
            <div class="style_fontsize">12pt</div>
            <h5 class="header5">Heading 05</h5>
            <span class="header_style">- Bold,</span><span class="header_color">Colour: 666666</span>
            <span>Usage: Document titles, User names (Right Hand Column widgets)</span>
        </div>

        <div class="style_container">
            <div class="style_fontsize">11pt</div>
            <h6 class="header6">Heading 06</h6>
            <span class="header_style">- Bold,</span><span class="header_color">Colour: 666666</span>
            <span>Usage: Secondary headings in Right Hand Column widgets</span>
        </div>
    </div>

    <div class="wl-widget-item first" id="typography_bodystyling">
        <h1>Body copy (Arial - Link color: 2683BC, Hover: 2383BC underline):</h1>
        <div class="style_container">
            <div class="style_fontsize">14pt</div>
            <p class="statementtext">Body copy 01</p>
            <span class="header_style">- Regular, Leading 16pt</span><span class="header_color">Colour: 333333</span>
            <span>Usage: Where large 'statement' body copy is needed within a full page widget</span>
        </div>
        <div class="style_container">
            <div class="style_fontsize">12pt</div>
            <p class="mainbodytext">Body copy 01</p>
            <span class="header_style">- Regular, Leading 14pt</span><span class="header_color">Colour: 333333</span>
            <span>Usage: Main body copy style for use in full width page widgets</span>
        </div>
        <div class="style_container">
            <div class="style_fontsize">12pt</div>
            <p class="systemmessagetext">Body copy 01</p>
            <span class="header_style">- Regular, Leading 14pt</span><span class="header_color">Colour: 999999</span>
            <span>Usage: Used for system message in an input box</span>
        </div>
        <div class="style_container">
            <div class="style_fontsize">11pt</div>
            <p class="rhcmodulestext">Body copy 01</p>
            <span class="header_style">- Regular, Leading 13pt</span><span class="header_color">Colour: 666666</span>
            <span>Usage: Body copy for Right Hand Column modules</span>
        </div>
    </div>

    <div class="wl-widget-item first" id="typography_linkstyling">
        <h1>In-Line Links</h1>
        <div class="typography_linkstyling_container">
            <span class="linkstyle_linkonwhite">Link on white background panels</span>
            <span class="linkstyle_hoveronwhite">Hover on white background panels</span>
        </div>
        <div class="typography_linkstyling_container">
            <span>- Color: 2683BC</span>
            <span>- Color: 2683BC underline</span>
        </div>
        <div class="typography_linkstyling_container">
            Usage: For all heading and in-line links
        </div>

        <div class="typography_linkstyling_container" id="typography_linkstyling_greycontainer">
            <span class="linkstyle_linkongrey">Link on grey background panels</span>
            <span class="linkstyle_hoverongrey">Hover on grey background panels</span>
        </div>
        <div class="typography_linkstyling_container">
            <span>- Color: 2683BC</span>
            <span>- Color: 2683BC underline</span>
        </div>
        <div class="typography_linkstyling_container">
            Usage: For all heading and in-line links on light grey backgrounds
        </div>

        <div class="typography_linkstyling_container" id="typography_linkstyling_blackcontainer">
            <span class="linkstyle_linkondark">Link on dark background panels</span>
            <span class="linkstyle_hoverondark">Hover on dark background panels</span>
        </div>
        <div class="typography_linkstyling_container">
            <span>- Color: 00C6FF</span>
            <span>- Color: FFFFFF underline</span>
        </div>
        <div class="typography_linkstyling_container">
            Usage: For all heading and in-line links on dark backgrounds
        </div>
    </div>
    <hr class="wl-push wl-hidden"/>
</div>