<div id="widgetexamples01" class="widgetsdk_container">
    <h1>Widget examples 01</h1>
    <p>Various examples of widgets, detailing spacing, font type, style and size and image dimensions to help you on your way to creating your own list based Sakai widgets.</p>
    <div class="wl-widget-item first">
        <h2 class="halfpage_float first">Example 'List of content'</h2>
        <h2 class="halfpage_float">Example 'Recent Activity list'</h2>
        <%= image_tag "widgetexample_dashboard_5.png", :alt => "Dashboard Widgets" %>

        <h2>Example 'Discussion'</h2>
        <%= image_tag "widgetexample_dashboard_6.png", :alt => "Dashboard Widgets" %>

        <h2>Example full width 'List of Content'</h2>
        <%= image_tag "widgetexample_dashboard_7.png", :alt => "Dashboard Widgets" %>

        <h2>Example full width 'List of Contacts'</h2>
        <%= image_tag "widgetexample_dashboard_8.png", :alt => "Dashboard Widgets" %>
    </div>
</div>