<% content_for :title do %> - SDK - Widget template builder<% end %>
<div id="widgetbuilder" class="widgetsdk_container">
    <h1>Widget template builder</h1>
    <p>With the widget template builder you can create a skeleton framework of a widget.</p>
    <%= form_tag("/zippedwidget", :method => "post", :id => "widgetbuilder_form") do %>
        <div class="wl-widget-item">
            <h2>Widget creator</h2>
            <p>Fill out the ‘name’ and a basic description of your widget below and select one of the pre-defined categories.</p>
            <h3><%= label_tag "widgetbuilder_title", "Widget name" %></h3>
            <input type="text" placeholder="(e.g. Grapher 202...)" id="widgetbuilder_title" class="required" name="widgetbuilder_title"/>
            <h3>Options</h3>
            <div id="widgetbuilder_options">
                <input type="radio" name="widgetbuilder_skeletontype" id="widgetbuild_skeleton" value="skeleton" checked/><%= label_tag "widgetbuild_skeleton", "Create a skeleton framework (no code, just the correct file structure)" %>
                <input type="radio" name="widgetbuilder_skeletontype" id="widgetbuild_example" value="helloworld"/><%= label_tag "widgetbuild_example", "Create an example framework (code and the correct file structure)" %>
            </div>
            <hr class="wl-split-line"/>
            <button type="button" class="wl-button wl-overlay-button" id="widgetbuilder_create">Create skeleton Widget</button>
         </div>
    <% end %>
    <hr class="wl-push wl-hidden"/>
</div>
