<% content_for :title do %> - SDK - World dashboard widget<% end %>
<div id="worlddashboard" class="widgetsdk_container">
    <h1>World dashboard widget</h1>

    <p>Dashboard widgets are those that appear on dashboards within Sakai OAE. For example, My Groups, My Profile, My recent contacts and My recent content are all dashboard widgets that appear on a user's personal Home page dashboard:</p>
    <%= image_tag "developer_dashboardwidget_1.jpg", :alt => "World dashboard widget", :class => "descriptive_icon" %>

    <p>Dashboard widgets may also be placed on dashboard pages within a user or group's pages:</p>
    <%= image_tag "developer_dashboardwidget_2.jpg", :alt => "World dashboard widget", :class => "wl-left wl-margin-right-15" %>

    <hr class="wl-hidden wl-push"/>
    <p class="wl-push">A dashboard widget can be added, removed, moved or hidden within its containing dashboard. Other special characteristics of a dashboard widget are its:</p>
    <ul class="inline_list">
        <li>"window dressing" (the title bar with icon, borders and footer)</li>
        <li>optional settings menu accessible through the title bar</li>
        <li>settings view and main view share the same space (the widget contents toggle between the settings and main views):</li>
    </ul>
    <%= image_tag "developer_dashboardwidget_3.jpg", :alt => "World dashboard widget" %>

    <p>To make sure your dashboard widget is accessible, set the following properties in your widget's config.json file:</p>
    <div class="navigationalitems_codesnippit_container">
        <div class="navigationalitems_codesnippit_header"><h4>Widget config.json properties for dashboard widgets</h4></div>
<pre class="green">
"groupdashboard": <span class="blue">  true,    <span class="red">//widget may appear on a group dashboard page</span></span>
"personalportal": <span class="blue">  true,    <span class="red">//widget may appear on a user's Home page dashboard</span></span>
"userdashboard": <span class="blue">   true     <span class="red">//widget may appear on a user dashboard page</span></span>
</pre>
    </div>
</div>