/******************/
/* GENERAL MARKUP */
/******************/
* {
  margin: 0;
  padding: 0; }

html, textarea {
  font: 13px/1.231 Arial, Helvetica, sans-serif; }

body {
  background: url("../images/body_bg.png") repeat-x top left #f2f2f2;
  font-size: 13px; }

body > #top-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #676767;
  z-index: 0; }

h1 {
  color: #333;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 9px 0; }

.wl-bold {
  font-weight: bold; }

.wl-push {
  clear: both; }

.wl-hidden {
  margin: 0;
  visibility: hidden;
  border: none;
  clear: both;
  height: 0; }

.wl-left {
  float: left; }

.wl-right {
  float: right; }

.wl-regular-link {
  color: #2683bc;
  text-decoration: none; }

.wl-regular-link:hover {
  text-decoration: underline; }

.wl-split-line {
  background-color: none;
  border: medium none;
  border-top: 1px dotted #d4d4d4;
  height: 1px;
  margin: 8px 0; }

.wl-split-line.full-line {
  border-top: 1px solid #d4d4d4; }

/* Main container*/
.wl-page-container {
  background-color: #fff;
  width: 916px;
  min-height: 320px;
  position: relative;
  z-index: 1;
  padding: 0 22px;
  padding-bottom: 20px; }
  .wl-page-container .wl-container-shadow-left, .wl-page-container .wl-container-shadow-right {
    background: url("../images/container_shadow_left.png") no-repeat scroll 0 0 transparent;
    height: 346px;
    margin-left: -32px;
    position: absolute;
    width: 10px;
    margin-top: -5px; }
  .wl-page-container .wl-container-shadow-right {
    background: url("../images/container_shadow_right.png") no-repeat scroll 0 0 transparent;
    float: right;
    margin-left: 938px; }

.wl-centered {
  margin: 0 auto; }

.wl-content-container {
  margin-top: 25px;
  padding-top: 20px; }

.wl-padding-15-0 {
  padding-top: 15px;
  padding-bottom: 15px; }

.wl-padding-0-10 {
  padding-left: 10px;
  padding-right: 10px; }

.wl-content-145 {
  width: 145px; }

.wl-content-165 {
  width: 165px; }

.wl-content-185 {
  width: 185px; }

.wl-content-710 {
  width: 710px; }

.wl-content-730 {
  width: 730px; }

/* Inset Shadow containers*/
.wl-inset-shadow-container {
  background: url("../images/inset_shadow_container_bg.png") repeat-x top left #fefefe;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 12px -4px #888888 inset;
  -moz-box-shadow: 0 0 12px -4px #888888 inset;
  -webkit-box-shadow: 0 0 12px -4px #888888 inset;
  margin-top: 20px;
  padding: 8px 10px 10px; }

/* Ratings */
.wl-rating-container {
  padding-top: 10px; }
  .wl-rating-container .wl-rating-icon {
    background: url("../images/rating_icon.png") no-repeat scroll left -14px transparent;
    width: 15px;
    height: 15px;
    float: left; }
  .wl-rating-container .wl-rating-icon.filled {
    background: url("../images/rating_icon.png") no-repeat left top transparent; }
  .wl-rating-container .wl-number-of-ratings {
    margin-left: 7px; }

/* Small widget representation */
.wl-widget-item, .wl-widget-item-container {
  background-color: #fff;
  margin: 0 3px 3px 0;
  float: left;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px 0 #bbbbbb;
  -moz-box-shadow: 0 1px 1px 0 #bbbbbb;
  -webkit-box-shadow: 0 1px 1px 0 #bbbbbb;
  padding: 15px 13px 11px;
  font-size: 11px;
  color: #666; }

.wl-widget-item-container {
  clear: both;
  width: 690px;
  margin-bottom: 20px;
  padding: 15px 8px 11px; }
  .wl-widget-item-container .wl-widget-item {
    margin: 0;
    width: 220px;
    height: auto;
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0 5px; }

.wl-widget-item {
  width: 148px;
  height: 78px; }
  .wl-widget-item a.wl-widget-item_widgetname {
    display: block; }
  .wl-widget-item .wl-widget-item-icon {
    height: 50px;
    width: 50px;
    float: left;
    padding-right: 10px; }
  .wl-widget-item .wl-number-of-users {
    clear: both;
    display: block;
    padding-top: 5px; }

/* Buttons */
a.wl-button {
  text-decoration: none; }

.wl-button {
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  color: #666;
  height: 27px;
  padding: 0 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  margin-right: 5px;
  border: none; }

.wl-button.blue {
  color: #2683bc; }

/* Link buttons */
.wl-link-button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: #2683bc;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  display: inline-block;
  text-align: left;
  font-size: 11px; }

.wl-link-button:hover {
  cursor: pointer;
  text-decoration: none;
  color: #999; }

.wl-link-button::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0; }

/* Overlay buttons */
.wl-button.wl-overlay-button {
  background: url("../images/button_overlay_default.png") repeat-x scroll left top transparent;
  border: 1px solid #E0E3E5;
  font-size: 11px;
  font-weight: bold;
  height: 24px;
  margin-left: 15px;
  box-shadow: 0 1px 1px 0 #999999;
  -moz-box-shadow: 0 1px 1px 0 #999999;
  -webkit-box-shadow: 0 1px 1px 0 #999999;
  text-shadow: 0 2px 3px #fff;
  color: #2683bc; }
  .wl-button.wl-overlay-button:hover {
    background: url("../images/button_overlay_hover.png") repeat-x scroll left top transparent; }

.wl-button.wl-overlay-button[disabled] {
  color: #ccc; }

.wl-button.wl-overlay-button[disabled]:hover {
  background: url("../images/button_overlay_default.png") repeat-x scroll left top transparent;
  cursor: auto; }

/* Large in-page buttons */
.wl-button.wl-large-button {
  background: url("../images/button_large_default.png") repeat-x scroll left top transparent;
  height: 31px;
  padding: 0 7px;
  border: 1px solid #e0e3e5;
  color: #2683bc;
  box-shadow: 0 1px 1px 0 #999999;
  -moz-box-shadow: 0 1px 1px 0 #999999;
  -webkit-box-shadow: 0 1px 1px 0 #999999;
  text-shadow: 0 2px 3px #fff;
  font-size: 13px; }
  .wl-button.wl-large-button:hover {
    background: url("../images/button_large_hover.png") repeat-x scroll left top transparent;
    color: #999; }

/* Header buttons */
.wl-button.wl-header-button {
  background: #fff;
  box-shadow: 0 0 4px -2px #a8a8a8 inset;
  -moz-box-shadow: 0 0 4px -2px #a8a8a8 inset;
  -webkit-box-shadow: 0 0 4px -2px #a8a8a8 inset;
  border: 1px solid #e0e3e5; }
  .wl-button.wl-header-button:hover {
    background: url("../images/button_header_hover.png") repeat-x scroll left -1px transparent;
    border: 1px solid #E0E3E5;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none; }

.wl-button.wl-header-button[disabled] {
  background: #fff;
  cursor: auto;
  color: #ccc; }

.wl-button.wl-header-button[disabled]:hover {
  background: #fff;
  box-shadow: 0 0 6px -2px #a8a8a8 inset;
  -moz-box-shadow: 0 0 6px -2px #a8a8a8 inset;
  -webkit-box-shadow: 0 0 6px -2px #a8a8a8 inset;
  border: 1px solid #e0e3e5; }

a.wl-button.wl-header-button {
  height: 24px;
  line-height: 24px;
  display: inline-block; }

/***********/
/* DIALOGS */
/***********/
.jqmOverlay {
  background-color: #000000;
  opacity: 0.5 !important; }

.wl-dialog {
  color: #333;
  display: none;
  left: 50%;
  margin-left: -250px;
  position: absolute;
  top: 50px;
  width: 500px; }

.wl-dialog-container {
  background-color: #fff;
  border: 1px solid #a9a9a9;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 20px 12px;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  color: #333;
  font-size: 12px; }
  .wl-dialog-container .wl-dialog-close {
    background: url("../images/dialog_close.png") no-repeat top left transparent;
    width: 19px;
    height: 17px;
    float: right;
    cursor: pointer;
    margin: -2px -15px 0 0; }
  .wl-dialog-container .wl-dialog-close:hover {
    background: url("../images/dialog_close.png") no-repeat left -19px transparent; }
  .wl-dialog-container .dialog_actions {
    float: right; }
  .wl-dialog-container h1.wl-dialog-header {
    border-bottom: 1px dotted #d4d4d4;
    color: #666;
    font-size: 19px;
    font-weight: normal;
    padding-bottom: 11px;
    margin-bottom: 15px;
    margin-left: 0; }

.form_section_container {
  background: url("../images/form_bg.png") repeat-x scroll left top #e3e3e2;
  border: 1px solid #E2E2E2;
  border-radius: 5px 5px 5px 5px;
  margin: 10px 0;
  padding: 15px; }
  .form_section_container p {
    margin: 7px 0; }
  .form_section_container input {
    margin-right: 10px;
    width: 300px; }

/* Link buttons */
.wl-link-button {
  margin: 0;
  padding: 0;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #2683bc;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  display: inline-block;
  text-align: left;
  font-size: 11px; }

.wl-link-button:hover {
  cursor: pointer;
  text-decoration: none;
  color: #999; }

.wl-link-button::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0; }

/****************/
/* INPUT FIELDS */
/****************/
input {
  border: 1px solid #D4D4D4;
  height: 11px;
  padding: 5px; }

textarea {
  border: 1px solid #d4d4d4;
  padding: 5px;
  resize: none; }

/**********/
/* FOOTER */
/**********/
#footer_container {
  width: 950px;
  padding: 15px 5px 5px;
  margin-bottom: 20px;
  color: #454a4f;
  font-size: 11px;
  background: url("../images/footer_shadow.png") no-repeat scroll center top transparent;
  position: relative;
  z-index: 2; }
  #footer_container #footer_logo {
    background: url("../images/footer_logo.png") no-repeat scroll 0 3px transparent;
    width: 43px;
    height: 28px;
    float: left;
    margin-right: 15px;
    float: left; }
  #footer_container #footer_menu {
    float: right;
    margin-top: 12px; }
    #footer_container #footer_menu a {
      margin-left: 40px; }
  #footer_container #footer_misc a, #footer_container #footer_locale a:first-child {
    margin-right: 40px; }
  #footer_container #footer_locale {
    float: right; }

/************************/
/* USER ACTIONS TOP BAR */
/************************/
#widgetlibrary_useractions {
  background-color: #333;
  height: 6px;
  width: 960px;
  position: relative;
  z-index: 2; }
  #widgetlibrary_useractions #useractions_container {
    background-color: #333;
    position: absolute;
    right: 0;
    padding: 0 10px 0;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    margin-right: 24px; }
    #widgetlibrary_useractions #useractions_container ul {
      list-style-type: none;
      font-size: 11px; }
      #widgetlibrary_useractions #useractions_container ul li {
        display: inline-block;
        margin-right: 2px; }
        #widgetlibrary_useractions #useractions_container ul li > a {
          padding: 9px 22px;
          color: #ccc;
          text-decoration: none;
          display: block; }
      #widgetlibrary_useractions #useractions_container ul li.selected {
        background: url("../images/navigation_item_selected.png") repeat-x top left transparent; }
        #widgetlibrary_useractions #useractions_container ul li.selected a {
          color: #FFF; }
    #widgetlibrary_useractions #useractions_container #useractions_arrow_down {
      background: url("../images/arrow_down.png") no-repeat top left transparent;
      width: 10px;
      height: 10px;
      float: right;
      margin: 2px 0 0 9px; }
    #widgetlibrary_useractions #useractions_container #useractions_login_fields {
      width: 200px;
      border-radius: 0 0 5px 5px;
      -moz-border-radius: 0 0 5px 5px;
      -webkit-border-radius: 0 0 5px 5px;
      margin-left: -113px;
      margin-top: 0;
      position: absolute;
      z-index: 11000; }
      #widgetlibrary_useractions #useractions_container #useractions_login_fields #useractions_login_button_login {
        float: right; }
      #widgetlibrary_useractions #useractions_container #useractions_login_fields #useractions_login_fields_password {
        margin-bottom: 14px; }
      #widgetlibrary_useractions #useractions_container #useractions_login_fields .wl-split-line {
        margin: 15px 0; }
      #widgetlibrary_useractions #useractions_container #useractions_login_fields #useractions_login_button_signing_in {
        float: right; }

/******************/
/* DROPDOWN LISTS */
/******************/
.wl-dropdown-menu:hover, .wl-dropdown-menu.opened {
  background: url("../images/navigation_item_selected.png") repeat-x scroll left top transparent; }
  .wl-dropdown-menu:hover > a, .wl-dropdown-menu.opened > a {
    color: #fff !important; }

.wl-dropdown-menu-content-container {
  margin: 0;
  padding: 10px 7px;
  display: block;
  background-color: #F3F3F3;
  color: #666;
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px; }
  .wl-dropdown-menu-content-container input {
    width: 94%;
    margin: 5px 0 9px; }

.wl-dropdown-container {
  background: url("../images/dropdown_list_bg.png") repeat-x scroll left top #0c4e79;
  box-shadow: 0 10px 10px -3px #333333;
  -moz-box-shadow: 0 10px 10px -3px #333333;
  -webkit-box-shadow: 0 10px 10px -3px #333333;
  position: absolute;
  z-index: 999;
  min-width: 140px;
  padding: 5px;
  cursor: auto; }

/*******************/
/* HEADER BRANDING */
/*******************/
#widgetlibrary_header_branding {
  background: url("../images/header_branding.png") no-repeat bottom left transparent;
  height: 60px;
  width: 100%; }

/**************/
/* NAVIGATION */
/**************/
#widgetlibrary_navigation {
  background: url("../images/navigation_bg.png") repeat-x top left transparent;
  height: 36px;
  width: 100%;
  margin-top: 7px; }
  #widgetlibrary_navigation ul {
    margin: 0; }
    #widgetlibrary_navigation ul li a {
      color: #fff;
      font-size: 13px;
      text-decoration: none;
      padding: 15px 5px 6px 10px;
      display: block;
      width: 95px; }
    #widgetlibrary_navigation ul li.navigation_item, #widgetlibrary_navigation ul li.navigation_item.selected {
      background: url("../images/navigation_item_bg.png") repeat-x top left transparent;
      height: 36px;
      list-style-type: none;
      display: inline-block;
      width: 110px;
      border-right: 2px solid #fff;
      float: left; }
    #widgetlibrary_navigation ul li.navigation_item.selected, #widgetlibrary_navigation ul li.navigation_item:hover {
      background: url("../images/navigation_item_selected.png") repeat-x top left transparent; }
  #widgetlibrary_navigation #search_widgets {
    background: url("../images/search_icon.png") no-repeat scroll 6px center white;
    border: 1px solid #D6D4D4;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    float: right;
    height: 24px;
    padding: 0 10px 0 30px;
    width: 232px;
    color: #666;
    font-size: 12px; }
  #widgetlibrary_navigation #search_widgets_search_results {
    margin-top: 5px;
    position: absolute;
    width: 274px;
    margin-left: 635px;
    z-index: 10000;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px; }
    #widgetlibrary_navigation #search_widgets_search_results #search_widgets_results_container {
      box-shadow: 0 8px 15px -2px #555555;
      -moz-box-shadow: 0 8px 15px -2px #555555;
      -webkit-box-shadow: 0 8px 15px -2px #555555;
      background: url("../images/search_bg.png") repeat-x scroll left bottom #f3f3f3;
      padding: 12px 3px 5px;
      margin-top: 22px;
      border: 1px solid #D6D4D4;
      border-bottom: none; }
    #widgetlibrary_navigation #search_widgets_search_results #search_widgets_results_bottom_container {
      box-shadow: 0 8px 15px -2px #555555;
      -moz-box-shadow: 0 8px 15px -2px #555555;
      -webkit-box-shadow: 0 8px 15px -2px #555555;
      background-color: #F3F3F3;
      border: 1px solid #D6D4D4;
      border-top: none;
      height: 32px;
      padding: 4px 3px 0 12px;
      border-radius: 0 0 5px 5px;
      -moz-border-radius: 0 0 5px 5px;
      -webkit-border-radius: 0 0 5px 5px; }
    #widgetlibrary_navigation #search_widgets_search_results #search_widgets_results_container ul {
      margin: 5px 0 15px;
      list-style: none; }
    #widgetlibrary_navigation #search_widgets_search_results #search_widgets_results_container ul li {
      padding: 2px 12px;
      font-size: 11px; }
    #widgetlibrary_navigation #search_widgets_search_results #search_widgets_results_container ul li.selected {
      background-color: #D3EDF5; }
    #widgetlibrary_navigation #search_widgets_search_results #search_widgets_results_container ul li a {
      text-decoration: none;
      color: #2683BC;
      font-size: 11px;
      padding: 0;
      width: auto;
      margin-top: 2px; }
    #widgetlibrary_navigation #search_widgets_search_results .wl-button {
      float: right;
      height: 17px;
      padding-top: 6px; }
    #widgetlibrary_navigation #search_widgets_search_results #search_widgets_results_bottom_content {
      display: block;
      padding-top: 7px;
      color: #636363; }
    #widgetlibrary_navigation #search_widgets_search_results .search_widgets_widgeticon {
      width: 16px;
      height: 16px;
      margin-right: 12px;
      float: left; }
    #widgetlibrary_navigation #search_widgets_search_results .wl-split-line {
      margin: 3px 12px; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #7c7b7b;
  font-style: italic;
  font-size: 11px; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #7c7b7b;
  font-style: italic;
  font-size: 11px; }
