.wl-page-container {
  padding: 0 22px 0; }

#developwidget_container.wl-content-container {
  background: url("../images/library_bg.png") repeat-x scroll center top transparent;
  padding-top: 0;
  color: #666;
  font-size: 14px; }
  #developwidget_container.wl-content-container #developwidget_content h1, #developwidget_container.wl-content-container #developwidget_content .wl-widget-item h2 {
    border-bottom: 1px solid #E2E2E2;
    color: #666666;
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 17px; }
  #developwidget_container.wl-content-container #developwidget_content p {
    margin-bottom: 10px; }
  #developwidget_container.wl-content-container #developwidget_content .wl-widget-item {
    width: auto;
    height: auto;
    margin-top: 5px; }
    #developwidget_container.wl-content-container #developwidget_content .wl-widget-item h2 {
      border-bottom: medium none;
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 5px; }
    #developwidget_container.wl-content-container #developwidget_content .wl-widget-item p {
      font-size: 14px; }
    #developwidget_container.wl-content-container #developwidget_content .wl-widget-item .descriptive_icon {
      float: left;
      height: 72px;
      width: 72px; }
    #developwidget_container.wl-content-container #developwidget_content .wl-widget-item .descriptive_text {
      overflow: auto;
      padding-left: 15px; }
  #developwidget_container.wl-content-container #developwidget_content .wl-widget-item.first {
    margin-top: 20px; }

#developwidget_content {
  box-shadow: -4px 4px 7px -4px #888888;
  -moz-box-shadow: -4px 4px 7px -4px #888888;
  -webkit-box-shadow: -4px 4px 7px -4px #888888;
  position: relative;
  border-left: 1px solid #c4c4c4;
  min-height: 515px; }
