<% content_for :head do %>
    <%= stylesheet_link_tag "widgetsdk" %>
    <%= stylesheet_link_tag "colorpalette" %>
<% end %>

<div id="forms">
    <h1>How to display a form</h1>
    <p>A detailed explanation on how to display forms within your widgets</p>

    <div class="wl-widget-item first">
        <h2>A basic form within a widget showing spacing</h2>
        <div class="form_container">
            <img src="/../images/widgetexample_form_1.png" alt="Basic form with spacing"/>
        </div>

        <h2>A basic form within a widget showing error states</h2>
        <div class="form_container">
            <img src="/../images/widgetexample_form_2.png" alt="Basic form with spacing"/>
        </div>
    
    </div>
</div>