<% content_for :head do %>
    <%= stylesheet_link_tag "widgetsdk" %>
<% end %>

<h1>Iconography</h1>
<p>This guide will help you style your widgets allowing them to fit seamlessly into the Sakai OAE suite of Widgets maintain a high standard for content presentation, and to maintain a high level of user experience across the system.</p>

<div class="wl-widget-item first" id="iconography_styling">
    <h1 class="first">Example in-page icons</h1>
    <div class="widget-narrow-column">
        <h4>Vector icons</h4>
        <ul>
            <li><img src="/../images/accepted_icon_20x20.png" alt="In library/contact list"/></span>In library/contact list</li>
            <li><img src="/../images/delete_red_icon_20x20.png" alt="Delete/Unavailable"/>Delete/Unavailable</li>
            <li><img src="/../images/message_icon_20x20.png" alt="Message"/>Message</li>
            <li><img src="/../images/author_icon_26x20.png" alt="Author contacts" class="person_icon"/>Author contacts</li>
            <li><img src="/../images/share_icon_20x20.png" alt="Share"/>Share</li>
            <li><img src="/../images/user_icon_20x20.png" alt="Author details"/>Author details</li>
            <li><img src="/../images/add_icon_20x20.png" alt="Not saved"/>Not saved</li>
            <li><img src="/../images/delete_icon_20x20.png" alt="Delete (list)"/>Delete (list)</li>
        </ul>
    </div>
    <div class="widget-narrow-column">
        <h4>Vector icons (hover)</h4>
        <ul>
            <li>No hover state</li>
            <li>No hover state</li>
            <li><img src="/../images/message_hover_icon_20x20.png" alt="Message"/>Message</li>
            <li><img src="/../images/author_hover_icon_26x20.png" alt="Author contacts" class="person_icon"/>Author contacts</li>
            <li><img src="/../images/share_hover_icon_20x20.png" alt="Share"/>Share</li>
            <li><img src="/../images/user_hover_icon_20x20.png" alt="Author details"/>Author details</li>
            <li><img src="/../images/add_hover_icon_20x20.png" alt="Not saved"/>Not saved</li>
            <li><img src="/../images/delete_hover_icon_20x20.png" alt="Delete (list)"/>Delete (list)</li>
        </ul>
    </div>
    <div class="widget-narrow-column">
        <h4>Pixel icons</h4>
        <ul>
            <li><img src="/../images/everything_icon_20x20.png" alt="Everything"/>Everything</li>
            <li><img src="/../images/mycontent_icon_20x20.png" alt="My content"/>My content</li>
            <li><img src="/../images/shared_icon_20x20.png" alt="Shared with me"/>Shared with me</li>
            <li><img src="/../images/sakaidoc_icon_20x20.png" alt="Sakai Doc"/>Sakai Doc</li>
            <li><img src="/../images/contact_icon_20x20.png" alt="Small contact"/>Small contact</li>
            <li><img src="/../images/pdf_icon_20x20.png" alt="PDF Document"/>PDF Document</li>
        </ul>
    </div>
    <div class="widget-narrow-column">
        <h3>Usage:</h3>
        <span>Simple vector icons are used across the majority of the OAE. The exception to the rule is for the RHC small ‘Contacts’ and the ‘Add Content’ overlay where the style is of a ‘pixel’ base</span>
    </div>
    <hr class="wl-push wl-hidden"/>

    <h1>Default list icons</h1>
    <div class="widget-narrow-column">
        <h4>Memberships</h4>
        <div class="widget-narrow-column-subcolumn">
            <img src="/../images/memberships_icon_50x50.png" alt="Memberships Large Icon" class="large"/>
            <span>50 x 50 px</span>
        </div>
        <div class="widget-narrow-column-subcolumn">
            <img src="/../images/memberships_icon_35x35.png" alt="Memberships small Icon" class="small"/>
            <span>35 x 35 px</span>
        </div>
    </div>
    <div class="widget-narrow-column">
        <h4>User</h4>
        <div class="widget-narrow-column-subcolumn">
            <img src="/../images/user_icon_50x50.png" alt="Memberships Large Icon" class="large"/>
            <span>50 x 50 px</span>
        </div>
        <div class="widget-narrow-column-subcolumn">
            <img src="/../images/user_icon_35x35.png" alt="Memberships small Icon" class="small"/>
            <span>35 x 35 px</span>
        </div>
    </div>
    <div class="widget-narrow-column">
        <h4>World</h4>
        <div class="widget-narrow-column-subcolumn">
            <img src="/../images/world_icon_50x50.png" alt="Memberships Large Icon" class="large"/>
            <span>50 x 50 px</span>
        </div>
        <div class="widget-narrow-column-subcolumn">
            <img src="/../images/world_icon_35x35.png" alt="Memberships small Icon" class="small"/>
            <span>35 x 35 px</span>
        </div>
    </div>
    <div class="widget-narrow-column">
        <h3>Usage:</h3>
        <span>These appear by default if a user hasn’t uploaded an image for them selves or one can’t be extracted from a piece of content.</span>
        <a href="javascript:;" class="wl-regular-link">See example</a>
    </div>
    <hr class="wl-push wl-hidden">

    <h1>Widget store icons</h1>
    <div class="widget-narrow-column">
        <h4>Detail icon</h4>
        <img src="/../images/widgetstore_icon_100x100.png" alt="Widget store large icon"/>
        <span>100 x 100 px</span>
    </div>
    <div class="widget-narrow-column">
        <h3>Browse icon</h3>
        <img src="/../images/widgetstore_icon_50x50.png" alt="Widget store small icon"/>
        <span>50 x 50 px</span>
    </div>
    <div class="widget-narrow-column">&nbsp;</div>
    <div class="widget-narrow-column">
        <h3>Usage:</h3>
        <span>To be used as an icon for your designed widget. If you can’t design one yourself and have already had your widget approved for te OAE we may be able to help.</span>
        <a href="javascript:;" class="wl-regular-link">Send us a message</a>
    </div>
    <hr class="wl-push wl-hidden">

    <h1>Header button icons</h1>
    <div id="iconography_container">
        <button type="button" class="wl-button wl-header-button">Message<div class="wl-icon wl-message-icon"></div></button>
        <button type="button" class="wl-button wl-header-button">Request connection<div class="wl-icon wl-requestconnection-icon"></div></button>
        <button type="button" class="wl-button wl-header-button wl-nopadding-button"><div class="wl-icon wl-cogwheel-icon"></div>&#9660;</button>
        <button type="button" class="wl-button wl-header-button">Share<div class="wl-icon wl-share-icon"></div></button>
        <button type="button" class="wl-button wl-header-button">Save<div class="wl-icon wl-saved-icon"></div></button>
        <button type="button" class="wl-button wl-header-button">Connection request sent<div class="wl-icon wl-connectionrequestsent-icon"></div></button>
        <button type="button" class="wl-button wl-header-button">Accept invitation to connect<div class="wl-icon wl-acceptconnectionrequest-icon"></div></button>
        <div class="wl-connected-label">
            <img alt="Connected" src="/../images/accepted_icon_20x20.png"/>Connected
        </div>
        <button type="button" class="wl-button wl-header-button">Download<div class="wl-icon wl-download-icon"></div></button>
        <button type="button" class="wl-button wl-header-button">Save<div class="wl-icon wl-save-icon"></div></button>
        <div class="s3d-regular-links" id="iconography_entity_details">
            <span class="first">
                <img alt="Used By Icon" src="/../images/usedby_icon_15x10.png">
                Used by
                <a class="entity_content_people wl-regular-link" title="2053 people" href="#">2053 people</a>, and <a class="entity_content_people wl-regular-link" title="4 places" href="#">4 places</a>
            </span>
             <span>
                <img alt="Comments Icon" src="/../images/comment_icon_15x10.png">
                <a href="#" id="entity_comments_link" class="wl-regular-link" title="256 Comments">256 Comments</a>
            </span>
            <span>
                <img alt="Chain Icon" src="/../images/chain_icon_15x10.png">
                Visible to anyone with the link
            </span>
        </div>
    </div>
</div>