<% content_for :head do %>
    <%= stylesheet_link_tag "widgetsdk" %>
<% end %>

<div id="widgetexamples02">
    <h1>Widget examples 02</h1>
    <p>Depending where the modules are to be used there are various sizes that will need to be applied , to allow them to fit into the system. Images within these widgets can be of any size as long as they have a 10 pixel gutter within the module.</p>
    <div class="wl-widget-item first">
        <h2>Dashboard Widgets</h2>
        <img src="/../images/widgetexample_dashboard.jpg" alt="Dashboard Widgets" id="dashboard_widgets_screenshot"/>
        <p>The diagrams below detail exactly how to create a dashboard widget, with the correct spacing, font sizes and style and image size use.</p>
        <p>The example used here fits with Featured content, “Featured page, and Featured contacts” but the spacing and font rules also apply to full width dashboard widgets.</p>
        <p>The background style and colour is fixed by the system when you choose your style of widget.</p>
        <p>If you adhere to these rules your widget will fit seamlessly into the dashboard.</p>

        <hr class="wl-push wl-hidden"/>
        <h2 class="halfpage_float first">My dashboard widgets - spacing (no content)</h2>
        <h2 class="halfpage_float">My dashboard widgets - spacing (content)</h2>
        <img src="/../images/widgetexample_dashboard_1.jpg" alt="Dashboard Widgets"/>
        <p id="dashboard_1_description">If a piece of content is shown with another related item, the second image or icon is always smaller (35px x 35px)</p>

        <h2 class="halfpage_float first">My dashboard widgets - fonts (no content)</h2>
        <h2 class="halfpage_float">My dashboard widgets - fonts (content)</h2>
        <img src="/../images/widgetexample_dashboard_2.jpg" alt="Dashboard Widgets"/>
        <p>The widgets you create don't have to be this complicated and could be just a list of content. A couple of other examples are shown below:</p>
        <img src="/../images/widgetexample_dashboard_3.jpg" alt="Dashboard Widgets"/>
        
        <p>Each widget has a settings button (appears on hover of the widgets top bar) where the administrator can change the widgets settings once it has been placed within a page:</p>
        <img src="/../images/widgetexample_dashboard_4.png" alt="Dashboard Widgets"/>
    </div>
</div>