<div id="widgetlibrary_mostpopular" class="wl-inset-shadow-container wl-content-145">
    <h1>Most Popular</h1>
    <%= render :partial => "core/widget", :locals => {:display => {:rating => true, :icon_size => "smaller"}}, :collection => @mostpopular %>
    <hr class="wl-push wl-hidden">
</div>
