<div id="widgetlibrary_toprated" class="wl-inset-shadow-container wl-content-145">
    <h1>Top Rated</h1>
    <%= render :partial => "core/widget", :locals => {:display => {:rating => true}}, :collection => @toprated %>
    <hr class="wl-push wl-hidden">
</div>