.hex_item {
    border-bottom: 1px solid #e3e3e3;
    display: block;
    clear: both;
    margin-bottom: 10px;
    padding: 10px 0;
    .hex_value_text {
        clear: both;
        display: block;
        font-size: 13px !important;
        padding-top: 4px;
        text-align: center;
        width: 60px;
    }
    .colorpalette_descriptive_text {
        float: left;
        margin-left: 20px;
        width: 230px;
        p {
            margin-bottom: 2px !important;
        }
        + .colorpalette_descriptive_text {
            margin-left: 40px;
            width: 280px;
        }
    }
    img.hex_icon {
        height: 60px !important;
        width: 60px !important;
    }
    img.hex_icon_example {
        height: 80px !important;
        width: 124px !important;
        margin-right: 20px;
    }
}
