<% content_for :head do %>
    <%= stylesheet_link_tag "allcategories" %>
<% end %>

<div id="allcategories_sorty_by">
    Sort by <a href="#" title="Sort by" class="wl-regular-link"><span id="allcategories_sort_method">Most Popular</span> <span id="allcategories_sort_down_arrow">&#9660</span></a>
</div>
<h1>All categories 1-20 of 22</h1>
<% 16.times do %>
    <%= render :partial => "core/widget", :locals => {:display => {:rating => true, :author => true, :num_ratings => true}} %>
<% end %>