<div id="searchbox_container">
  <%= form_tag "/browse", :method => "get", :remote => true, :id => "searchbox_form" do %>
    <%= label_tag :searchbox_input, "Search term:" %>
    <div id="searchbox_container_input">
      <%= text_field_tag :q, params[:q], :id => "searchbox_input", :autocomplete => "off" %>
      <%= button_tag "remove search term", :class => "searchbox_remove wl-link-button" %>
    </div>
  <% end %>
</div>
<hr class="searchbox_hr" />