<% content_for :title do %> - Browse<%= if @cat then " - #{@cat.title}" end %><% end %>
<div id="browse">
    <%= render :partial => "searchbox" %>
    <div id="browse_results">
      <%= render :partial => "livesearch" %>
    </div>
    <hr class="wl-push wl-hidden"/>
</div>
<div id="browse_overlay"></div>