<div id="footer_container" class="wl-centered">
    <div id="footer_logo"></div>
    <div id="footer_menu">
        <%= link_to "Home", root_path, :title => "Home", :class => "wl-regular-link wl-bold" %>
        <%= link_to "Browse", browse_path, :title => "Browse", :class => "wl-regular-link wl-bold" %>
        <%= link_to "My Widgets", mywidgets_path, :title => "My Widgets", :class => "wl-regular-link wl-bold" %>
        <%= link_to "Developer", developer_path, :title => "Developer", :class => "wl-regular-link wl-bold" %>
    </div>
    <p><strong>Open Academic Environment</strong></p>
    <p>&copy; The Sakai Foundation <span id="footer_date_end">2011</span> All rights reserved
    <hr class="wl-split-line wl-push"/>
    <div id="footer_locale">
        Language: <a href="#" class="wl-regular-link" title="English (UK)">English (UK)</a>
        Location: <a href="#" class="wl-regular-link" title="United Kingdom">United Kingdom</a>
    </div>
    <div id="footer_misc">
        <a href="#" class="wl-regular-link" title="Copyright">Copyright</a>
        <a href="#" class="wl-regular-link" title="Help">Help</a>
        <a href="#" class="wl-regular-link" title="About">About</a>
    </div>
</div>