<div id="footer_container" class="wl-centered">
    <div id="footer_logo"></div>
    <div id="footer_menu">
        <a href="#" class="wl-regular-link wl-bold" title="Home">Home</a>
        <a href="#" class="wl-regular-link wl-bold" title="Browse">Browse</a>
        <a href="#" class="wl-regular-link wl-bold" title="My Widgets">My Widgets</a>
        <a href="#" class="wl-regular-link wl-bold" title="Developer">Developer</a>
    </div>
    <p><strong>Open Academic Environment</strong></p>
    <p>&copy; The Sakai Foundation <span id="footer_date_end">2011</span> All rights reserved
    <hr class="wl-split-line wl-push"/>
    <div id="footer_locale">
        Language: <a href="#" class="wl-regular-link" title="English (UK)">English (UK)</a>
        Location: <a href="#" class="wl-regular-link" title="United Kingdom">United Kingdom</a>
    </div>
    <div id="footer_misc">
        <a href="#" class="wl-regular-link" title="Copyright">Copyright</a>
        <a href="#" class="wl-regular-link" title="Help">Help</a>
        <a href="#" class="wl-regular-link" title="About">About</a>
    </div>
</div>