<div id="widgetlibrary_navigation">
    <input id="search_widgets" type="text" placeholder="Search Widget name / Category / Type..."/>
    <ul class="wl-bold">
        <li class="navigation_item <% if params[:controller] == "home"%>selected<% end %>"><a href="/" title="Home">Home</a></li>
        <li class="navigation_item <% if params[:controller] == "library" %>selected<% end %>"><a href="/library" title="Browse">Browse</a></li>
        <li class="navigation_item <% if params[:controller] == "developer" %>selected<% end %>"><a href="#" title="Developer">Developer</a></li>
        <li class="navigation_item <% if params[:controller] == "submit" %>selected<% end %>"><a href="#" title="Submit">Submit</a></li>
    </ul>
</div>