<div class="wl-no-results-container">
    <div class="wl-no-results-arrow-up"></div>
    <div class="wl-no-results-icon wl-no-results-<%= icon ||= 'magnifier' %> less-margin"></div>
    <h1><%= message ||= "No results were found" %></h1>
</div>