<div class="widget_review">
    <%= link_to review.user.name, user_path(:id => review.user.id, :url_title => review.user.url_title), :class => "wl-regular-link wl-bold" %>
    <p data-completetext="<%= review.review %>"><%= review_description(review) %></p>
    <%= render :partial => "pagewidgets/rating", :locals => { :stars => review.stars, :display => { :rate_widget => false } } %>
</div>