<div class="widget_review">
    <a href="#" title="Cara McMann" class="wl-regular-link wl-bold">Cara McMann</a>
    <p>"Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet."</p>
    <div class="wl-rating-container">
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
        <div class="wl-rating-icon"></div>
    </div>
</div>