<div id="search_widgets_results_container">
    <ul>
      <%= render :partial => 'core/searchresult', :collection => @searchresults.first(10), :as => :widget %>
    </ul>
</div>
<div id="search_widgets_results_bottom_container" style="display:none">
    <% if @searchresults.size > 0 %>
        <%= link_to "View all results", "/browse?q=#{params[:q]}", :class => "wl-button wl-overlay-button" %>
    <% end %>
    <span id="search_widgets_results_bottom_content"><%= @searchresults.size %> results</span>
</div>