<li>
    <img src="../images/search_default_widget_icon.jpg" alt="Yahoo Weather" class="search_widgets_widgeticon"/>
    <a href="/widget/name_of_widget" title="Yahoo Weather" class="wl-regular-link wl-bold">Yahoo Weather</a>
</li>
<hr class="wl-split-line wl-push"/>