<li>
    <%= image_tag widget.icon, :alt => widget.title, :class => "search_widgets_widgeticon" %>
    <%= link_to widget.title, "/widget/#{widget.url_title}", :class => "wl-regular-link wl-bold" %>
</li>
<hr class="wl-split-line wl-push"/>