<div id="top-line"></div>
<div id="widgetlibrary_useractions" class="wl-centered">
    <div id="useractions_container">
        <ul>
            <li><a href="#" title="Hi Guest">Hi Guest</a></li>|
            <li <% if params[:controller].eql?("register")%>class="selected"<% end %>><a href="/register" title="Register">Register</a></li>|
            <li><a href="Sign In" title="Sign In"><div id="useractions_arrow_down"></div>Sign In</a></li>
        </ul>
    </div>
</div>