<div class="wl-widget-item">
    <img src="images/default_widget_icon.png" alt="Facebook" class="wl-widget-item-icon"/>
    <a href="#" title="Yahoo Weather" class="wl-regular-link wl-bold wl-widget-item_widgetname">Yahoo Weather</a>
    by <a href="#" title="by Bert Pareyn" class="wl-regular-link">Bert Pareyn</a>
    <div class="wl-rating-container">
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon filled"></div>
        <div class="wl-rating-icon"></div>
        <a href="#" title="42 Ratings" class="wl-regular-link wl-number-of-ratings">42 Ratings</a>
    </div>
</div>