<nav id="lhnavigation_container">
  <h1 class="wl-bold">My Widgets</h1>
  <ul>
      <li<% if params[:action].eql?"index" %> class="selected wl-bold"<% end %>>
        <div><%= link_to "Approved Widgets", "/mywidgets"%></div>
      </li>
      <li<% if params[:action].eql?"submissions" %> class="selected wl-bold"<% end %>>
        <div><%= link_to "Submissions", "/mywidgets/submissions" %></div>
      </li>
  </ul>
  <%= render :partial => "pagewidgets/submitwidget" %>
</nav>
<hr class="wl-push wl-hidden"/>
