<div id="mywidgets">
    <% if params[:filter] %>
      <h1><%= params[:filter].capitalize %></h1>
    <% else %>
      <div class="wl-widget-item-container" id="mywidgets_status">
          <div id="mywidgets_approved" <% if @declined %>style="display:none;"<% end %>>
              <div id="mywidgets_status_icon"><h1></h1></div>
              <p>Your widgets have been approved for publication on the Sakai OAE platform. Good stuff! We invite you to <a href="/submit" class="wl-regular-link">submit a new widget</a> to the Sakai OAE platform.</p>
          </div>

          <div id="mywidgets_declined" <% if !@declined %>style="display:none;"<% end %>>
              <div id="mywidgets_status_icon"><h1></h1></div>
              <p>One or more of your submitted widgets has been declined for publication on the Sakai OAE platform. Please review the suggested improvements for each rejected widget</p>
          </div>
      </div>
    <% end %>
    <%= render :partial => "pagewidgets/widget_list" %>
</div>
<hr class="wl-push wl-hidden"/>
