<div id="widget_download">
    <img src="../images/widget_small_preview.jpg" alt="<%= @widget %> preview">
    <a target="_blank" class="wl-button wl-header-button" href="#">Download</a>
</div>
<div id="widget_description">
    <h1 class="wl-bold">Activity Plus <span id="widget_version">v3.0</span></h1>
    by <a href="#" title="James Johnson" class="wl-regular-link">James Johnson</a>
    <p>A+ adds additional functionality to an already popular Sakai widget. Just few taps and your activity chart is ready. You can save it for later or email immediately.</p>
    <ul>
        <li>supports rotation,</li>
        <li>add new slices (up to 12),</li>
        <li>move slices on a chart in slice settings,</li>
        <li>change slice size,</li>
        <li>rotate whole chart, just swipe your finger next to chart border,</li>
        <li>skew and scale chart in real time,</li>
        <li>save for later, in chart settings, chart is saved with date and chart name.</li>
    </ul>
</div>
<div id="widget_details">
    <div>
        <%= render :partial => "pagewidgets/rating", :locals => {:display => {:avg_rating => true}} %>
        <hr class="wl-push wl-hidden"/>
    </div>
    <hr class="wl-split-line wl-push"/>
    <h1>Information</h1>
    <ul>
        <li><div>Category:</div><div><a href="#" title="Social + Communication" class="wl-regular-link">Social + Communication</a></div></li>
        <li><div>Collection:</div><div><a href="#" title="Maths course, Presentation" class="wl-regular-link">Maths course, Presentation</a></div></li>
        <li><div>Developer:</div><div><a href="#" title="James Johnson" class="wl-regular-link">James Johnson</a></div></li>
        <li><div>Used by:</div><div><a href="#" title="13 Institutions" class="wl-regular-link">13 Institutions</a></div></li>
        <li><div>Language:</div><div>English, French</div></li>
        <li><div>Released:</div><div>12 July 2011</div></li>
    </ul>
</div>
<hr class="wl-push wl-hidden"/>