<% has_screenshots = @widget.screenshots.size > 0 %>
<div id="widgetdetails_container">
    <div class="wl-inpage-tabs">
      <% if has_screenshots %>
      <div class="wl-inpage-tab selected" id="screenshot_tab">Screenshots</div>
      <div class="wl-inpage-tab" id="reviews_tab">Reviews</div>
      <div class="wl-inpage-tab" id="versions_tab">Uploaded versions</div>
      <% else %>
      <div class="wl-inpage-tab selected" id="reviews_tab">Reviews</div>
      <div class="wl-inpage-tab" id="versions_tab">Uploaded versions</div>
      <% end %>
    </div>
    <div class="wl-inpage-tab-content">
        <div id="widgetdetails_screenshots" class="widgetdetails_tabcontent_content"<% if !has_screenshots %>style="display:none"<% end %>>
            <div id="widgetdetails_newestreviews">
                <h1>Latest reviews</h1>
                <%= render :partial => "core/review", :locals => { :display => { :rate_widget => true } }, :collection => @widget.ratings.limit(3) %>
                <hr class="wl-push wl-hidden"/>
                <a target="_blank" class="wl-button wl-header-button" href="#">Write a review</a>
            </div>

            <div id="widgetdetails_screenshot_container">
              <%= render :partial => "screenshots" %>
            </div>
        </div>

        <div id="widgetdetails_reviews" class="widgetdetails_tabcontent_content" <% if has_screenshots %>style="display:none;"<% end %>>
            <div id="widgetdetails_reviews_review_widget">
                <h1>Review this widget</h1>
                <textarea></textarea>
                <%= render :partial => "pagewidgets/rating", :locals => { :display => { :rate_widget => true }, :stars => @widget.average_rating, :num_ratings => @widget.ratings.size } %>
                <a target="_blank" class="wl-button wl-header-button" href="#">Post review</a>
            </div>
            <div id="widgetdetails_reviews_all">
                <%= render :partial => "core/review", :locals => { :display => { :rate_widget => true } }, :collection => @widget.ratings.limit(4) %>
            </div>
        </div>

        <div id="widgetdetails_versions" class="widgetdetails_tabcontent_content" style="display:none;">
            <h1>Versions</h1>
            <hr class="wl-split-line" id="widgetdetails_uploadedversions_headerline"/>

            <div class="widgetdetails_uploadedversions_versionlanguage">
                <p>Languages:</p>
                <p>English, French (Fully translated)</p>
            </div>

            <div class="widgetdetails_uploadedversions_versiondescription">
                <a href="#" title="Activity Plus v3.0" class="wl-regular-link wl-bold">Activity Plus v3.0</a> <span class="widgetdetails_uploadeversions_dateuuploaded"> - uploaded 10.07.2011</span>
                <p class="widgetdetails_uploadedversions_mainfeatures">Main feautures:</p>
                <p>Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>

            <hr class="wl-split-line"/>

            <div class="widgetdetails_uploadedversions_versionlanguage">
                <p>Languages:</p>
                <p>English, French (Partially translated)</p>
            </div>

            <div class="widgetdetails_uploadedversions_versiondescription">
                <a href="#" title="Activity Plus v2.0" class="wl-regular-link wl-bold">Activity Plus v2.0</a> <span class="widgetdetails_uploadeversions_dateuuploaded"> - uploaded 24.06.2011</span>
                <p class="widgetdetails_uploadedversions_mainfeatures">Main feautures:</p>
                <p>Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>

            <hr class="wl-split-line"/>

            <div class="widgetdetails_uploadedversions_versionlanguage">
                <p>Languages:</p>
                <p>English</p>
            </div>

            <div class="widgetdetails_uploadedversions_versiondescription">
                <a href="#" title="Activity Plus v1.0" class="wl-regular-link wl-bold">Activity Plus v1.0</a> <span class="widgetdetails_uploadeversions_dateuuploaded"> - uploaded 24.12.2010</span>
                <p class="widgetdetails_uploadedversions_mainfeatures">Main feautures:</p>
                <p>Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>
    </div>
    <hr class="wl-push wl-hidden">
</div>