<% content_for :head do %>
    <%= stylesheet_link_tag "newversion" %>
    <%= javascript_include_tag "newversion" %>
<% end %>

<div id="newversion_improvements_container">
    <h1>Steps needed to improve the widget</h1>
    <p>01. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident. Eet accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>

    <p>02. Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>

    <p>03. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>

    <p>04. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur.</p>
</div>

<button class="wl-button wl-large-button" id="newversion_trigger_submitnew">Submit new version</button>

<div id="newversion_container" class="wl-dialog wl-dialog-container">
    <div class="wl-dialog-close jqmClose"></div>
    <h1 class="wl-dialog-header">Submit new version</h1>
    <p>You can either, select a new file, then upload.</p>
    <div class="form_section_container">
        <p>Upload a 'zip' file:</p>
        <input type="text"/><button type="button" class="wl-button wl-header-button">Browse</button>
        <p>OR enter URL to the source code repository</p>
        <input type="text"/>
    </div>
    <p>Second optional step:</p>
    <div class="form_section_container">
        <p>Upload a backend feed bundle 'zip' file:</p>
        <input type="text"/><button type="button" class="wl-button wl-header-button">Browse</button>
        <p>OR enter URL to the backend feed bundle source code repository</p>
        <input type="text"/>
    </div>
    <div class="dialog_actions">
        <button class="wl-link-button jqmClose wl-bold" type="button">Cancel</button>
        <button class="wl-button wl-overlay-button newaddcontent_container_start_upload" type="button">Upload</button>
    </div>
</div>