<div id="widgetlibrary_relatedwidgets" class="wl-inset-shadow-container">
    <h1>Related widgets</h1>
    <% 5.times do %>
        <%= render :partial => "core/widget", :locals => {:display => {:rating => true, :author => true, :num_ratings => true}, :widget => @widget } %>
    <% end %>
    <hr class="wl-push wl-hidden"/>
</div>