<div id="widgetlibrary_relatedwidgets" class="wl-inset-shadow-container">
    <h1>Related widgets</h1>
    <%= render :partial => "core/widget", :locals => {:display => {:rating => true, :author => true, :num_ratings => true} }, :collection => @related %>
    <hr class="wl-push wl-hidden"/>
</div>