<% if @widget.screenshots.size > 0 %>
  <div id="widgetdetails_screenshot_active">
    <%= image_tag @widget.screenshots[0].image.url(:medium), :alt => "#{@widget.title} Screenshot", :id => "widgetdetails_main_screenshot" %>
  </div>
  <div id="widgetdetails_screenshots_thumbs">
    <% @widget.screenshots.each_index do |i| %>
      <% cssclass = if i.eql? 0 then "selected" else "" end %>
      <div class="widgetdetails_screenshots_thumb <%= cssclass %>">
          <div class="widgetdetails_screenshots_thumb_container">
            <%= image_tag @widget.screenshots[i].image.url(:thumb), :alt => "#{@widget.title} Screenshot", "data-large-src" => @widget.screenshots[i].image.url(:medium) %>
          </div>
          <div class="underline"></div>
      </div>
    <% end %>
  </div>
<% end %>
