<div class="wl-content-container" id="widget_container">
    <%= render :partial => "description" %>
    
    <%= render :partial => "details" %>

    <%= render :partial => "newversion" %>

    <%= render :partial => "relatedwidgets" %>

    <hr class="wl-hidden wl-push"/>
</div>