<div class="wl-content-container">
  <h2>Account Retrieval</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "wl-form-field-wrapper" }, :remote => true) do |f| %>

    <span id="user_email_error" class="wl-error" style="display:none"></span>
    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.submit "Send me reset instructions", :class => "wl-button wl-overlay-button" %>
  <% end %>
</div>
