@import "mixins.css.scss";

#newversion_improvements_container {
    background: image-url("widget_declined_bg.png") repeat-x top left #fae8b2;
    color: #666;
    font-size: 12px;
    margin: 25px 0 15px;
    padding: 20px;
    @include border-radius(5px);
    p {
        margin-top: 12px;
    }
}
