@import "mixins.css.scss";

/** Admin actions in the widget detail page **/
.show #admin_actions {
    margin-bottom: 20px;
    width: 98%;
    h1 {
        font-size: 20px;
    }
    button.wl-overlay-button {
        margin-left: 0px;
    }
    .widget_confirmation {
        margin-top: 20px;
        label {
            width: 100%;
            display: block;
            font-size: 14px;
            margin-top: 10px;
        }
        textarea {
            width: 600px;
            height: 100px;
            font-size: 14px;
            display: block;
            margin-bottom: 10px;
        }
    }
}

/** Admin styles for the admin area **/
.admin {
    .wl-page-container {
        padding: 0 22px;
    }
    .wl-content-container {
        background: image-url("library_bg.png") repeat-x scroll center top transparent;
        padding-top: 0;
        h3 {
            padding-top: 10px;
        }
        ol {
            margin: 0 20px;
        }
    }
    .admin-submit-buttons {
        margin-top: 10px;
    }
    #admin_header {
        font-size: 26px;
        text-shadow: 0 5px 5px #ccc;
        font-weight: bold;
    }
    #widgetlibrary_navigation ul li {
        width: auto;
        &.navigation_item, &.navigation_item.selected {
            width: auto;
        }
        a {
            width: auto;
            min-width: 95px;
            padding: 15px 10px 6px 10px;
        }
    }
    ul.admin_userlist {
        list-style: none;
        margin: 0;
        li {
            display: inline-block;
            margin: 12px 0;
            width: 33%;
        }
        img {
            height: 50px;
            padding-right: 12px;
            width: 50px;
        }
        input[type="checkbox"] {
            float: right;
            margin-right: 60px;
        }
        a.wl-button {
            margin: auto;
        }
    }
    .wl-save-fallback {
        height: 15px;
        line-height: 16px;
        margin-right: 59px;
        width: 25px;
    }
    .admin-table {
        color: #333;
        tr {
            background: #f9f9f9;
        }
        tr:nth-child(2n+1) {
            background-color: #f2f2f2;
        }
        th, td {
            text-align: left;
        }
        th {
            border-bottom: 2px solid #ccc;
            @include background(linear-gradient(top center, #f5f5f5, #e2e2e2));
            padding: 18px;
        }
        tbody tr:hover {
            @include background(linear-gradient(top center, #e5e5e5, #eaeaea));
        }
        td {
            max-width: 210px;
            padding: 10px;
            white-space: pre-line;
            word-wrap: break-word;
        }
        .admin-table-actions {
            white-space: normal;
            form {
                display: inline-block;
            }
        }
    }
    .admin-error-box {
        border: 4px solid #a00;
        margin: 5px 0 0;
        li {
            list-style: none;
        }
    }
    #admin_item_add_edit_form {
        .wl-field {
            padding: 3px 0;
            label {
                color: #666;
                line-height: 30px;
                display: block;
            }
        }
    }
    a.wl-button.wl-overlay-button {
        display: inline-block;
        height: 23px;
        line-height: 2.18em;
    }
    .wl-button.wl-overlay-button:first-child {
        margin-left: 0;
    }
}
