#allcategories_sorty_by {
  float: right;
  font-size: 11px;
  margin: 5px 10px 0 0; }

#allcategories_sort_down_arrow {
  font-size: 9px;
}

.widget_review_status {
    background: image-url("tick_icon_small.png") no-repeat scroll left top transparent;
    height: 17px;
    margin-left: -6px;
    margin-top: -7px;
    position: absolute;
    width: 17px;
}

.widget_review_status.widget_approved {
    background: image-url("tick_icon_small.png") no-repeat scroll left top transparent;
}

.widget_review_status.widget_declined {
    background: image-url("exclamation_icon_small.png") no-repeat scroll left top transparent;
}

.widget_review_status.widget_pending {
    background: image-url("pending_icon_small.png") no-repeat scroll left top transparent;
}