@import "mixins.css.scss";

/******************/
/* GENERAL MARKUP */
/******************/
* {
    margin: 0;
    padding: 0;
}

html, textarea {
    font: 13px / 1.231 Arial, Helvetica, sans-serif;
}

body {
    background: image-url("body_bg.png") repeat-x top left #f2f2f2;
    font-size: 13px;
}

body > #top-line {
    background-color: #676767;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

h1 {
    color: #333;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 9px 0;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
    margin: 10px 0 7px;
}

img {
    border: none;
}

.wl-bold {
    font-weight: bold;
}

.wl-normal {
    font-weight: normal;
}

.wl-push {
    clear: both;
}

.wl-hidden {
    border: none;
    clear: both;
    height: 0;
    margin: 0;
    visibility: hidden;
}

.wl-left {
    float: left;
}

.wl-right {
    float: right;
}

.wl-regular-link {
    color: #2683bc;
    text-decoration: none;
}

.wl-regular-link.no_decoration {
    &:hover, &:focus {
        text-decoration: none;
    }
}

.wl-regular-link {
    &:hover, &:focus {
        text-decoration: underline;
    }
}

.wl-split-line {
    background-color: none;
    border: medium none;
    border-top: 1px dotted #d4d4d4;
    height: 1px;
    margin: 8px 0;
}

.wl-split-line.full-line {
    border-top: 1px solid #d4d4d4;
}

option {
    padding: 0px 5px 0px 3px;
}

.indent {
    margin: 10px 0 10px 16px !important;
}

.wl-margin-right-15 {
    margin-right: 15px;
}

.wl-margin-top-9 {
    margin-top: 9px;
}

/* Main container*/
.wl-page-container {
    background-color: #fff;
    min-height: 320px;
    padding: 0 22px;
    padding-bottom: 20px;
    position: relative;
    width: 916px;
    z-index: 1;
    .wl-container-shadow-left, .wl-container-shadow-right {
        background: image-url("container_shadow_left.png") no-repeat scroll 0 0 transparent;
        height: 346px;
        margin-left: -32px;
        margin-top: -5px;
        position: absolute;
        width: 10px;
    }
    .wl-container-shadow-right {
        background: image-url("container_shadow_right.png") no-repeat scroll 0 0 transparent;
        float: right;
        margin-left: 938px;
    }
}

.wl-centered {
    margin: 0 auto;
}
.wl-block-elem {
    display: block;
}

.wl-content-container {
    margin-top: 25px;
    padding-top: 20px;
}

.wl-content-right-container {
    border-left: 1px solid #c4c4c4;
    @include box-shadow($h_shadow: -4px, $v_shadow: 4px, $blur: 7px, $spread: -4px, $color: #888888, $outerinner: "");
    min-height: 515px;
    position: relative;
}

.wl-padding-15-0 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.wl-padding-0-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.wl-content-145 {
    width: 145px;
}

.wl-content-165 {
    width: 165px;
}

.wl-content-185 {
    width: 185px;
}

.wl-content-710 {
    width: 710px;
}

.wl-content-730 {
    width: 730px;
}

.wl-icon {
    display: block;
    height: 20px;
    width: 20px;
}

/* Icons */
.wl-button {
    .wl-icon {
        float: right;
        margin: -3px 0 0 7px;
    }
    &.wl-button-tight {
        padding: 5px;
    }
    &.wl-nopadding-button {
        padding: 0 3px !important;
    }
}

.wl-icon {
    display: block;
    height: 20px;
    width: 20px;
}

.wl-message-icon {
    background: image-url("button_message_icon_20x20.png") no-repeat top left transparent;
}

.wl-share-icon {
    background: image-url("button_share_icon_20x20.png") no-repeat top left transparent;
}

.wl-requestconnection-icon {
    background: image-url("button_requestconnection_icon_20x20.png") no-repeat top left transparent;
}

.wl-cogwheel-icon {
    background: image-url("button_cogwheel_icon_20x20.png") no-repeat top left transparent;
    float: left !important;
    margin-left: 0 !important;
}

.wl-save-icon {
    background: image-url("button_save_icon_20x20.png") no-repeat top left transparent;
}

.wl-saved-icon {
    background: image-url("button_saved_icon_20x20.png") no-repeat top left transparent;
}

.wl-download-icon {
    background: image-url("button_download_icon_20x20.png") no-repeat top left transparent;
}

.wl-connectionrequestsent-icon {
    background: image-url("button_connectionrequestsent_icon_20x20.png") no-repeat top left transparent;
}

.wl-acceptconnectionrequest-icon {
    background: image-url("button_acceptconnectionrequest_icon_20x20.png") no-repeat top left transparent;
}

.wl-connected-label {
    display: inline-block;
    line-height: 21px;
    margin-left: 15px;
    img {
        float: left;
        margin-right: 3px;
    }
}

/* Inset Shadow containers*/
.wl-inset-shadow-container {
    background: image-url("inset_shadow_container_bg.png") repeat-x top left #fefefe;
    @include border-radius($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px);
    @include box-shadow($h_shadow: 0, $v_shadow: 0, $blur: 12px, $spread: -4px, $color: #888888, $outerinner: inset);
    margin-top: 20px;
    padding: 8px 10px 10px;
}

/* No results */
.wl-no-results-container {
    background: url("noresults_bg.png") repeat scroll left top transparent;
    @include border-radius($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px);
    margin: 30px 0px 0px;
    padding: 20px;
    .wl-no-results-arrow-up {
        background: url("noresults_arrow_up.png") no-repeat top left transparent;
        height: 24px;
        margin-top: -44px;
        position: absolute;
        width: 36px;
    }
    h1 {
        color: #666;
        font-size: 18px !important;
        font-weight: normal !important;
        margin: 5px 0 10px 0 !important;
    }
    .wl-no-results-icon {
        float: left;
        height: 50px;
        margin: 0 12px 0 0;
        width: 55px;
        &.less-margin {
            margin: -8px 12px 0 0;
        }
    }
    .wl-no-results-magnifier {
        background: url("magnifier_icon_55x55.png") no-repeat top left transparent;
    }
    .wl-no-results-widget {
        background: url("content_search_icon_55x55.png") no-repeat scroll left top transparent;
    }
}

/* Ratings */
.wl-rating-container {
    padding-top: 10px;
    .wl-rating-inline {
        display: -moz-inline-block;
        display: -moz-inline-box;
        display: inline-block;
        vertical-align: middle;
    }
    .wl-rating-icon {
        background-position: left top !important;
        height: 16px;
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 80px;
        button {
            background-color: transparent;
        }
        &, button:hover, button:focus, .wl-rating-current {
            background: url("ratings_icons.png") left -1000px repeat-x;
        }
        button:hover {
            background-position: left center;
        }
        button:focus {
            background-position: left bottom;
        }
        li {
            display: inline;
            padding: 0 !important;
        }
        button, .wl-rating-current {
            border: none;
            height: 16px;
            left: 0;
            line-height: 16px !important;
            overflow: hidden;
            position: absolute;
            text-indent: -1000em;
            top: 0;
        }
        .wl-rating-icon-1 {
            width: 20%;
            z-index: 6;
        }
        .wl-rating-icon-2 {
            width: 40%;
            z-index: 5;
        }
        .wl-rating-icon-3 {
            width: 60%;
            z-index: 4;
        }
        .wl-rating-icon-4 {
            width: 80%;
            z-index: 3;
        }
        .wl-rating-icon-5 {
            width: 100%;
            z-index: 2;
        }
        .wl-rating-current {
            background-position: left bottom;
            z-index: 1;
        }
        .wl-rating-modifiable {
            background-position: left bottom;
        }
    }
}

/* Tabs */
.wl-inpage-tabs {
    display: inline-block;
}

.wl-inpage-tab {
    background: image-url("tab_bg.png") repeat-x scroll left top transparent;
    border: 1px solid #bebdbd;
    border-bottom: 0;
    @include border-radius($topLeft: 3px, $topRight: 3px, $bottomRight: 0, $bottomLeft: 0);
    color: #2683bc;
    cursor: pointer;
    float: left;
    height: 29px;
    line-height: 29px;
    margin-right: 3px;
    padding: 0 15px;
}

.wl-inpage-tab.selected {
    background: image-url("tab_selected_bg.png") repeat-x scroll left top transparent;
    color: #666;
    cursor: default;
    height: 30px;
}

.wl-inpage-tab-content {
    border-top: 1px solid #bebdbd;
    margin-top: -5px;
}

/* Small widget representation */
.wl-widget-item, .wl-widget-item-container {
    background-color: #fff;
    color: #666;
    @include border-radius($topLeft: 4px, $topRight: 4px, $bottomRight: 4px, $bottomLeft: 4px);
    @include box-shadow($h_shadow: 0, $v_shadow: 1px, $blur: 1px, $spread: 0, $color: #bbbbbb, $outerinner: "");
    float: left;
    font-size: 11px;
    margin: 0 3px 3px 0;
    padding: 15px 13px 11px;
}

.wl-widget-item-container {
    clear: both;
    margin-bottom: 20px;
    padding: 15px 8px 11px;
    width: 690px;
    .wl-widget-item {
        background: none;
        @include box-shadow($h_shadow: "", $v_shadow: "", $blur: "", $spread: "", $color: "", $outerinner: "");
        height: auto;
        margin: 0;
        padding: 0 5px;
        width: 220px;
    }
}

.wl-widget-item {
    height: 78px;
    width: 148px;
}

.wl-widget-ellipsis-container {
    visibility: hidden;
    .wl-widget-ellipsis {
        overflow: hidden;
    }
    .wl-widget-ellipsis-1 {
        max-height: 14px;
    }
    .wl-widget-ellipsis-2 {
        max-height: 27px;
    }
    .wl-widget-item-icon {
        float: left;
        height: 50px;
        padding-right: 10px;
        width: 50px;
    }
    .wl-number-of-users {
        clear: both;
        display: block;
        padding-top: 5px;
    }
}

/* Buttons */
a.wl-button {
    text-decoration: none;
}

.wl-button {
    @include border-radius($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px);
    border: none;
    color: #666;
    cursor: pointer;
    font-weight: bold;
    font-size: 11px;
    height: 27px;
    margin-right: 5px;
    padding: 0 12px;
    text-align: center;
}

.wl-button.blue {
    color: #2683bc !important;
}

/* Link buttons */
.wl-link-button {
    background: none;
    border: none;
    color: #2683bc;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
    text-align: left;
}

.wl-link-button {
    &:hover, &:focus {
        color: #999;
        cursor: pointer;
        text-decoration: none;
    }
}

.wl-link-button::-moz-focus-inner {
    padding: 0;
    margin: 0;
    border: 0;
}

.wl-button.wl-link-button {
    color: #2683bc !important;
    line-height: 24px;
    padding: 0 14px;
}

/* Dropdown button */
.wl-dropdown-button {
    color: #666  !important;
    &:hover, &:focus {
        > div {
            background: image-url("dropdownarrow_icon_hover.png") no-repeat top left transparent;
            color: #666 !important;
        }
    }
    > div {
        width: 16px;
        height: 16px;
        margin-left: 7px;
        float: right;
        background: image-url("dropdownarrow_icon.png") no-repeat top left transparent;
    }
}

/* Overlay buttons */
.wl-button.wl-overlay-button {
    background: image-url("button_overlay_default.png") repeat-x scroll left top transparent;
    border: 1px solid #E0E3E5;
    font-size: 11px;
    font-weight: bold;
    height: 24px;
    margin-left: 15px;
    @include box-shadow($h_shadow: 0, $v_shadow: 1px, $blur: 1px, $spread: 0, $color: #999999, $outerinner: "");
    text-shadow: 0 2px 3px #fff;
    color: #2683bc;
    &:hover, &:focus {
        background: image-url("button_overlay_hover.png") repeat-x scroll left top transparent;
        color: #999;
    }
}

.wl-button.wl-overlay-button[disabled] {
    color: #ccc;
    &:hover, &:focus {
        background: image-url("button_overlay_default.png") repeat-x scroll left top transparent;
        cursor: auto;
    }
}

/* Large in-page buttons */
.wl-button.wl-large-button {
    background: image-url("button_large_default.png") repeat-x scroll left top transparent;
    height: 31px;
    padding: 0 7px;
    border: 1px solid #e0e3e5;
    color: #2683bc;
    @include box-shadow($h_shadow: 0, $v_shadow: 1px, $blur: 1px, $spread: 0, $color: #999999, $outerinner: "");
    text-shadow: 0 2px 3px #fff;
    font-size: 13px;
    &:hover, &:focus {
        background: image-url("button_large_hover.png") repeat-x scroll left top transparent;
        color: #999;
    }
}

/* Small in-page button*/
.wl-button.wl-inpage-button {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E0E3E5;
    @include box-shadow($h_shadow: 0, $v_shadow: 0, $blur: 4px, $spread: -2px, $color: #a8a8a8, $outerinner: inset);
    font-size: 10px;
    font-weight: bold;
    height: 23px;
    padding: 0 5px;
}

.wl-inpage-button {
    &:hover, &:focus {
        background: image-url("button_inpage_hover.png") repeat-x left top #e9edf0;
        color: #999;
    }
}

.wl-inpage-button[disabled] {
    &:hover, &:focus {
        background: none repeat scroll 0 0 #FFFFFF;
        color: #999;
    }
}

/* Header buttons */
.wl-button.wl-header-button {
    background: #fff;
    border: 1px solid #e0e3e5;
    @include box-shadow($h_shadow: 0, $v_shadow: 0, $blur: 4px, $spread: -2px, $color: #a8a8a8, $outerinner: inset);
    &:hover, &:focus {
        background: image-url("button_header_hover.png") repeat-x scroll left -1px transparent;
        border: 1px solid #E0E3E5;
        @include box-shadow($h_shadow: "", $v_shadow: "", $blur: "", $spread: "", $color: "", $outerinner: "");
    }
}

.wl-button.wl-header-button[disabled] {
    background: #fff;
    color: #ccc;
    cursor: auto;
    &:hover, &:focus {
        background: #fff;
        @include box-shadow($h_shadow: 0, $v_shadow: 0, $blur: 6px, $spread: -2px, $color: #a8a8a8, $outerinner: inset);
        border: 1px solid #e0e3e5;
    }
}

a.wl-button.wl-header-button {
    display: inline-block;
    height: 24px;
    line-height: 24px;
}

/* Link buttons */
.wl-link-button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #2683bc;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
    text-align: left;
    &:hover, &:focus {
        color: #999;
        cursor: pointer;
        text-decoration: none;
    }
}

.wl-link-button::-moz-focus-inner {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Errors */
.wl-form-field-wrapper {
    input.wl-error,
    textarea.wl-error,
    input.wl-error-after,
    textarea.wl-error-after,
    div.wl-error {
        border: 3px solid #cc0000 !important;
    }
    span.wl-error {
        background-color: #cc0000;
        border: 3px solid #cc0000;
        color: #fff;
        clear: both;
        display: block;
        padding: 0 5px;
        &:first-letter {
            text-transform: uppercase;
        }
    }
}

/***********/
/* DIALOGS */
/***********/
.jqmOverlay {
    background-color: #000000;
    opacity: 0.5 !important;
}

.wl-dialog {
    color: #333;
    display: none;
    left: 50%;
    margin-left: -250px;
    position: absolute;
    top: 50px;
    width: 500px;
}

.wl-dialog-container {
    background-color: #fff;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    color: #333;
    font-size: 12px;
    padding: 7px 20px 12px;
    .wl-dialog-close {
        background: image-url("dialog_close.png") no-repeat top left transparent;
        cursor: pointer;
        float: right;
        height: 17px;
        margin: -2px -15px 0 0;
        width: 19px;
        &:hover, &:focus {
            background: image-url("dialog_close.png") no-repeat left -19px transparent;
        }
    }
    .dialog_actions {
        float: right;
    }
    h1.wl-dialog-header {
        border-bottom: 1px dotted #d4d4d4;
        color: #666;
        font-size: 19px;
        font-weight: normal;
        padding-bottom: 11px;
        margin-bottom: 15px;
        margin-left: 0;
    }
}

.form_section_container {
    background: image-url("form_bg.png") repeat-x scroll left top #e3e3e2;
    border: 1px solid #E2E2E2;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 0;
    padding: 15px;
    p {
        margin: 7px 0;
    }
    input {
        margin-right: 10px;
        width: 300px;
    }
}

/* Video overlay */
#videocontent_overlay_container {
    background-color: #efefef;
    @include border-radius($topLeft: 3px, $topRight: 3px, $bottomRight: 3px, $bottomLeft: 3px);
    @include box-shadow($h_shadow: 0, $v_shadow: 0, $blur: 40px, $spread: 0, $color: #222222, $outerinner: "");
    height: 375px;
    margin: 0pt auto;
    position: fixed;
    padding: 7px;
    width: 636px;
    z-index: 1001;
}

#videocontent_overlay {
    background-color: #000;
    height: 100%;
    opacity: 0.6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Loading overlay */
.wl-loading {
    h1.wl-dialog-header {
        margin-bottom: 12px;
        text-align: center;
    }
    .wl-loader {
        margin: 12px 0 15px;
        padding: 35px 0;
        img {
            margin-left: 156px;
        }
    }
}

/****************/
/* INPUT FIELDS */
/****************/

input[type=text], input[type=email], input[type=password], input[type=url] {
    border: 1px solid #D4D4D4;
    height: 14px;
    padding: 5px;
}

textarea {
    border: 1px solid #d4d4d4;
    padding: 5px;
}

/**********/
/* FOOTER */
/**********/
#footer_container {
    background: image-url("footer_shadow.png") no-repeat scroll center top transparent;
    color: #454a4f;
    font-size: 11px;
    margin-bottom: 20px;
    padding: 15px 5px 5px;
    position: relative;
    width: 950px;
    z-index: 2;
    #footer_logo {
        background: image-url("footer_logo.png") no-repeat scroll 0 3px transparent;
        width: 43px;
        height: 28px;
        float: left;
        margin-right: 15px;
        float: left;
    }
    #footer_menu {
        float: right;
        margin-top: 12px;
        a {
            margin-left: 40px;
        }
    }
}

/************************/
/* USER ACTIONS TOP BAR */
/************************/
#widgetlibrary_useractions {
    background-color: #333;
    height: 6px;
    position: relative;
    width: 960px;
    z-index: 2;
    #useractions_container {
        background-color: #333;
        @include border-radius($topLeft: 0, $topRight: 0, $bottomRight: 5px, $bottomLeft: 5px);
        margin-right: 24px;
        padding: 0 10px 0;
        position: absolute;
        right: 0;
        ul {
            font-size: 11px;
            list-style-type: none;
            li {
                display: inline-block;
                float: left;
                margin-right: 2px;
                > span, > a, > button {
                    color: #ccc;
                    display: block;
                    padding: 9px 22px;
                    text-decoration: none;
                }
                > span a {
                    color: #ccc;
                    text-decoration: none;
                }
                &.opened > button {
                    color: #fff;
                }
            }
            li.selected {
                background: image-url("navigation_item_selected.png") repeat-x top left transparent;
                a, button {
                    color: #FFF;
                }
            }
        }
        input[type=submit] {
            float: right;
        }
        #useractions_arrow_down {
            background: image-url("arrow_down.png") no-repeat top left transparent;
            float: right;
            height: 10px;
            margin: 2px 0 0 9px;
            width: 10px;
        }
        #useractions_login_fields {
            @include border-radius($topLeft: 0, $topRight: 0, $bottomRight: 5px, $bottomLeft: 5px);
            margin-left: -112px;
            margin-top: 0;
            position: absolute;
            width: 200px;
            z-index: 11000;
            #useractions_login_button_login {
                float: right;
            }
            #useractions_login_fields_password {
                margin-bottom: 14px;
            }
            .wl-split-line {
                margin: 15px 0;
            }
            #useractions_login_button_signing_in {
                float: right;
            }
        }
    }
}

/******************/
/* DROPDOWN LISTS */
/******************/
.wl-dropdown-menu {
    &:hover, &:focus, &.opened {
        background: image-url("navigation_item_selected.png") repeat-x scroll left top transparent;
        > a {
            color: #fff !important;
        }
    }
}

.wl-dropdown-menu-content-container {
    background-color: #F3F3F3;
    color: #666;
    display: block;
    margin: 0;
    padding: 2px 7px 10px;
    @include border-radius($topLeft: 2px, $topRight: 2px, $bottomRight: 2px, $bottomLeft: 2px);
    input[type=text], input[type=password] {
        width: 94%;
    }
    label {
        clear: both;
        display: block;
        margin: 7px 0 5px;
    }
    .useractions_forgot_username {
        display: block;
        margin-top: 10px;
    }
    .wl-error {
        width: 170px !important;
    }
}

.wl-dropdown-container {
    background: image-url("dropdown_list_bg.png") repeat-x scroll left top #0c4e79;
    @include box-shadow($h_shadow: 0, $v_shadow: 10px, $blur: 10px, $spread: -3px, $color: #333333, $outerinner: "");
    cursor: auto;
    min-width: 140px;
    padding: 5px;
    position: absolute;
    z-index: 999;
}

/*******************/
/* HEADER BRANDING */
/*******************/
#widgetlibrary_header_branding_link {
    display: block;
    width: 35%;
    #widgetlibrary_header_branding {
        background: image-url("header_branding.png") no-repeat bottom left transparent;
        height: 60px;
        width: 100%;
    }
}

/**************/
/* NAVIGATION */
/**************/
#widgetlibrary_navigation {
    background: image-url("navigation_bg.png") repeat-x top left transparent;
    height: 36px;
    margin-top: 7px;
    width: 100%;
    ul {
        margin: 0;
        li {
            a {
                color: #fff;
                display: block;
                font-size: 13px;
                padding: 15px 5px 6px 10px;
                text-decoration: none;
                width: 95px;
            }
            &.navigation_item, &.navigation_item.selected {
                background: image-url("navigation_item_bg.png") repeat-x top left transparent;
                border-right: 2px solid #fff;
                display: inline-block;
                height: 36px;
                list-style-type: none;
                float: left;
                width: 110px;
            }
            &.navigation_item {
                &.selected, &:hover, &:focus {
                    background: image-url("navigation_item_selected.png") repeat-x top left transparent;
                }
            }
        }
    }
    #search_widgets {
        background: image-url("search_icon.png") no-repeat scroll 6px center white;
        border: 1px solid #D6D4D4;
        @include border-radius($topLeft: 4px, $topRight: 4px, $bottomRight: 4px, $bottomLeft: 4px);
        color: #666;
        float: right;
        font-size: 12px;
        height: 24px;
        padding: 0 10px 0 30px;
        width: 232px;
    }
    #search_widgets_search_results {
        @include border-radius($topLeft: 0, $topRight: 0, $bottomRight: 5px, $bottomLeft: 5px);
        margin-left: 635px;
        margin-top: 5px;
        position: absolute;
        width: 274px;
        z-index: 10000;
        #search_widgets_results_container {
            background: image-url("search_bg.png") repeat-x scroll left bottom #f3f3f3;
            border: 1px solid #D6D4D4;
            border-bottom: none;
            @include box-shadow($h_shadow: 0, $v_shadow: 8px, $blur: 15px, $spread: -2px, $color: #555555, $outerinner: "");
            margin-top: 22px;
            padding: 12px 3px 5px;
        }
        #search_widgets_results_bottom_container {
            background-color: #F3F3F3;
            border: 1px solid #D6D4D4;
            border-top: none;
            @include border-radius($topLeft: 0, $topRight: 0, $bottomRight: 5px, $bottomLeft: 5px);
            @include box-shadow($h_shadow: 0, $v_shadow: 8px, $blur: 15px, $spread: -2px, $color: #555555, $outerinner: "");
            height: 32px;
            padding: 4px 3px 0 12px;
        }
        #search_widgets_results_container ul {
            margin: 5px 0 15px;
            list-style: none;
        }
        #search_widgets_results_container ul li {
            padding: 2px 12px;
            font-size: 11px;
        }
        #search_widgets_results_container ul li.selected {
            background-color: #D3EDF5;
        }
        #search_widgets_results_container ul li a {
            color: #2683BC;
            font-size: 11px;
            margin-top: 2px;
            padding: 0;
            text-decoration: none;
            width: auto;
        }
        .wl-button {
            float: right;
            height: 17px;
            padding-top: 6px;
        }
        #search_widgets_results_bottom_content {
            color: #636363;
            display: block;
            padding-top: 7px;
        }
        .search_widgets_widgeticon {
            float: left;
            height: 16px;
            margin-right: 12px;
            width: 16px;
        }
        .wl-split-line {
            margin: 3px 12px;
        }
    }
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #7c7b7b;
    font-style: italic;
    font-size: 11px;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #7c7b7b;
    font-style: italic;
    font-size: 11px;
}

.pagination {
    cursor: default;
    margin-top: 10px;
    text-align: center;
    padding: 0.3em;
    a, span, em {
        padding: 0.2em 0.5em;
    }
    .disabled {
        color: #aaaaaa;
    }
    .current {
        color: #000;
        font-style: normal;
        font-weight: bold;
    }
    a {
        border: 1px solid #dddddd;
        color: #2683BC;
        text-decoration: none;
        &:hover, &:focus {
            background: #2683BC;
            border-color: #fff;
            color: white;
        }
    }
    .page_info {
        color: #aaaaaa;
        padding-top: 0.8em;
    }
    .previous_page, .next_page {
        border-width: 2px;
    }
    .previous_page {
        margin-right: 1em;
    }
    .next_page {
        margin-left: 1em;
    }
}

#error_container {
    text-align: center;
    h1 {
        font-size: 72px;
        text-shadow: 2px 3px 6px #CCC;
    }
}

@import "core/widget_list.css.scss";
@import "core/submitwidget.css.scss";
