@import "mixins.css.scss";

/* Library */
.wl-content-container#library_container {
  background: image-url("library_bg.png") repeat-x scroll center top transparent;
  padding-top: 0;
}

.wl-page-container {
  padding: 0 22px 0;
}

#library_widgets {
  border-left: 1px solid #c4c4c4;
  @include box-shadow($h-shadow: -4px, $v-shadow: 4px, $blur: 7px, $spread: -4px, $color: #888, $outerinner: "");
  position: relative;
}

.wl-widget-item .wl-rating-container {
  clear: both;
}

.wl-widget-item p {
  clear: both;
  margin-top: 10px;
  font-size: 12px;
}
