@import "mixins.css.scss";

.home.index {
    /* Index */
    .wl-content-container#index_container {
        background: image-url("container_bg.png") no-repeat scroll center top transparent;
        @include border-radius(12px 12px 0 0);
    }
    /************/
    /* CAROUSEL */
    /************/
    #widgetlibrary_carousel {
        background: image-url("carousel_bg.png") repeat-x bottom left #f0f0f0;
        height: 368px;
        width: 730px;
        .slides_container {
            height: 318px;
            width: 730px;
        }
        .widgetlibrary_homecarousel_pane {
            @include border-radius(5px);
            display: block;
            height: 318px;
            width: 730px;
        }
        #carousel_state1 {
            background: image-url("carousel_state1_bg.jpg") no-repeat top left transparent;
            h2 {
                padding-top: 155px;
            }
        }
        #carousel_state2 {
            background: image-url("carousel_state2_bg.jpg") no-repeat top left transparent;
            h2 {
                padding-top: 15px;
            }
        }
        #carousel_state3 {
            background: image-url("carousel_state3_bg.jpg") no-repeat top left transparent;
            h1 {
                margin-top: 0;
                padding-top: 0;
            }
            h1.size-30 {
                font-size: 30px;
                padding-top: 20px;
                margin-bottom: 0;
            }
            h2 {
                padding-top: 120px;
                width: 510px;
            }
            .wl-link-button {
                margin-top: 15px;
            }
        }
        .carousel_choice {
            display: block;
            float: left;
            height: 50px;
            line-height: 50px;
            text-align: center;
            width: 243px;
            a {
                color: #6E6E6E;
                display: block;
                text-decoration: none;
                font-size: 16px;
            }
        }
        .carousel_choice_arrow {
            background: image-url("carousel_arrow_down.png") no-repeat scroll center top transparent;
            height: 50px;
            position: absolute;
            width: 243px;
        }
        h1 {
            color: #e4e3e3;
            display: block;
            font-size: 24px;
            font-weight: normal;
            margin-left: auto;
            margin-right: auto;
            padding-top: 20px;
            text-align: center;
            text-shadow: 0px 1px 1px #333;
            width: 600px;
        }
        h2 {
            color: #434343;
            display: block;
            font-size: 14px;
            font-weight: normal;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            text-shadow: 0 0 1px #bbb;
            width: 430px;
        }
    }
    /****************/
    /* MOST POPULAR */
    /****************/
    #widgetlibrary_toprated {
        float: left;
        .wl-widget-item {
            position: relative;
            .wl-rating-container {
                bottom: 10px;
                clear: both;
                position: absolute;
            }
        }
        #home_footer {
            float: left;
            height: 30px;
            margin-top: 15px;
            text-align: center;
            width: 100%;
            #show_more {
                height: auto;
                margin: 5px auto 5px;
                padding: 7px;
            }
        }
    }
    /******************/
    /* RECENTLY ADDED */
    /******************/
    #widgetlibrary_recentlyadded {
        margin-top: 0;
        .wl-widget-item {
            background-color: #fff;
            height: 40px;
            padding: 8px;
            width: 130px;
        }
        .wl-widget-item-icon {
            height: 40px;
            width: 40px;
        }
    }
    /*************/
    /* TOP RATED */
    /*************/
    #widgetlibrary_mostpopular .wl-widget-item {
        background-color: #fff;
        height: 40px;
        padding: 8px;
        width: 130px;
        .wl-rating-container {
            clear: none;
            padding-top: 7px;
        }
        .wl-widget-item-icon {
            height: 40px;
            width: 40px;
        }
    }
}
