.mywidgets {
  h1 {
    font-size: 24px;
    font-weight: bold; }
  #mywidgets_status {
    width: 666px;
    padding: 20px;
    p {
      font-size: 16px;
      line-height: 18px; }
    #mywidgets_approved {
      background: image-url("tick_icon_large.png") no-repeat scroll left top transparent;
      h1 {
        background: image-url("congratulations_text.png") no-repeat scroll left top transparent; } }
    #mywidgets_declined {
      background: image-url("exclamation_icon_large.png") no-repeat scroll left top transparent;
      h1 {
        background: image-url("oops_text.png") no-repeat scroll left top transparent; } }
    #mywidgets_status_icon {
      height: 41px;
      padding-top: 8px;
      h1 {
        display: block;
        height: 24px;
        width: 280px;
        margin-left: 45px; } } }
  .wl-page-container {
    padding: 0 22px; }
  .wl-content-container {
    padding-top: 0;
    background: image-url("library_bg.png") repeat-x scroll center top transparent; }
  .wl-widget-item {
    width: 148px; }
  #submitwidget {
    margin-left: 10px; } }
  table {
    border-collapse:collapse;
    width:100%;
    tr {
      td, th {
        padding:4px;
        border:1px solid black;
        &.spacer {
          border:none;
        }
      }
    }
  }
