.devise_passwords {
    h2 {
        margin-bottom: 20px;
    }
    .wl-content-container {
        label {
            float: left;
            line-height: 30px;
            width: 150px;
        }
        input[type="email"], input[type="password"] {
            float: left;
            margin-bottom: 10px;
            width: 200px;
        }
        span.wl-error {
            margin-left: 150px;
            width: 200px;
        }
    }
}
