@import "mixins.css.scss";

#register_container {
    background: image-url("container_bg.png") no-repeat scroll center top transparent;
    @include border-radius($topLeft: 12px, $topRight: 12px, $bottomRight: 0, $bottomLeft: 0);
    padding-left: 20px;
    padding-right: 20px;
}

#register_container .wl-inset-shadow-container {
     background: image-url("inset_shadow_container_opacity_bg.png") repeat-x scroll left top transparent;
     padding:8px 18px 20px;
}

#register_container > h1 {
    color: #666666;
    font-size: 27px;
    margin:0 0 15px;
    text-align: center;
    margin-left:0;
}

h1 {
    font-size: 20px;
    margin: 4px 0 20px 0;
}

h2 {
    clear:both;
    border-bottom: 1px solid #D4D4D4;
    color: #666;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 9px;
    padding-bottom: 10px;
}

.register_form_splitter {
    margin: 15px 0;
}

.account_inputfields, .account_labels {
    float:left;
    width:210px;
    line-height: 31px;
}

.account_labels {
    width:110px;
    font-size:12px;
    color:#666;
}

.account_inputfields input {
    height: 16px;
    margin-bottom: 10px;
    width: 180px;
}

.account_inputfields input:first-child {
    margin-top:2px;
}

.account_inputfields input, .account_labels label {
    display:block;
    margin-top: 5px;
}

.register_column1, .register_column2, .register_column3 {
    label {
        font-size:12px;
        color:#666;
    }
    input {
        margin-top:5px;
    }
}

.register_column2, .register_column3 {
    margin-left:25px;
    width:340px;
    float:left;
}

.register_column1 {
    width:110px;
    min-height:20px;
    float:left;
    a.wl-button{
        margin-top: 5px;
        color:#2683BC;
        width: 85px;
    }
    img {
        border:1px solid #dbdada;
    }
}

.register_column2 {
    #register_basic {
        height:70px;
        margin-bottom:7px;
    }
    #register_summary {
        height:105px;
    }
    textarea {
        width:97%;
    }
}

.register_column3 {
    div {
        float:left;
        width:150px;
    }
    #register_details_labels {
        width:100px;
    }
    label, input {
        display:block;
        line-height:30px;
    }
    input, select {
        width:230px;
    }
}

#captcha {
    background:image-url("recaptcha_example.jpg") no-repeat top left transparent;
    border:1px solid #dbdada;
    width:353px;
    height:97px;
    float:left;
    margin:0 20px 0 25px;
}

#create_account_button {
    margin-top:65px;
}

#error_explanation {
    border:4px solid red;
    margin-bottom:20px;
    h2 {
        padding:10px;
        background-color:red;
        color:black;
    }
    ul {
        padding:10px;
        margin:0;
        li {
            margin-left:10px;
        }
    }
}