@import "mixins.css.scss";

.devise_registrations, .registrations, .submit {
  #register_container {
    background: image-url("container_bg.png") no-repeat scroll center top transparent;
    @include border-radius($topLeft: 12px, $topRight: 12px, $bottomRight: 0, $bottomLeft: 0);
    padding-left: 20px;
    padding-right: 20px; }
  #register_container .wl-inset-shadow-container {
    background: image-url("inset_shadow_container_opacity_bg.png") repeat-x scroll left top transparent;
    padding: 8px 18px 20px; }
  #register_container > h1 {
    color: #666666;
    font-size: 27px;
    margin: 0 0 15px;
    text-align: center;
    margin-left: 0; }
  h1 {
    font-size: 20px;
    margin: 4px 0 20px 0; }
  h2 {
    clear: both;
    border-bottom: 1px solid #D4D4D4;
    color: #666;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 9px;
    padding-bottom: 10px; }
  .register_form_splitter {
    margin: 15px 0; }
  .account_inputfields, .account_labels {
    float: left;
    width: 210px; }
  .account_labels {
    width: 110px;
    font-size: 12px;
    color: #666;
    label {
      height: 26px;
      margin-bottom: 7px; } }
  .account_inputfields {
    input {
      height: 16px;
      margin-bottom: 5px;
      width: 180px; }
    span.wl-error {
      width: 180px; } }
  .account_inputfields input:first-child {
    margin-top: 2px; }
  .account_inputfields input {
    display: block; }
  .account_labels label {
    display: block;
    margin-top: 6px;
    &.wl-error {
      margin-top: 33px; } }
  .register_column1, .register_column2, .register_column3 {
    label {
      font-size: 12px;
      color: #666; }
    input {
      margin-top: 5px; } }
  .register_column2, .register_column3 {
    width: 407px;
    float: left; }
  .register_column3 {
    margin-left: 25px; }
  .register_column1 {
    min-height: 20px;
    .wl-button, input[type=file] {
      margin-bottom: 20px; }
    a.wl-button {
      color: #2683BC;
      width: 85px;
      margin-top: 5px; }
    img {
      border: 1px solid #dbdada;
      display: block; } }
  .register_column2 {
    .register_basic {
      height: 70px;
      margin-bottom: 7px; }
    .register_summary {
      height: 105px; }
    textarea {
      width: 97%; }
    label {
      line-height: 30px;
      margin-top: 3px; } }
  .register_column3 {
    div {
      float: left;
      width: 150px; }
    label, input {
      display: block;
      line-height: 30px; }
    input, select {
      width: 230px; } }
  #check_username_result {
    float: left;
    font-weight: bold;
    margin: 10px 5px;
    &.available {
      color: #55AA55; }
    &.unavailable {
      color: #fbb800; } }
  #user_recaptcha_container {
    float: left;
    #user_recaptcha_error {
      width: 431px; }
    #user_recaptcha {
      width: 441px;
      height: 108px;
      float: left;
      margin-right: 25px;
      border: 1px solid #D4D4D4;
      .recaptchatable {
        border: 0 !important;
        #recaptcha_response_field {
          padding: 5px;
          border: 1px solid #D4D4D4 !important;
          font-size: 11px; } } } }
  #create_account_button {
    margin-top: 65px; }
  #user_current_password_error {
    margin-left: 120px;
    width: 200px; }
  #user_current_password {
    width: 200px;
    float: left;
    margin-top: 0; }
  label[for="user_current_password"] {
    float: left;
    width: 120px;
    line-height: 29px; }
  &.edit {
    #create_account_button {
      margin-top:-5px; } } }