@import "mixins.css.scss";

.sdk {
    p {
        line-height: 1.4em;
    }
    code{
        word-wrap: break-word;
    }
    .wl-content-container#developer_container {
        background: image-url("container_bg.png") no-repeat scroll center top transparent;
        @include border-radius(12px 12px 0 0);
        padding: 25px 15px 20px;
    }
    #developer_artwork {
        background: image-url("developer_artwork.png") no-repeat scroll center top transparent;
        height: 229px;
        margin-left: 440px;
        margin-top: -34px;
        position: absolute;
        width: 483px;
        z-index: -1;
    }
    #developer_introduction {
        float: left;
        width: 570px;
        .wl-button {
            color: #2683BC;
            margin-top: 20px;
        }
        h1, h2 {
            color: #666;
            font-size: 27px;
            margin: 0;
            text-shadow: 0 1px 1px #CCCCCC;
        }
        h2 {
            font-size: 24px;
            font-weight: normal;
            letter-spacing: -1px;
            margin-bottom: 15px;
        }
        p {
            color: #666666;
            font-size: 14px;
        }
    }
    #developer_videocontent {
        float: right;
        height: 160px;
        margin-top: 8px;
        padding: 7px 0 0 7px;
        width: 277px;
        #developer_videocontent_container {
            background: image-url("developer_dummy_image.jpg") no-repeat top left transparent;
            @include border-radius(2px);
            cursor: pointer;
            height: 152px;
            width: 269px;
        }
        h1 {
            color: #666;
            font-size: 19px;
            font-weight: normal;
            margin: 15px 0 0;
        }
    }
    #developer_wheretobegin_container {
        background: image-url("library_shorter_bg.png") repeat-x scroll center top transparent;
        @include border-radius(5px 5px 0 0);
        margin-top: 25px;
        padding: 15px;
        .wl-widget-item {
            height: 110px;
            margin: 0 9px 3px 0;
            padding: 15px 10px 11px;
            width: 187px;
            img {
                float: right;
                width: 70px;
            }
            p {
                clear: none;
                font-size: 12px;
                margin-bottom: 8px;
            }
            .wl-regular-link {
                font-size: 12px;
            }
            h1 {
                color: #666666;
                font-size: 17px;
                font-weight: bold;
                margin-bottom: 10px;
                letter-spacing: -0.02em;
            }
        }
        .wl-widget-item.last {
            margin-right: 0;
        }
        .developer_threecolumn {
            border-left: 1px solid #e2e2e2;
            color: #666666;
            float: left;
            font-size: 12px;
            margin-top: 25px;
            padding: 3px 23px 12px;
            width: 254px;
            h1 {
                color: #666666;
                font-size: 19px;
                font-weight: normal;
                margin: 0 0 15px;
            }
            p {
                margin-bottom: 8px;
            }
        }
        .developer_threecolumn.first {
            border-left: none;
            padding-left: 0;
        }
        .developer_threecolumn.last {
            padding-right: 0;
        }
    }
}

@import "sdk/widgetsdk.css.scss";
@import "sdk/colorpalette.css.scss";
