@import "mixins.css.scss";

#submitwidget {
  display:inline-block;
  background: image-url("submit_widget_bg.jpg") repeat-x top left transparent;
  @include border-radius($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px);
  height: 217px;
  margin-top: 20px;
  width: 165px;
    #submitwidget_description {
      color: #666;
      font-size: 12px;
      line-height: 13px;
      margin: 117px auto 15px;
      padding: 0 13px;
    }
}