@import "registrations.css.scss";

.submit {
  #submit_container {
    background: image-url("library_bg.png") repeat-x scroll center top transparent;
    padding: 20px;
    color: #333333;
    font-size: 12px;
    margin-top: 20px; }
  h2 {
    margin-top: 15px;
    margin-bottom: 20px; }
  h2.second_column {
    border-bottom: medium none;
    clear: none;
    left: 480px;
    margin-top: 0;
    position: absolute; }
  h3 {
    color: #666; }
  h4 {
    color: #666;
    margin: 15px 0 10px; }
  .submit_descriptive_text {
    color: #666;
    font-size: 11px;
    display: block; }
  span.submit_descriptive_text {
    margin-bottom: 2px; }
  p {
    margin: 7px 0; }
  button {
    color: #2683BC; }
  #submit_container_artwork {
    background: image-url("submit_widget_artwork.png") repeat-x scroll center top transparent;
    height: 96px;
    margin-top: -20px;
    position: absolute;
    right: 20px;
    width: 578px; }
  #submit_widget_buttons {
    float: right;
    margin-top: 10px; }
  .submit_container_split {
    float: left;
    width: 50%;
    button {
      margin-left: 10px; }
    input {
      width: 260px; }
    #widget_source_url {
      margin-top: 3px;
      + p {
        margin-top: 26px; } } }
  .register_column2 {
    .submit_widget_name, .submit_version_number_title {
      margin-bottom: 7px; }
    .register_summary {
      margin-bottom: 12px; } }
  .register_column3 {
    #submitdetails_input {
      width: 258px; }
    label {
      line-height: 27px; }
    select {
      width: 150px;
      float: left; }
    input {
      width: 200px; }
    .wl-button {
      float: left;
      margin-left: 10px; } }
  .register_column1, .register_column2, .register_column3 {
    h2 {
      margin-bottom: 9px; } }
  .register_column2, .register_column3 {
    width: 358px; }
  #submit_screenshot_container {
    float: left;
    margin-bottom: 10px; }
  #submit_main_screenshot {
    border: 1px solid #BEBDBD;
    height: 298px;
    width: 538px; }
  #submit_screenshots_thumbs {
    clear: both;
    display: block;
    margin-top: 5px;
    img {
      width: 98px;
      height: 48px;
      border: 1px solid #BEBDBD;
      cursor: pointer; }
    .submit_screenshots_thumb {
      width: 100px;
      height: 60px;
      float: left;
      margin-right: 7px; }
    img.selected {
      cursor: default; }
    img.selected + div {
      background-color: #00c2ff;
      height: 7px;
      width: 100px;
      position: absolute; } }
  #submit_screenshot_uploadfields {
    float: left;
    width: 310px;
    margin-left: 25px;
    .submit_descriptive_text {
      margin-top: 12px; }
    input {
      display: block;
      margin-top: 10px;
      width: 260px; } } }
