.user {
    #edit_profile_button {
        float: right;
        margin-right: 20px;
    }
    #developer_container.wl-content-container {
        background: image-url("library_bg.png") repeat-x scroll center top transparent;
    }
    .wl-widget-item {
        width: 148px;
        .wl-rating-container {
            clear: both;
        }
    }
    #developer_description_container {
        margin: 0 20px 20px;
        > img {
            float: left;
            height: 100px;
            margin: 10px 20px 0 0;
            width: 100px;
        }
        #developer_description {
            color: #666;
            float: left;
            overflow: auto;
            width: 600px;
            h1 {
                color: #666;
                font-size: 23px;
                font-weight: bold;
                letter-spacing: -1px;
                margin-left: 0;
            }
            h1 + p {
                line-height: 17px;
                font-size: 13px;
            }
            p {
                margin-bottom: 12px;
                font-size: 0.9em;
            }
            #developer_details {
                clear: both;
                margin-bottom: 35px;
                font-size: 12px;
                width: 420px;
                h2 {
                    color: #666;
                    font-size: 13px;
                    margin-top: 25px;
                }
                .developer_details_left {
                    width: 240px;
                }
                div {
                    float: left;
                    min-height: 22px;
                    width: 180px;
                }
                .wl-rating-container {
                    height: 0;
                    margin-top: -3px;
                    padding-top: 0;
                }
            }
        }
    }
}
