@import "mixins.css.scss";

.wl-page-container {
    padding: 0 22px 0;
}

#widgetsdk_container.wl-content-container {
    background: image-url("library_bg.png") repeat-x scroll center top transparent;
    padding-top: 0;
    color: #666;
    font-size:14px;
    #widgetsdk_content {
        h1, .wl-widget-item h2 {
            border-bottom: 1px solid #E2E2E2;
            color: #666666;
            font-size: 20px;
            padding-bottom: 5px;
            margin-bottom:17px;
            margin-top: 10px;
        }
        p {
            margin-bottom:10px;
        }
        .wl-widget-item {
            width: auto;
            height: auto;
            margin-top: 5px;
            font-size:13px;
            h2 {
                border-bottom: medium none;
                font-size: 18px;
                font-weight: normal;
                margin-bottom: 5px;
            }
            p {
                font-size:14px;
            }
            .descriptive_icon {
                float: left;
                height: 72px;
                width: 72px;
            }
            .descriptive_text {
                overflow: auto;
                padding-left: 15px;
            }
            #widgetbuilder_category_dropdown {
                margin-left: 25px;
            }
            #widgetbuilder_description {
                width: 450px;
                height: 70px;
                margin-bottom:10px;
            }
            #widgetbuilder_options {
                input {
                    float: left;
                    margin: 3px 7px 0 0;
                }
                label {
                    display:block;
                    font-size: 14px;
                    margin-bottom: 7px;
                }
                + .wl-split-line {
                    margin: 20px 0 15px;
                }
            }
        }
        .wl-widget-item.first {
            margin-top: 20px;
        }
        .widgetsdk_split_container {
            width:330px;
            float:left;
            padding-bottom: 15px;
            input {
                width: 96%;
            }
        }
        .widgetsdk_split_container.last {
            margin-left:20px;
        }
    }
}

#widgetsdk_content {
    @include box-shadow($h-shadow: -4px, $v-shadow: 4px, $blur: 7px, $spread: -4px, $color: #888, $outerinner: "");
    position: relative;
    border-left: 1px solid #c4c4c4;
    min-height:515px;
}

#widgetbuilder_create {
    float:right;
    margin-bottom: 10px;
}

#widgetbuilder_widgetloading, #widgetbuilder_downloadwidget {
    h1 {
        text-align: center;
        margin-bottom: 12px;
    }
    #widgetbuilder_loader, #widgetbuilder_built {
        height: 70px;
        margin:12px 0 15px;
        img {
            height: 20px;
            margin: 26px 0 0 146px;
            width: 188px;
        }
    }
    #widgetbuilder_built {
        text-align: center;
        img {
            width:17px;
            height:17px;
            margin: 0 12px 0 0;
            float: left;
        }
        p {
            background: image-url("tick_icon_small.png") no-repeat scroll left top transparent;
            display: inline-block;
            line-height: 19px;
            margin-top: 25px;
            padding-left: 24px;
            text-align: left;
        }
    }
    button.jqmClose {
        font-size: 13px;
    }
    p {
        color: #666666;
        font-size: 13px;
        text-align: center;
    }
}