<!DOCTYPE html>
<html>
<head>
  <title>Sakai OAE Widget Store</title>
  <%= stylesheet_link_tag "core" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
