<p>Hi <%= @resource.first_name %>,</p>

<p>Here are your account retrieval instructions you requested for the Sakai Widget Library.</p>

<p>Your username is: <%= @resource.username %></p>
<p>Click <%= link_to 'here', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %> to reset your password</p>

<p>If you didn't request this, please ignore this email.</p>

<p>Your password won't change until you access the link above and create a new one.</p>

<p>Thanks!</p>
<p>- The Sakai team</p>
