<% content_for :title do %> - Edit your account<% end %>
<div class="wl-content-container" id="register_container">
    <div class="wl-inset-shadow-container">
        <h1>Edit your account</h1>
        <%= render :partial => "users/registrations/form" %>
    </div>
</div>

