<% content_for :title do %> - Register<% end %>
<div class="wl-content-container" id="register_container">
    <h1>Register as a developer and submit your own widgets to Sakai</h1>
    <div class="wl-inset-shadow-container">
        <h1>Create new account</h1>
        <%= render :partial => "users/registrations/form" %>
    </div>
</div>